<div class="col-xs-12">
    <dl class="dl-horizontal">
        <dt>Vorname</dt>
        <dd>{{ participant.nameFirst }}</dd>
        <dt>Nachname</dt>
        <dd>{{ participant.nameLast }}</dd>
        <dt>Geschlecht</dt>
        <dd>{{ participant.getGender() }}</dd>
        <dt>Geburtsdatum</dt>
        <dd>
            {{ participant.getBirthday|date("d.m.Y") }}
            {% if (participant.hasBirthdayAtEvent) %}
                {{ 'gift'|glyph(participant.nameFirst ~ ' hat während der Veranstaltung Geburtstag') }}
            {% endif %}
        </dd>
        <dt>Alter</dt>
        <dd><span data-toggle="tooltip" title="{{ participant.nameFirst }} hat zu Beginn der Veranstaltung das {{ participant.yearsOfLifeAtEvent }}.&nbsp;Lebensjahr erreicht">{{ participant.yearsOfLifeAtEvent }} Jahre</span> (rund {{ participant.getAgeAtEvent|number_format(1) }} Jahre)
        </dd>
        <dt>Ernährung</dt>
        <dd>
            {% set participantFood = participant.getFood(true) %}
            {% if participantFood.getValue() %}
                {{ ' '|bitmask(participantFood) }}
            {% else %}
                <i class="empty no-special"><span></span></i>
            {% endif %}
        </dd>
        <dt>Medizinische Hinweise</dt>
        <dd>
            {% if participant.infoMedical %}
                {{ participant.infoMedical }}
            {% else %}
                <i class="empty no-special"><span></span></i>
            {% endif %}
        </dd>
        <dt>Allgemeine Hinweise</dt>
        <dd>
            {% if participant.infoGeneral %}
                {{ participant.infoGeneral }}
            {% else %}
                <i class="empty no-special"><span></span></i>
            {% endif %}
        </dd>
        {% for fillout in participant.acquisitionAttributeFillouts %}
            <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                data-placement="right">
                {%- if not fillout.attribute.isPublic -%}
                    {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                {% endif %}
                {{ fillout.attribute.formTitle }}
            </dt>
            <dd>{% include '/acquisition/embed-fillout-management.html.twig' with {'fillout': fillout, 'event': event} %}</dd>
        {% endfor %}
        {% if paymentManager and event.price %}
            <dt>Preis</dt>
            <dd>
                <span id="participant-price-{{ participant.aid }}">
                    {{ paymentManager.getParticipantPaymentStatus(participant)|paymentInfo }}
                </span>
                {% if is_granted('participants_edit', event) -%}
                    <button data-toggle="modal"
                            data-target="#dialogPriceConfiguration"
                            data-aids="{{ participant.aid }}"
                            data-title="{{ participant|fullname }}"
                            class="btn btn-default btn-xs"
                            title="Grundpreis festlegen/Zahlung erfassen">{{ 'credit-card'|glyph }}</button>
                {% endif -%}
            </dd>
        {% endif -%}
        {% if similarParticipants -%}
        <dt>Weitere Teilnahmen</dt>
        <dd class="participant-additional-occurrences">
            {% if similarParticipants[participant.aid]|length == 0 %}
                <i>(keine Teilnahmen bei anderen Veranstaltungen)</i>
            {% endif %}
            {% for relatedParticipant in similarParticipants[participant.aid] %}
                <a class="{% if relatedParticipant.isDeleted %} participantdeleted{% endif %}{% if relatedParticipant.withdrawnOrRejected %} widthdrawnrejected{% endif %}{% if relatedParticipant.eventDeleted %} eventdeleted{% endif %}{% if relatedParticipant.confirmed %} confirmed{% endif %}"
                   data-toggle="tooltip"
                   title="Veranstaltung: {{ relatedParticipant.getEventDateFormatted() }}{% if relatedParticipant.eventDeleted %} (gelöscht){% endif %}, Angemeldet: {{ relatedParticipant.getCreatedDateFormatted() }}
{% if relatedParticipant.isDeleted %} (gelöscht){% endif %}{% if relatedParticipant.withdrawnOrRejected %} (zurückgezogen/abgelehnt){% endif %}{% if relatedParticipant.confirmed %}(bestätigt){% endif %}"
                   href="{{ path('event_participation_detail', {eid: relatedParticipant.eid, pid: relatedParticipant.pid}) }}">{{ relatedParticipant.getTitle() }}</a>{% if not loop.last and loop.length > 1 %}, {% endif %}
            {% endfor %}
        </dd>
        {% endif %}
        <dt>Bestätgung</dt>
        <dd>
            {% if participant.confirmed %}bestätigt{%- endif -%}
            {%- if participant.confirmationSentAt -%}
                {% if not participant.confirmed %}momentan unbestätigt, zwischenzeitlich{% else %}, {% endif %}
                <span data-toggle="tooltip" data-placement="top"
                      title="{% if participant.confirmationSentAt|date("U") != "946717200" %}Benachrichtigung versandt am {{ participant.confirmationSentAt|date("d.m.Y H:i") }}{% else %}Zeitpunkt der Benachrichtigung unbekannt{% endif %}"
                >benachrichtigt</span>
            {% else %}
                unbestätigt
            {% endif %}
        </dd>
    </dl>
</div>
<div class="col-xs-12 status-label-list">
    {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
    {% if paymentManager -%}
        {{ paymentManager.getParticipantPaymentStatus(participant)|paymentLabel }}
    {%- endif %}
    {% if participant.isDeleted %}<span class="label label-danger">gelöscht</span>{% endif %}
</div>
