{% extends 'base.html.twig' %}
{% import _self as m %}

{% block title %}Anmeldung zu Veranstaltung - {{ event.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('homepage') }}">Juvem</a></li>
                        <li><a href="{{ path('event_public_detail', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                        <li class="active">Anmeldung ausfüllen</li>
                    </ol>
                    {% include 'common/header/inner-page-header.html.twig' with {'title': 'Anmeldung ausfüllen', 'subtitle': event.title} %}
                </div>
            </div>

            {% include 'event/participation/public/embed-prefill-modal.html.twig' with {'event': event, 'participations': participations} %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        {% if participations|length %}
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modalPrefillParticipation">
                                Daten aus früherer Anmeldung übernehmen
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-8">
                    {{ form_errors(form) }}

                    <h3>Daten der Eltern</h3>

                    <p>Bitte geben Sie hier ihre grundlegenden Kontakdaten an.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    {{ form_row(form.salution) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {{ form_row(form.nameFirst) }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form_row(form.nameLast) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.addressStreet) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    {{ form_row(form.addressZip) }}
                </div>
                <div class="col-xs-12 col-sm-7">
                    {{ form_row(form.addressCity) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.email) }}
                </div>
            </div>
            {% for fieldName,formField in form %}
                {% if fieldName starts with 'acq_field_' %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(formField) }}
                                {% if acquisitionFieldsParticipation[fieldName].formDescription %}
                                    <button type="button" class="btn btn-default btn-xs btn-round" data-toggle="popover"
                                            data-content="{{ acquisitionFieldsParticipation[fieldName].formDescription }}">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </button>
                                {% endif %}
                                {{ form_widget(formField) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                {% macro prototypePhone(formElement) %}
                    <div class="panel panel-default prototype-element">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-10 col-sm-8">
                                    <h4 class="panel-title">
                                        <!--<a role="button" data-toggle="collapse">-->
                                        Telefonnummer
                                        <!--</a>-->
                                    </h4>
                                </div>
                                <div class="col-xs-2 col-sm-4 text-right">
                                    <a href="#" class="btn btn-danger btn-xs prototype-remove"
                                       title="Telefonnummer entfernen">{{ 'remove-sign'|glyph }} <span
                                                class="hidden-xs">Telefonnummer entfernen</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <div class="form-group">
                                        {{ form_label(formElement.number) }}
                                        <div class="input-group">
                                            <div class="input-group-addon">{{ 'phone-alt'|glyph }}</div>
                                            {{ form_widget(formElement.number) }}
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" data-toggle="popover"
                                                            data-content="Bitte geben Sie auch bei Festnetznummern aus Stuttgart die Ortsvorwahl 0711 an.">
                                                        <span class="glyphicon glyphicon-question-sign"></span>
                                                    </button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    {{ form_label(formElement.description) }}
                                    <div class="input-group">
                                        {{ form_widget(formElement.description) }}
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-toggle="popover"
                                                        data-content="Sie können hier einen kurzen Beschreibungstext zur Nummer angeben. Dies empfiehlt sich, wenn es sich bei dieser Telefonnummer beispielsweise um einen geschäftlichen Anschluss oder die Nummer der Großeltern handelt.">
                                                    <span class="glyphicon glyphicon-question-sign"></span>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endmacro %}
                <div class="col-xs-12 phone-numbers prototype-container"
                     data-prototype="{{ m.prototypePhone(form.phoneNumbers.vars.prototype, false)|e('html_attr') }}">
                    <div class="prototype-elements">
                        <div class="form-group">
                            {{ form_label(form.phoneNumbers) }}
                            <span id='help-phone-numbers' class='help-block'>
                                    In der Regel ist die Angabe einer Festnetznummer sinnvoll, falls Rückfragen im Vorfeld der
                                    Veranstaltung nötig sein sollten. Bitte geben Sie zusätzlich andere Telefonnummern an, unter
                                    denen wir Sie bei Notfällen erreichen können.
                                </span>
                            {{ form_errors(form.phoneNumbers) }}
                            {% for phoneNumber in form.phoneNumbers %}
                                {{ m.prototypePhone(phoneNumber) }}
                            {% endfor %}
                        </div>
                    </div>
                    <button href="#" class="btn btn-success prototype-add">{{ 'plus-sign'|glyph }} Weitere Telefonnummer
                        hinzufügen
                    </button>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Daten der Teilnehmer</h3>

                    <p>Bitte geben Sie hier ihre die Daten für einen oder mehrere Teilnehmern an.
                    </p>

                    <p>
                        Abhängig von Art und Dauer der Veranstaltung können mehr oder weniger Informationen nötig
                        sein.
                        Falls die Aktion eine Mahlzeit umfasst, sollten Sie, falls zutreffend, Angaben zu speziellen
                        Essgewohneiten ihres Kindes machen. Bei Veranstaltungen mit Übernachtung können spezielle
                        Informationen zur Nacht wichtig sein.
                    </p>

                    <p>
                        Bitte teilen Sie uns alles mit, was eventuell wichtig sein könnte. Nur dadurch können wir
                        den
                        Bedürfnissen Ihres Kindes gerecht werden. Wir behandeln diese Informationen vertraulich.
                    </p>
                </div>
            </div>
            <div class="row">
                {% macro prototypeParticipant(formElement, acquisitionFieldsParticipant) %}
                    <div class="panel panel-default prototype-element">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-10 col-sm-8">
                                    <h4 class="panel-title">
                                        <!--<a role="button" data-toggle="collapse">-->
                                        Teilnehmer
                                        <!--</a>-->
                                    </h4>
                                </div>
                                <div class="col-xs-2 col-sm-4 text-right">
                                    <a href="#" class="btn btn-danger btn-xs prototype-remove"
                                       title="Teilnehmer entfernen">{{ 'remove-sign'|glyph }} <span
                                                class="hidden-xs">Teilnehmer entfernen</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body panel-collapse collapse in">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    {{ form_row(formElement.nameFirst) }}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    {{ form_row(formElement.nameLast) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    {{ form_row(formElement.birthday) }}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    {{ form_row(formElement.gender) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 ">
                                    <div class="form-group">
                                        {{ form_label(formElement.food) }}
                                        <button type="button" class="btn btn-default btn-xs btn-round"
                                                data-toggle="popover"
                                                data-content="Bitte kreuzen Sie hier an, falls bei der Ernährung dieses Kindes etwas besonders zu beachten ist. Falls weitere Allergien oder Unverträglichkeiten vorhanden sind, tragen Sie diese bitte unter <i>Medizinische Hinweise</i> ein.">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </button>
                                        {{ form_widget(formElement.food) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        {{ form_label(formElement.infoMedical) }}
                                        <button type="button" class="btn btn-default btn-xs btn-round"
                                                data-toggle="popover"
                                                data-content="Leidet ihr Kind an Allergien oder Krankheiten? Muss ihr Kind während der Veranstaltung Medikamente einnehmen? (Bitte beachten Sie dabei, dass wir Teilnehmern keine Medikamente verabreichen dürfen.)">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </button>
                                        {{ form_widget(formElement.infoMedical) }}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        {{ form_label(formElement.infoGeneral) }}
                                        <button type="button" class="btn btn-default btn-xs btn-round"
                                                data-toggle="popover"
                                                data-content="Hier können Sie weiter Dinge angeben, die durch die anderen Felder nicht abgedeckt werden und die wir über ihr Kind wissen sollten. ">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </button>
                                        {{ form_widget(formElement.infoGeneral) }}
                                    </div>
                                </div>
                                {% for fieldName,formField in formElement %}
                                    {% if fieldName starts with 'acq_field_' %}
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                {{ form_label(formField) }}
                                                {% if acquisitionFieldsParticipant[fieldName].formDescription %}
                                                    <button type="button" class="btn btn-default btn-xs btn-round"
                                                            data-toggle="popover"
                                                            data-content="{{ acquisitionFieldsParticipant[fieldName].formDescription }}">
                                                        <span class="glyphicon glyphicon-question-sign"></span>
                                                    </button>
                                                {% endif %}
                                                {{ form_widget(formField) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endmacro %}
                <div class="col-xs-12 participants-list prototype-container"
                     data-prototype="{{ m.prototypeParticipant(form.participants.vars.prototype, acquisitionFieldsParticipant)|e('html_attr') }}">
                    <div class="prototype-elements">
                        <div class="form-group">
                            {{ form_errors(form.participants) }}
                            {% for participant in form.participants %}
                                {{ m.prototypeParticipant(participant, acquisitionFieldsParticipant) }}
                            {% endfor %}
                        </div>
                    </div>
                    <button href="#" class="btn btn-success prototype-add">{{ 'plus-sign'|glyph }} Weiteren Teilnehmer
                        hinzufügen
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Datenschutzerklärung</h3>

                    <div class="scrollspy-panel">
                        <nav id="navbar-privacy" class="navbar navbar-default navbar-static">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                            data-target=".bs-example-js-navbar-scrollspy"><span class="sr-only">Navigation ein/ausklappen</span>
                                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                                                class="icon-bar"></span></button>
                                </div>
                                <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#geltungsbereich">Geltungsbereich</a></li>
                                        <li><a href="#server"><abbr
                                                        title="Zugriffsdaten/ Server-Logfiles">Zugriffsdaten</abbr></a>
                                        </li>
                                        <li><a href="#personenbezogenedaten"><abbr
                                                        title="Umgang mit personenbezogenen Daten">Personenbezogene
                                                    Daten</abbr></a></li>
                                        <li><a href="#kontaktaufnahme">Kontaktaufnahme</a></li>
                                        <li><a href="#newsletter">Newsletter</a></li>
                                        <li><a href="#dritte"><abbr
                                                        title="Einbindung von Diensten und Inhalten Dritter">Inhalte
                                                    Dritter</abbr></a></li>
                                        <li><a href="#cookies">Cookies</a></li>
                                        <li><a href="#registrierfunktion">Registrierfunktion</a></li>
                                        <li><a href="#anmeldungsfunktion">Teilnahmefunktion</a></li>
                                        <li><a href="#widerruf"><abbr
                                                        title="Widerruf, Änderungen, Berichtigungen und Aktualisierungen">Widerruf,
                                                    Änderungen</abbr></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div data-spy="scroll" data-target="#navbar-privacy" data-offset="0" class="scroll">
                                    {% include 'legal/privacy-content.html.twig' %}
                                </div>
                            </div>
                            <div class="panel-footer">
                                {{ form_widget(form.acceptPrivacy) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Fortfahren</h3>

                    <p>
                        Sie können die Daten im nächsten Schritt noch mal überprüfen,
                        bevor Sie die Anmeldung engültig abgeben.
                    </p>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <input type="submit" class="btn btn-primary navbar-btn" value="Anmeldung überprüfen"/>
                        </div>
                    </nav>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}