{% extends 'base.html.twig' %}

{% block title %}Inhalt nicht gefunden{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% include 'common/header/inner-page-header.html.twig' with {'title': 'Inhalt nicht gefunden', 'subtitle': 'Juvem'} %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p class="lead">
                    Die gewünschte Seite wurde leider nicht gefunden. Das hätte nicht passieren dürfen!
                </p>

                <p>
                    Vielleicht finden Sie über die <a href="{{ path('homepage') }}">Startseite</a>, was Sie suchen.
                    Falls Sie durch unsere Website navigieren, und immer wieder zu dieser Seite gelangen, liegt
                    vielleicht ein Fehler vor.
                </p>

                <p>Wenn Sie die Information, die Sie suchen dringend benötigen, nutzen Sie die Kontaktdaten die im <a
                            href="{{ path('imprint') }}">Impressum</a> für {{ customization.organizationName }}
                    hinterlegt sind.

                    Auch auf der Website von <a href="http:/{{ customization.organizationWebsite }}"
                                                target="_blank">{{ customization.organizationName }}</a> sind in
                    der Regel Informationen zu den Veranstaltungen zu finden.</p>


                <h2>Mögliche Ursachen</h2>

                <p>Als Ursache für dieses Problem sind viele unterschiedliche Gründe denkbar.</p>

                <h3>Tippfehler</h3>

                <p>
                    Wenn Sie die URL von Hand eingegeben haben, prüfen Sie ob alle Zeichen richtig übertragen sind.
                    Alternativ dazu finden Sie die gewünschte Seite vielleicht auch mithilfe der Navigation auf dieser
                    Seite.
                </p>

                <h3>Veraltete Verknüpfung</h3>

                <p>
                    Wenn Sie einer Verknüpfung von einer anderen Seite aus gefolgt sind, kann es sein dass der Link in
                    der Zwischenzeit ungültig geworden ist.
                </p>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h3>Inhalt exklusiv für bestimmte Benutzer</h3>
                {% else %}
                    <h3>Inhalt exklusiv für registrierte Benutzer</h3>
                {% endif %}

                <p>
                    Vielleicht steht die angeforderte Seite nur bestimmten Benutzergruppen zur Verfügung.
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Möglicherweise wurden Ihnen nicht alle nötigen Berechtigungen zugewiesen.
                    {% else %}
                        Sie sind im Moment nicht angemeldet. Nutzen Sie die <a
                            href="{{ path('fos_user_security_login') }}">Anmeldung</a>,
                        möglicherweise ist die gewünschte Seite dann auffindbar.
                    {% endif %}

                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Aktive Veranstaltungen</h3>

                {{ render(controller('AppBundle\\Controller\\Event\\PublicController::listActiveEventsAction')) }}

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptMain %}{% endblock %}