{% extends 'base.html.twig' %}

{% block title %}Anwesenheitsliste ausfüllen ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anwesenheitsliste', 'subtitle': 'ausfüllen'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('event_attendance_lists', {'eid': event.eid }) }}">Anwesenheitslisten</a></li>
            <li class="active">{{ list.title }} ausfüllen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline">
                </div>
                <table id="participantsAttendanceListTable" class="table table-striped table-remote-content table-no-hover"
                       data-id-field="did" data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true" data-page-size="25" data-sub-id="e{{ event.eid }}"
                       data-url="{{ path('event_attendance_list_participants_data', {eid: event.eid, tid: list.tid}) }}"
                       data-sort-name="nameLast" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="did" data-sortable="true" data-visible="false">#</th>
                        <th data-field="tid" data-sortable="true" data-visible="false">#T</th>
                        <th data-field="aid" data-sortable="true" data-visible="false">#A</th>
                        <th data-field="pid" data-sortable="true" data-visible="false">#P</th>
                        <th data-field="nameFirst" data-sortable="true">Vorname</th>
                        <th data-field="nameLast" data-sortable="true">Nachname</th>
                        <th data-field="status" data-sortable="false" data-visible="false">Status</th>
                        <th data-field="action" data-sortable="false">Aktion</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
