{% extends "base.html.twig" %}

{% block title %}Anwesenheitsliste ausfüllen ({{ event.title }}){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anwesenheitsliste', 'subtitle': 'ausfüllen'} %}
    {% block breadcrumb %}
      <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
      <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
      <li><a href="{{ path('event_attendance_lists', {'eid': event.eid }) }}">Anwesenheitslisten</a></li>
      <li class="active">{{ list.title }} ausfüllen</li>
    {% endblock %}
  {% endembed %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modalComment">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Kommentar</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="modalCommentContent" data-aid="" data-column-id=""
                    data-token="{{ csrf_token('attendance-comment'~list.tid) }}"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
          <button type="button" class="btn btn-primary">Änderungen speichern</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modalExport">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Anwesenheitsliste exportieren</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Gruppierung</label>
            <form id="exportListForm">
            <div class="radio">
              <label for="exportGroupBy0">
                <input type="radio" id="exportGroupBy0" name="exportGroupBy" value="" checked="checked">
                Nicht gruppieren</label>
            </div>
            {% for attribute in event.acquisitionAttributes %}
              {% if attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
                <div class="radio">
                  <label for="exportGroupBy{{ attribute.bid }}">
                    <input type="radio" id="exportGroupBy{{ attribute.bid }}" name="exportGroupBy"
                           value="{{ attribute.bid }}">
                    {{ attribute.getManagementTitle(true) }}</label>
                </div>
              {% endif %}
            {% endfor %}
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
          <a href="{{ path('event_attendance_fillout_export', {eid: event.eid, tid: list.tid}) }}"
             class="btn btn-primary" target="_blank">
            Export erstellen
          </a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar attendance-list-toolbar" role="toolbar">
          <a href="{{ path('event_attendance_list_edit', {eid: event.eid, tid: list.tid}) }}"
             class="btn btn-primary">{{ 'pencil'|glyph }}<span class="hidden-xs"> Bearbeiten</span></a>
          {% if list.startDate %}
          <a href="{{ path('event_attendance_followup', {eid: event.eid, tid: list.tid}) }}"
             class="btn btn-default">{{ 'share-alt'|glyph }}<span class="hidden-xs"> Nachfolger erstellen...</span></a>
          {% endif %}
          <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#attendance-filters"
                  aria-expanded="false" aria-controls="attendance-filters">
            {{ 'filter'|glyph }}<span class="hidden-xs"> Filter </span><span class="caret"></span>
          </button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalExport">
            {{ 'export'|glyph }} <span class="hidden-xs">Exportieren...</span>
          </button>
          <div class="btn-group" data-toggle="buttons" title="Automatisch aktualisieren" id="autoRefresh">
            <label class="btn btn-info">
              <input type="checkbox" autocomplete="off"> {{ 'repeat'|glyph }} <span
                  class="hidden-xs">aktuell halten</span>
            </label>
          </div>
          <div class="btn-group" data-toggle="buttons" title="Automatisch aktualisieren" id="autoRefresh">
            <span class="indicator-fetch" data-toggle="tooltip" data-placement="top" data-trigger="hover"
                title="Die Daten der Tabelle werden gerade aktualisiert...">
            {{ 'transfer'|glyph }} Aktualisiere
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-sm-no-padding">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default collapse" id="attendance-filters">
          {% for column in list.columns %}
            <div class="navbar-form navbar-left filter filter-column" data-column-id="{{ column.columnId }}">
              <p class="navbar-text">{{ column.title }}</p>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm navbar-btn btn-default active"
                       title="Der Wert der Spalte '{{ column.title }}' soll beim Filtern keine Rolle spielen"
                       data-toggle="tooltip" data-placement="top" data-trigger="hover">
                  <input type="radio" name="column_{{ column.columnId }}" id="group_{{ column.columnId }}"
                         data-column-id="{{ column.columnId }}" checked value="all"> <i>Alle</i>
                </label>
                <label class="btn btn-sm navbar-btn btn-default"
                       title="Zeige nur Teilnehmer die beim Feld '{{ column.title }}' nichts ausgewählt haben"
                       data-toggle="tooltip" data-placement="top" data-trigger="hover">
                  <input type="radio" name="column_{{ column.columnId }}" id="group_{{ column.columnId }}_0"
                         data-column-id="{{ column.columnId }}" value="0"> <i>Nichts</i>
                </label>
                {% for choice in column.choices %}
                  <label class="btn btn-sm navbar-btn btn-default"
                         title="Zeige nur Teilnehmer die beim Feld '{{ column.title }}' keine Option oder '{{ choice.title }}' ausgewählt haben"
                         data-toggle="tooltip" data-placement="top" data-trigger="hover">
                    <input type="radio" name="column_{{ column.columnId }}"
                           id="group_{{ column.columnId }}_{{ choice.choiceId }}" value="{{ choice.choiceId }}"
                           data-column-id="{{ column.columnId }}" data-choice-id="{{ choice.choiceId }}">
                    {{ choice.title }}
                  </label>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
          {% for attribute in event.acquisitionAttributes %}
            {% if attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
              <div class="navbar-form navbar-left filter filter-group" data-bid="{{ attribute.bid }}">
                <p class="navbar-text">{{ attribute.getManagementTitle(true) }}</p>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-sm navbar-btn btn-default active"
                         title="Der Wert des Feldes '{{ attribute.getManagementTitle(true) }}' soll beim Filtern keine Rolle spielen"
                         data-toggle="tooltip" data-placement="top" data-trigger="hover">
                    <input type="radio" name="group_{{ attribute.bid }}" id="group_{{ attribute.bid }}_all"
                           data-bid="{{ attribute.bid }}" checked value="all"> <i>Alle</i>
                  </label>
                  <label class="btn btn-sm navbar-btn btn-default"
                         title="Zeige nur Teilnehmer die beim Feld '{{ attribute.getManagementTitle(true) }}' nicht eingeteilt sind"
                         data-toggle="tooltip" data-placement="top" data-trigger="hover">
                      <input type="radio" name="group_{{ attribute.bid }}" id="group_{{ attribute.bid }}_0"
                             data-bid="{{ attribute.bid }}" value=""> <i>Nichts</i>
                  </label>
                  {% for choice in attribute.choiceOptions %}
                    {% if not choice.deletedAt %}
                      <label class="btn btn-sm navbar-btn btn-default"
                             title="Zeige nur Teilnehmer die beim Feld '{{ attribute.getManagementTitle(true) }}' in '{{ choice.getManagementTitle(true) }}' eingeteilt sind"
                             data-toggle="tooltip" data-placement="top" data-trigger="hover"
                             title="Optionen des Einteilungsfeldes '{{ attribute.getManagementTitle(true) }}' anzeigen">
                        <input type="radio" name="group_{{ attribute.bid }}"
                               id="group_{{ attribute.bid }}_{{ choice.id }}" data-bid="{{ attribute.bid }}"
                               data-id="{{ choice.id }}" value="{{ choice.id }}">
                        {{ choice.getManagementTitle(true) }}
                      </label>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </nav>

        <table class="table table-striped table-hover" id="attendanceList" data-list-id="{{ list.tid }}"
               data-token="{{ csrf_token('attendance'~list.tid) }}">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Nachname</th>
            <th>Vorname</th>
            {% for column in list.columns %}
              <th>
                {{ column.title }}<br>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default btn-column-all" data-column-id="{{ column.columnId }}"
                          data-choice-id="0"
                          title="{{ column.title }}: Bei allen sichtbaren Teilnehmern für '{{ column.title }}' keine der Optionen wählen"
                          data-toggle="tooltip" data-placement="top" data-trigger="hover">
                    <i>nichts</i>
                  </button>
                  {% for choice in column.choices %}
                    <button type="button" class="btn btn-default btn-column-all" data-column-id="{{ column.columnId }}"
                            data-choice-id="{{ choice.choiceId }}"
                            title="{{ column.title }}: Bei allen sichtbaren Teilnehmern '{{ choice.title }}' für '{{ column.title }}' wählen"
                            data-toggle="tooltip" data-placement="top" data-trigger="hover">
                      {{ choice.getShortTitle(true) }}
                    </button>
                  {% endfor %}
                </div>
              </th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for participant in participants %}
            <tr data-aid="{{ participant.aid }}" id="participant-row-{{ participant.aid }}"
                {% for fillout in participant.acquisitionAttributeFillouts %}
                  {% if fillout.attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
                    data-group-{{ fillout.attribute.bid }}="{{ fillout.value.getGroupId() }}"
                  {% endif %}
                {% endfor %}
            >
              <td class="action">
                <a href="{{ path('admin_participant_detail', {'aid': participant.aid, 'eid': event.eid}) }}" target="_blank" class="btn-default btn btn-xs" data-toggle="tooltip" data-placement="right" title="Zu den Anmeldungsdetails von {{ participant.fullname }} springen (in neuem Fenster)">{{ 'new-window'|glyph }}</a>
              </td>
              <td class="name-first">{{ participant.nameLast }}</td>
              <td class="name-last">
                {{- participant.nameFirst }}
              </td>
              {% for column in list.columns %}
                <td class="column" data-column-id="{{ column.columnId }}">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" title="{{ column.title }}: Keine der Optionen wählen"
                           data-toggle="tooltip"
                           data-placement="top" data-trigger="hover">
                      <input type="radio" name="choice_{{ participant.aid }}_0"
                             id="choice_{{ participant.aid }}_{{ column.columnId }}_0"
                             data-aid="{{ participant.aid }}" data-column-id="{{ column.columnId }}"
                             data-choice-id="0"
                      ><i>nichts</i></label>
                    {% for choice in column.choices %}
                      <label class="btn btn-default" title="{{ column.title }}: {{ choice.title }}"
                             data-toggle="tooltip" data-placement="top" data-trigger="hover">
                        <input type="radio" name="choice_{{ participant.aid }}_{{ column.columnId }}"
                               id="choice_{{ participant.aid }}_{{ column.columnId }}_{{ choice.choiceId }}"
                               data-aid="{{ participant.aid }}" data-column-id="{{ column.columnId }}"
                               data-choice-id="{{ choice.choiceId }}"
                        >
                        {{ choice.getShortTitle(true) }}
                      </label>
                    {% endfor %}
                  </div>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalComment"
                          id="choice_{{ participant.aid }}_{{ column.columnId }}_comment" data-comment="">
                    {{ 'comment'|glyph }}
                  </button>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
