{% extends 'base.html.twig' %}

{% block title %}Anwesenheitslisten verwalten ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anwesenheitslisten', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li class="active">Anwesenheitslisten</li>
        {% endblock %}
    {% endembed %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modalExportMultiple">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Anwesenheitslisten exportieren</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Kombinieren</label>
                        <ul>

                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gruppierung</label>
                        <form id="exportListForm">
                            <div class="radio">
                                <label for="exportGroupBy0">
                                    <input type="radio" id="exportGroupBy0" name="exportGroupBy" value=""
                                           checked="checked">
                                    Nicht gruppieren</label>
                            </div>
                            {% for attribute in event.acquisitionAttributes %}
                                {% if attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
                                    <div class="radio">
                                        <label for="exportGroupBy{{ attribute.bid }}">
                                            <input type="radio" id="exportGroupBy{{ attribute.bid }}"
                                                   name="exportGroupBy"
                                                   value="{{ attribute.bid }}">
                                            {{ attribute.getManagementTitle(true) }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                    <a href="#" target="_blank" class="btn btn-primary">Export erstellen</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline">
                    <div class="form-group">
                        <a class="btn btn-primary"
                           href="{{ path('event_attendance_list_new', {'eid': event.eid }) }}">{{ 'plus'|glyph }}
                            <span class="hidden-xs">Neu</span></a>
                    </div>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalExportMultiple">
                        {{ 'export'|glyph }} <span class="hidden-xs">Exportieren...</span>
                    </button>
                </div>
                <table id="eventAttendanceListTable" class="table table-striped table-remote-content"
                       data-id-field="tid" data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true" data-page-size="25"
                       data-url="{{ path('event_attendance_lists_data', {eid: event.eid}) }}"
                       data-sort-name="title" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="tid" data-sortable="true" data-visible="false">#T</th>
                        <th data-field="eid" data-sortable="true" data-visible="false">E</th>
                        <th data-field="title" data-sortable="true">Titel</th>
                        <th data-field="startDate" data-visible="true" data-sortable="true"
                            data-sorter="germanDateTimeSorter">Datum
                        </th>
                        <th data-field="columns" data-visible="true" data-sortable="true">Spalten</th>
                        <th data-field="createdAt" data-visible="false" data-sortable="true"
                            data-sorter="germanDateTimeSorter">Erstellt
                        </th>
                        <th data-field="modifiedAt" data-visible="false" data-sortable="true"
                            data-sorter="germanDateTimeSorter">Bearbeitet
                        </th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
