{{ form_start(form, {attr: {'target': 'mail-template-iframe'}}) }}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-toolbar" role="toolbar">
            <button type="button" class="btn btn-default btn-update-preview">
                {{ 'sunglasses'|glyph }} Vorschau aktualisieren
            </button>
            <input type="submit" class="btn btn-primary" value="Speichern" formaction="" formtarget="_self"/>
            <button type="button" id="openDialogSend" class="btn btn-default {% if not newsletter.lid %} disabled{% endif %}"
                    data-toggle="modal" data-target="#dialogSend">{{ 'send'|glyph }} Versenden… <span class="caret-right"></span>
            </button>
            <button type="button" id="openDialogSendTest" class="btn btn-default"
                    data-toggle="modal" data-target="#dialogSendTest">{{ 'flash'|glyph }} Test E-Mail versenden… <span class="caret-right"></span>
            </button>
            {% if newsletter and newsletter.lid %}
                {{ newsletter|emailListingButton(false) }}
            {% endif %}
        </div>
        {% if newsletter %}
            {{ ''|emailListingModal }}
        {% endif %}
        <div class="modal fade" id="dialogSend" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel" data-token="{{ csrf_token('newsletterSendDialog') }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialogModalLabel">Newsletter versenden</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p id="new-recipient-list-description">Der Newsletter wird an die folgenden Empfänger verschickt:</p>
                                <ul id="new-recipient-list">
                                </ul>
                                <div data-alerts="alerts">
                                    <div class="alert alert-info alert-no-recipients">
                                        Für diese Nachricht qualifizieren sich keine (neuen) Empfänger.
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p>Der Newsletter wurde bereits an die folgenden Empfänger verschickt:</p>
                                {% if newsletter %}
                                    {% if newsletter.recipients|length %}
                                        <ul>
                                            {% for recipient in newsletter.recipients %}
                                                <li>
                                                    {% if recipient.assignedUser %}
                                                        <a href="{{ path('user_detail', {'uid': recipient.assignedUser.uid}) }}"
                                                           target="_blank">{{ recipient.nameLast }}</a>
                                                    {% else %}
                                                        {{ recipient.nameLast }}
                                                    {% endif %}
                                                    <a href="mailto:{{ recipient.email }}">&lt;{{ recipient.email }}&gt;</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div data-alerts="alerts">
                                            <div class="alert alert-info">
                                                Diese Nachricht wurde bisher an niemand verschickt.
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="sendMessageButton" data-lid="{{ newsletter.lid }}">Newsletter abschicken</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dialogSendTest" tabindex="-1" role="dialog" aria-labelledby="dialogModalTestLabel" data-token="{{ csrf_token('newsletterSendDialogTest') }}">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialogModalTestLabel">Test E-Mail versenden</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" for="newsletter_test_email">E-Mail</label>
                                <input type="text" id="newsletter_test_email" name="newsletter_test_email"
                                       aria-describedby="help-email-test" class="form-control"
                                       value="{% if app.user is not null %}{{ app.user.email}}{% endif %}">
                                <p class="help-block" id="help-email-test">Sie können den Newsletter im aktuellen
                                    Zustand zu Testzwecken an die hier angegebene E-Mail Adresse verschicken.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="sendTestMessageButton">Abschicken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.subject) }}
        {{ form_row(form.title) }}
        {{ form_row(form.lead) }}
        {{ form_row(form.content) }}
        <label class="control-label">Altersspanne</label>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-2 col-xs-6{% if not form.ageRangeBegin.vars.valid %} has-error{% endif %}">
                <label class="control-label">von</label>
                {{ form_widget(form.ageRangeBegin) }}
                {{ form_errors(form.ageRangeBegin) }}
            </div>
            <div class="col-sm-8  col-xs-12 contains-slider">
                <input type="hidden" class="slider-input" id="newsletter_mail_ageRangeSlider"
                       value="{{ form.ageRangeBegin.vars.value }},{{ form.ageRangeEnd.vars.value }}"/>
            </div>
            <div class="col-sm-2 col-xs-6{% if not form.ageRangeEnd.vars.valid %} has-error{% endif %}">
                <label class="control-label">bis</label>
                {{ form_widget(form.ageRangeEnd) }}
                {{ form_errors(form.ageRangeEnd) }}
            </div>
        </div>
        {{ form_row(form.events) }}
        <p id="affectedSubscription"><i>(Anzahl potentieller Empfänger)</i></p>

        <p>Dieser Newsletter wurde bereits an {{ newsletter.recipients.count }} Empfänger versandt.</p>
        <button type="button" class="btn btn-default btn-update-preview">{{ 'sunglasses'|glyph }} Vorschau aktualisieren
        </button>
        <input type="submit" class="btn btn-primary" value="Speichern"/>
    </div>
    <div class="col-sm-6" id="mail-template">
        <label class="control-label required" for="mail-template-iframe-panel">Vorschau</label>

        <div class="panel panel-default" id="mail-template-iframe-panel">
            <div class="panel-heading">Betreff der E-Mail</div>
            <div class="panel-body">
                <iframe id="mail-template-iframe" name="mail-template-iframe" src="{{ path('newsletter_preview') }}"></iframe>
            </div>
        </div>
      <label class="control-label" for="mail-attachment-panel">Dateianhänge
        <span class="btn btn-xs btn-default" id="dropzone-user-attachment-reload">{{ 'refresh'|glyph }}</span>
      </label>

      <div class="panel panel-default" id="dropzone-user-attachment"
           data-attachment-list-url="{{ path('user_attachment_list') }}"
           data-attachment-upload-url="{{ path('user_attachment_upload') }}"
           data-token="{{ csrf_token('user-attachment') }}">
        <div class="panel-body">
          <p>Um Dateianhänge auswählen zu können, Dateien hier hereinziehen. Nachdem sie hochgeladen sind, können
            sie als Anhang ausgewählt werden. <span id="dropzone-user-attachment-speed"></span></p>
          <table class="table table-striped table-condensed table-form">
            <thead>
            <tr>
              <td>Dateiname</td>
              <td class="text-right">Größe</td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="3" class="text-center loading-text">Dateianhänge werden geladen...</td>
            </tr>
            </tbody>
            <tfoot>
            <tr style="display:none;">
              <td>
                {{ form_row(form.userAttachments) }}
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
</div>
{{ form_end(form) }}
