{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Benutzerprofil bearbeiten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Benutzerprofil', 'subtitle': 'bearbeiten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('fos_user_profile_show') }}">Benutzerprofil</a></li>
            <li class="active">Benutzerprofil bearbeiten</li>
        {% endblock %}
    {% endembed %}
    {% form_theme form 'form/bootstrap_3_horizontal_4-8_layout.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                    <div class="btn-group" role="group">
                        <input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{{ path('fos_user_profile_show') }}"
                           class="btn btn-default">Änderungen verwerfen {{ caretRightDouble() }}</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{{ path('fos_user_change_password') }}"
                           class="btn btn-default">{{ 'wrench'|glyph }} Passwort <span class="hidden-xs">ändern</span> {{ caretRightDouble() }}</a>
                    </div>

                    <button type="button" class="btn btn-default" data-element="activebutton" data-entity="User"
                            data-property="isExcludeHelpTabindex" data-entity-id="__self__"
                            data-token="{{ csrf_token('User' ~ 'isExcludeHelpTabindex' ~ '__self__' ) }}"
                            data-button-enable-label="Hinweisknöpfe beim navigieren mit Tab überspringen" data-button-enable-glyph="fast-forward"
                            data-button-disable-label="Hinweisknöpfe beim navigieren mit Tab mit einbeziehen"
                            data-button-disable-glyph="transfer">{{ 'option-horizontal'|glyph }}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                {{ form_start(form) }}
                {{ form_row(form.nameFirst, {'label_attr': {'class': 'col-sm-3'}, 'attr': {'class': 'col-sm-9'}}) }}
                {{ form_row(form.nameLast) }}
                {{ form_row(form.email) }}
                {{ form_row(form.current_password) }}
                <input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
