{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Benutzerprofil verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Benutzerprofil', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li class="active">Benutzerprofil</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                    <div class="btn-group" role="group">
                        <a href="{{ path('fos_user_profile_edit') }}"
                           class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{{ path('fos_user_change_password') }}"
                           class="btn btn-default">{{ 'wrench'|glyph }} Passwort <span class="hidden-xs">ändern</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Vorname</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ user.nameFirst }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nachname</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ user.nameLast }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">E-Mail-Adresse</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ user.email }}</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}