{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} (Rezept){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': title, 'subtitle': recipe.title} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('meals_recipes_list') }}">Rezepte</a></li>
      <li><a href="{{ path('meals_recipes_detail', {'id': recipe.id}) }}">{{ recipe.title }}</a></li>
      <li class="active">{{ title }}</li>
    {% endblock %}
  {% endembed %}

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">Einschätzung</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ feedback.getFeedbackGlobal(true) }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Probe</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ feedback.getWeight(true) }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Datum</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ feedback.date.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Veranstaltung</label>
            <div class="col-sm-8">
              <p class="form-control-static">{% if feedback.event %}{{ feedback.event.title }}{% else %}
                  <i>(keine)</i>{% endif %}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Personen</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ feedback.peopleCount }} Personen</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Hinweis</label>
            <div class="col-sm-8">
              <p class="form-control-static">{% if feedback.comment %}{{ feedback.comment }}{% else %}
                  <i>(keiner)</i>{% endif %}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2 id="ingredients-section">Einschätzung der Mengenangaben</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Lebensmittel</td>
            <td class="text-right"><abbr title="Kalkulierte">Kalk.</abbr> M<span
                  class="hidden-sm hidden-xs">en</span>g<span class="hidden-sm hidden-xs">e</span> <abbr
                  title="pro Person">p.P.</abbr></td>
            <td>Einschätzung<span class="hidden-sm hidden-xs"> der Mengenangabe</span></td>
            <td>Neue <abbr title="Kalkulation">Kalk.</abbr> <abbr title="pro Person">p.P.</abbr></td>
          </tr>
          </thead>
          <tbody>
          {% for feedbackIngredient in feedback.feedback %}
            <tr>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">


      </div>
      <div class="col-xs-12">
      </div>
    </div>
  </div>

{% endblock %}
