{% extends 'base.html.twig' %}

{% block title %}{{ choiceOption.getManagementTitle(true) }} - {{ choiceOption.attribute.managementTitle }} ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': choiceOption.getManagementTitle(true), 'subtitle': choiceOption.attribute.managementTitle} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('event_admin_groups', {'eid': event.eid }) }}">Einteilungsfelder</a></li>
            <li>
                <a href="{{ path('admin_event_group_overview', {'eid': event.eid, 'bid': choiceOption.attribute.bid }) }}">{{ choiceOption.attribute.managementTitle }}</a>
            </li>
            <li class="active">{{ choiceOption.getManagementTitle(true) }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="{% if usage.hasEmployees() %} active{% else %}disabled{% endif %}">
                        <a href="#employees" aria-controls="employees" role="tab"
                           data-toggle="tab">{{ usage.employeeCount }} Mitarbeiter</a>
                    </li>
                    <li role="presentation"
                        class="{% if not usage.hasEmployees() and usage.hasParticipants() %}active{% endif %}{% if not usage.hasParticipations() %} disabled{% endif %}">
                        <a href="#participants" aria-controls="participants" role="tab"
                           data-toggle="tab">{{ usage.participantsCount }} Teilnehmer</a>
                    </li>
                    <li role="presentation"
                        class="{% if not usage.hasEmployees() and not usage.participants and usage.hasParticipations() %}active{% endif %}{% if not usage.hasParticipations() %} disabled{% endif %}">
                        <a href="#participations" aria-controls="participations" role="tab"
                           data-toggle="tab">{{ usage.participationCount }}
                            Anmeldung{% if usage.participationCount > 1 %}en{% endif %}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% if usage.hasEmployees() %}
                        <div role="tabpanel" class="tab-pane {% if usage.hasEmployees() %}active{% endif %}"
                             id="employees">
                            {% embed 'event/admin/group/embed-group-table-employees.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                    {% if usage.hasParticipants() %}
                        <div role="tabpanel" class="tab-pane {% if not usage.hasEmployees() %}active{% endif %}"
                             id="participants">
                            {% embed 'event/admin/group/embed-group-table-participants.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                    {% if usage.hasParticipations() %}
                        <div role="tabpanel"
                             class="tab-pane {% if not usage.hasEmployees() and not usage.hasParticipations() and usage.hasParticipations() %}active{% endif %}"
                             id="participations">

                            {% embed 'event/admin/group/embed-group-table-participations.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin-top: 15px;">
                {% if not usage.multipleAssignments %}
                    <div class="alert alert-info" role="alert">Niemand ist für
                        <i>{{ choiceOption.attribute.managementTitle }}</i> in
                        <i>{{ choiceOption.getManagementTitle(true) }}</i> eingeteilt.
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
