{% extends 'base.html.twig' %}

{% block title %}{{ choiceOption.getManagementTitle(true) }} - {{ choiceOption.attribute.managementTitle }} ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': choiceOption.getManagementTitle(true), 'subtitle': choiceOption.attribute.managementTitle} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('event_admin_groups', {'eid': event.eid }) }}">Einteilungsfelder</a></li>
            <li>
                <a href="{{ path('admin_event_group_overview', {'eid': event.eid, 'bid': choiceOption.attribute.bid }) }}">{{ choiceOption.attribute.managementTitle }}</a>
            </li>
            <li class="active">{{ choiceOption.getManagementTitle(true) }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {% if not usage.hasEmployees and not usage.hasParticipants and not usage.hasParticipations %}
            <div class="row">
                <div class="col-xs-12" style="margin-top: 15px;">
                    <div class="alert alert-info" role="alert">Niemand ist für
                        <i>{{ choiceOption.attribute.managementTitle }}</i> in
                        <i>{{ choiceOption.getManagementTitle(true) }}</i> eingeteilt.
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    {% if attribute.useAtEmployee %}
                    <li role="presentation" class="active">
                        <a href="#employees" aria-controls="employees" role="tab"
                           data-toggle="tab">{{ usage.employeeCount }} Mitarbeiter</a>
                    </li>
                    {% endif %}
                    {% if attribute.useAtParticipant %}
                    <li role="presentation">
                        <a href="#participants" aria-controls="participants" role="tab"
                           data-toggle="tab">{{ usage.participantsCount }} Teilnehmer</a>
                    </li>
                    {% endif %}
                    {% if attribute.useAtParticipation %}
                    <li role="presentation">
                        <a href="#participations" aria-controls="participations" role="tab"
                           data-toggle="tab">{{ usage.participationCount }}
                            Anmeldung{% if usage.participationCount > 1 %}en{% endif %}</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if attribute.useAtEmployee %}
                        <div role="tabpanel" class="tab-pane active" id="employees">
                            {% embed 'event/admin/group/embed-group-table-employees.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                    {% if attribute.useAtParticipant %}
                        <div role="tabpanel" class="tab-pane" id="participants">
                            {% embed 'event/admin/group/embed-group-table-participants.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                    {% if attribute.useAtParticipation %}
                        <div role="tabpanel" class="tab-pane" id="participations">
                            {% embed 'event/admin/group/embed-group-table-participations.html.twig' with {'event': event, 'choiceOption': choiceOption} %}{% endembed %}
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
