{% extends 'base.html.twig' %}

{% block title %}Formel bearbeiten ({{ acquisition.managementTitle }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Formel', 'subtitle': 'bearbeiten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li><a href="{{ path('acquisition_detail', {bid: acquisition.bid}) }}">{{ acquisition.managementTitle }}</a>
            </li>
            <li class="active">Formel bearbeiten</li>
        {% endblock %}
    {% endembed %}
    <div class="container">

        {{ form_start(form) }}
        <div class="row ">
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>

            <div class="col-xs-12{% if not form.priceFormula.vars.valid %} has-error{% endif %}">
                {{ form_widget(form.priceFormula) }}
                {{ form_errors(form.priceFormula) }}
            </div>
            <div class="col-xs-12">
                {% for variable in variables %}
                    <button type="button" class="btn btn-default btn-xs btn-formula-variable"
                            data-variable="{{ variable.name }}">
                        <span>{{ variable.name }}</span> {{ variable.description }}
                        ({% if variable.nummeric %}Zahl{% elseif variable.boolean %}Wahrheitswert{% endif %})
                    </button>
                {% endfor %}
            </div>
            <div class="col-xs-12">
                <div class="help-block" id="help-formula">
                    <p>Die Formel kann aus Zahlen und den Grundrechenarten Addition <code>+</code>, Subtraktion
                        <code>-</code>,
                        Multiplikation <code>*</code>, Division <code>/</code> bestehen. Weiterhin können
                        Klammern
                        <code>()</code>
                        gesetzt werden.
                    </p>
                    <p>
                        Das Ergebnis der berechneten Formel wird zum Preis/zu der Aufwandsentschädigung <u>addiert</u>.
                        Wenn ein Betrag vom Preis subtrahiert werden soll, muss die Formel mit <code>-1</code>
                        multipliziert werden.
                    </p>
                    <ul>
                        {% if showNumberVariables %}
                            <li>
                                In der Formel für Felder vom Typ
                                <i>{{ constant('AppBundle\\Entity\\AcquisitionAttribute\\Attribute::LABEL_FIELD_NUMBER') }}</i>
                                kann mit der Variable <code>value</code> auf den eingegebenen Wert zugegriffen
                                werden.
                            </li>
                        {% endif %}
                        {% if showChoiceVariables %}
                            <li>
                                Ist das Feld vom Typ
                                <i>{{ constant('AppBundle\\Entity\\AcquisitionAttribute\\Attribute::LABEL_FIELD_CHOICE') }}</i>
                                <ul>
                                    <li>werden in Variablen nach dem Schema <code>choice1selected</code>
                                        gespeichert, ob die Option (in diesem Fall die Option mit der ID
                                        <code>1</code>) ausgewählt wurde.
                                    </li>
                                    <li>In der Variable <code>choicesSelectedCount</code> wird die Anzahl der
                                        gewählten Optionen gespeichert.
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <input type="submit" value="Änderungen speichern" class="btn btn-primary navbar-btn"/>
                    </div>
                </nav>
            </div>

        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
