{% if fillout.attribute.isMultipleChoiceType %}
    {% if fillout.getSelectedChoices|length %}
        <ul>
            {% for choice in fillout.getSelectedChoices %}
                <li {% if choice.deletedAt %}class="deleted"{% endif %}>
                    <span class="label label-primary">{{ choice.getShortTitle(true) }}</span>
                    <span{% if choice.getManagementTitle(false) %} title="{{ choice.formTitle|e('html_attr') }}" data-toggle="tooltip" data-placement="top"{% endif %}>{{ choice.getManagementTitle(true) }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <i class="empty no-selection"><span></span></i>
    {% endif %}
{% elseif fillout.attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
    {% set filloutValue = fillout.value %}
    {% if filloutValue.groupId %}
        <a href="{{ path('admin_event_group_detail', {eid: event.eid, bid: filloutValue.attribute.bid, cid: filloutValue.groupId}) }}">
            {{ fillout.getTextualValue(constant('AppBundle\\Entity\\AcquisitionAttribute\\AttributeChoiceOption::PRESENTATION_MANAGEMENT_TITLE')) }}
        </a>
    {% else %}
        <i class="empty no-selection"><span></span></i>
    {% endif %}
{% elseif fillout.attribute.fieldType == 'AppBundle\\Form\\ParticipantDetectingType' %}
    {% set filloutValue = fillout.value %}
    <span class="fillout-participant-detecting">
        {% if filloutValue.selectedParticipantId %}
            <a href="{{ path('admin_participant_detail', {eid: event.eid, aid: filloutValue.selectedParticipantId}) }}" data-toggle="tooltip" title="Original: {{ filloutValue.getTextualValue()|e('html_attr') }}">
                {{ filloutValue.selectedParticipantFirstName }} {{ filloutValue.selectedParticipantLastName -}}
            </a> {% if filloutValue.systemSelection %}
                    {{ 'flash'|glyph('automatisch') -}}
                {% endif %}{{- 'link'|glyph('verknüpft') }}
        {% else %}
            {{ filloutValue.getTextualValue() }}
        {% endif %}
        {% if is_granted('participants_edit', event) -%}
            <button data-toggle="modal" data-target="#dialogModalRelateParticipant"
                    data-title="{{ fillout.attribute.formTitle|e('html_attr') }}"
                    data-description="{{ fillout.attribute.formDescription|e('html_attr') }}"
                    data-first-name="{{ filloutValue.relatedFirstName|e('html_attr') }}"
                    data-last-name="{{ filloutValue.relatedLastName|e('html_attr') }}"
                    data-oid="{{ fillout.oid }}"
                    data-aid="{{ filloutValue.selectedParticipantId }}"
                    class="btn btn-default btn-xs"
                    title="Teilnehmerverknüpfung verwalten">{{ 'pencil'|glyph }}</button>
        {%- endif %}
    </span>
{% else %}
    {% if fillout is empty %}
        <i class="empty value-null"><span></span></i>
    {% else %}
        {{ fillout.getTextualValue(constant('AppBundle\\Entity\\AcquisitionAttribute\\AttributeChoiceOption::PRESENTATION_MANAGEMENT_TITLE')) }}
    {% endif %}
{% endif %}
