{% extends 'base.html.twig' %}

{% block title %}Feld anlegen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feld', 'subtitle': 'erstellen'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li class="active">Feld erstellen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.managementTitle) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.managementDescription) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.formTitle) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.formDescription) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.fieldType) }}
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Erfassung</label>
                            {{ form_row(form.useAtParticipation) }}
                            {{ form_row(form.useAtParticipant) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Feld erstellen" class="btn btn-primary"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascriptCustom %}

{% endblock %}
