{% extends 'base.html.twig' %}

{% block title %}Anmeldung - Teilnehmerdaten bearbeiten ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anmeldung', 'subtitle': 'Teilnehmerdaten bearbeiten'} %}
        {% block breadcrumb %}
            {% if adminView %}
                <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
                <li><a href="{{ path('event_participation_detail', {'eid': event.eid, 'pid': participation.pid}) }}">{{ participation|participantsgrouped }}</a>
                </li>
            {% else %}
                <li><a href="{{ path('public_participations') }}">Anmeldungen</a></li>
                <li><a href="{{ path('public_participation_detail', {'pid': participation.pid}) }}">Anmeldung
                        bei {{ event.title }}</a></li>
                <li><a href="{{ path('public_participation_detail', {'pid': participation.pid}) }}">Detailansicht</a>
                </li>
            {% endif %}
            <li class="active">Teilnehmerdaten bearbeiten</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {{ form_start(form) }}
        {% include '/event/participation/form-participant.html.twig' with {'form': form} %}
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary navbar-btn" value="Änderungen speichern"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}