{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li class="active">{{ event.title }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Veranstaltung bearbeiten">
                    <div class="btn-group" role="group">
                        <a href="{{ path('event_participants_list', {'eid': event.eid }) }}"
                           class="btn btn-default">{{ 'list'|glyph }} <span class="hidden-xs">Teilnehmer</span></a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Menü erweitern</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer
                                    verwalten</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('event_participants_export', {'eid': event.eid }) }}">Teilnehmer
                                    exportieren</a></li>
                            <li><a href="{{ path('event_mail', {'eid': event.eid }) }}">E-Mail versenden</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{{ path('event_edit', {'eid': event.eid }) }}"
                           class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
                        <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                data-property="isVisible" data-entity-id="{{ event.eid }}"
                                data-token="{{ csrf_token('Event' ~ 'isVisible' ~ event.eid ) }}"
                                data-button-enable-label="Sichtbar schalten" data-button-enable-glyph="eye-open"
                                data-button-disable-label="Verstecken"
                                data-button-disable-glyph="eye-close">{{ 'option-horizontal'|glyph }}</button>
                        <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                data-property="isActive" data-entity-id="{{ event.eid }}"
                                data-token="{{ csrf_token('Event' ~ 'isActive' ~ event.eid ) }}"
                                data-button-enable-label="Aktivieren" data-button-enable-glyph="folder-open"
                                data-button-disable-label="Deaktivieren"
                                data-button-disable-glyph="folder-close">{{ 'option-horizontal'|glyph }}</button>
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#acquisitionAssignmentModal" id ="acquisitionAssignmentButton">
                            {{ 'th-list'|glyph }}<span class="hidden-xs"> Felder verwalten</span>
                        </button>
                    </div>
                    <div class="modal fade" id="acquisitionAssignmentModal" tabindex="-1" role="dialog"
                             aria-labelledby="acquisitionAssignmentButton">
                            <div class="modal-dialog" role="document">
                                {{ form_start(acquisitionAssignmentForm) }}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Abbrechen"><span
                                                    aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Felder verwalten</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_row(acquisitionAssignmentForm.acquisitionAttributes) }}
                                        <p>Hier werden die zusätzlichen Felder ausgewählt, die bei jeder Anmeldung eines Teilnehmers erfasst werden. Werden Felder deaktiviert, bleiben bereits erfasste Daten erhalten. Die Eigenschaften der verfügbaren Felder werden im <a href="{{ path('acquisition_list') }}">Felder</a>-Bereich verwaltet.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                                    </div>
                                </div>
                                {{ form_end(acquisitionAssignmentForm) }}
                            </div>
                        </div>
                    {% if event.deletedAt %}
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#dialogModal" data-action="restore">
                            {{ 'repeat'|glyph }}<span class="hidden-xs"> aus Papierkorb zurückholen</span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#dialogModal" data-action="delete">
                            {{ 'trash'|glyph }}<span class="hidden-xs"> in Papierkorb verschieben</span>
                        </button>
                    {% endif %}
                    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
                         aria-labelledby="dialogModalLabel">
                        <div class="modal-dialog" role="document">
                            {{ form_start(form) }}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Abbrechen"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <p></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h3>{{ event.getTitle }}</h3>

                <p class="status-label-list">
                    {% if event.isActive() %}
                        <span class="label label-primary option-isActive">Aktiv</span>
                    {% else %}
                        <span class="label label-default option-isActive">Inaktiv</span>
                    {% endif %}
                    {% if event.isVisible() %}
                        <span class="label label-primary option-isVisible">Sichtbar</span>
                    {% else %}
                        <span class="label label-default option-isVisible">Versteckt</span>
                    {% endif %}
                </p>

                <p>
                    {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                    {% if event.hasStartTime %}
                        {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                    {% endif %}
                    {% if event.hasEndDate or event.hasEndTime %}
                        -
                        {% if event.hasEndDate %}
                            {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                        {% endif %}
                        {% if event.hasEndTime %}
                            {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                        {% endif %}
                    {% endif %}
                </p>

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ event.getDescription|e }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div>
                    <h4>Poster</h4>
                    {% if event.imageFilename %}
                        <a href="{{ vich_uploader_asset(event, 'imageFile') }}" class="thumbnail">
                            <img src="{{ path('event_image',  {'eid': event.eid, 'width': 360, 'height': 500 }) }}"
                                 alt="Poster-Abbildung wurde nicht geladen" title="Poster">
                        </a>
                    {% else %}
                        <div class="thumbnail">
                            <div class="alert alert-info" role="alert">
                                <p>Es ist keine Bild-Datei als Poster zu dieser Veranstaltung gespeichert.</p>

                                <p> Beim <a href="{{ path('event_edit', {'eid': event.eid }) }}" class="alert-link">Bearbeiten</a>
                                    dieser Veranstaltung kann ein entsprechendes Bild hochgeladen werden.</p>

                                <p>Dadurch wird die Veranstaltung besser präsentiert.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="flat-progress-bar">
                    <h4>Verteilung</h4>
                    {% if ageDistribution|length %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="progress">
                                    {% for code, genderData in genderDistribution %}
                                        <div class="progress-bar progress-bar-gender-{{ genderData.type }}"
                                             data-toggle="tooltip" title="{{ genderData.count  }}/{{ participantsCount }} Teilnehmer sind {{ genderData.label }}"
                                             role="progressbar" aria-valuenow="{{ genderData.count }}"
                                             aria-valuemin="0" aria-valuemax="{{ participantsCount }}"
                                             style="width: {{ ((genderData.count/participantsCount)*100) }}%;">
                                            <span class="sr-only">{{ genderData.count  }}/{{ participantsCount }} Teilnehmer sind {{ genderData.label }}</span>
                                            <span>{{ genderData.count }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% for age, count in ageDistribution %}
                        <div class="row">
                            <div class="col-xs-2 col-sm-3 text-right">
                                {{ age }} <abbr title="Jahre">J.</abbr>
                            </div>
                            <div class="col-xs-10 col-sm-9">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ count }}"
                                         aria-valuemin="0" aria-valuemax="{{ participantsCount }}"
                                         data-toggle="tooltip" title="{{ count }}/{{ participantsCount }} Teilnehmer im Alter von {{ age }}"
                                         style="width: {{ ((count/participantsCount)*100) }}%;">
                                        <span class="sr-only">{{ count }}/{{ participantsCount }} Teilnehmer im Alter von {{ age }}
                                            Jahren</span>
                                        <span title="Anzahl">
                                            <abbr title="Teilnehmer">{{ count }}</abbr>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                Im Moment sind keine Teilnehmer angemeldet.
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptCustom %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Veranstaltung in Papierkorb verschieben';
                        question = 'Soll diese Anmeldung zur Teilnahme wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Veranstaltung aus Papierkorb nehmen';
                        question = 'Soll diese Anmeldung zur Teilnahme wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
            $('[data-entity="Event"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    var option = button.data('property');

                    $('.status-label-list .option-' + option).each(function (i, el) {
                        el = $(el);

                        var textEnabled,
                                textDisabled;

                        switch (option) {
                            case 'isActive':
                                textEnabled = 'Aktiv';
                                textDisabled = 'Inaktiv';
                                break;
                            case 'isVisible':
                                textEnabled = 'Sichtbar';
                                textDisabled = 'Versteckt';
                                break;
                        }

                        if (response.value) {
                            el.text(textEnabled);
                            el.addClass('label-primary');
                            el.removeClass('label-default');
                        } else {
                            el.text(textDisabled);
                            el.addClass('label-default');
                            el.removeClass('label-primary');
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}