{% extends 'base.html.twig' %}

{% block title %}Teilnehmer exportieren ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Teilnehmer', 'subtitle': 'exportieren'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
            <li class="active">Exportieren</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Exportvorlagen">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="{{ path('event_participants_export', {'eid': event.eid }) }}">Teilnehmer</a>
                        <a class="btn btn-default"
                           href="{{ path('event_participations_export', {'eid': event.eid }) }}">Anmeldungen</a>
                        <a class="btn btn-default"
                           href="{{ path('event_participants_mail_export', {'eid': event.eid }) }}">
                            für Serienbrief</a>
                        <a class="btn btn-default"
                           href="{{ path('event_participants_birthday_address_export', {'eid': event.eid }) }}">
                            für Zuschussanträge</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for group in config %}
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{ group.info }}</label>
                        {% for option in group.children %}
                                <div class="checkbox"><label><input type="checkbox" name="participantfirstName"
                                                                    value="participantfirstName"> {{ option.info }}</label>
                                </div>
                        {{ dump(option) }}

                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}