<div class="row">
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-xs-12">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <p class="help-block" id="help-description">Dieser Text wird in der detaillierten Ansicht angezeigt. Es können Formatierungsanweisungen von <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> verwendet werden. Wenn keine <a href="#form-element-description-meta">Kurzbeschreibung</a> angegeben ist, wird der Text-Ausschnitt in der Veranstaltungs-Übersicht wird im Klartext dargestellt.</p>
            </div>
            <div class="col-xs-12" id="form-element-description-meta">
                {{ form_label(form.descriptionMeta) }}
                {{ form_widget(form.descriptionMeta) }}
                {{ form_errors(form.descriptionMeta) }}
                <p class="help-block" id="help-description-meta">Wenn definiert, wird dieser Text in der Veranstaltungs-Übersicht verwendet. Dieser Text wird auch als Auszug für Suchmaschienen verwendet. Es ist nur reiner Text erlaubt.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.imageFile) }}
            </div>
            <div class="col-xs-12">
                <h4 class="control-label">Veranstaltungsort</h4>
                <p class="help-block">Kann ein Feld nicht korrekt befüllt werden, leer lassen. Wird vor allem für Hervorhebung in Suchergebnissen verwendet.</p>
            </div>
            <div class="col-xs-12">
                {{ form_label(form.addressTitle) }}
                {{ form_widget(form.addressTitle) }}
                {{ form_errors(form.addressTitle) }}
                <p class="help-block small" id="help-address-title">Titel des Veranstaltungsortes, bswp. <samp>Waldheim</samp>.</p>
            </div>
            <div class="col-xs-12">
                {{ form_row(form.addressStreet) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                {{ form_row(form.addressZip) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                {{ form_row(form.addressCity) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasStartTime) }}
            {{ form_errors(form.startTime) }}
            {{ form_widget(form.startTime) }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasEndDate) }}
            {{ form_errors(form.endDate) }}
            {{ form_widget(form.endDate) }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasEndTime) }}
            {{ form_errors(form.endTime) }}
            {{ form_widget(form.endTime) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isVisible) }}
    </div>
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isActive) }}
    </div>
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isAutoConfirm) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}
        <p class="help-block" id="help-price">Leer lassen, wenn kein Preis angegeben werden soll. Wird vor allem für Hervorhebung in Suchergebnissen verwendet.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        {{ form_label(form.ageRange) }}
        {{ form_widget(form.ageRange) }}
        {{ form_errors(form.ageRange) }}
        <p class="help-block" id="help-age-range">Kann leer gelassen werden. Sollte die Altersspanne der Zielgruppe in Jahren angeben, bspw. <samp>7-13</samp>. Wird vor allem für Hervorhebung in Suchergebnissen verwendet.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="form-group">
            {{ form_widget(form.hasConfirmationMessage) }}
            {{ form_errors(form.confirmationMessage) }}
            {{ form_widget(form.confirmationMessage) }}
            <p class="help-block" id="help-confirmation-message">Dieser Text wird in der Bestätgungs-E-Mail mit angezeigt. Der Text wird in der E-Mail als Absatz dargestellt, es kann demnach nur Fließtext ohne Formatierung verwendet werden.</p>
        </div>
    </div>
</div>
