<div class="row">
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-xs-12">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <p class="help-block" id="help-description">Dieser Text wird in der detaillierten Ansicht angezeigt. Es können Formatierungsanweisungen von <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> verwendet werden. Der Text-Ausschnitt auf der Startseite wird im Klartext dargestellt.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.imageFile) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasStartTime) }}
            {{ form_errors(form.startTime) }}
            {{ form_widget(form.startTime) }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasEndDate) }}
            {{ form_errors(form.endDate) }}
            {{ form_widget(form.endDate) }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            {{ form_widget(form.hasEndTime) }}
            {{ form_errors(form.endTime) }}
            {{ form_widget(form.endTime) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isVisible) }}
    </div>
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isActive) }}
    </div>
    <div class="col-xs-12 col-sm-4">
        {{ form_row(form.isAutoConfirm) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="form-group">
            {{ form_widget(form.hasConfirmationMessage) }}
            {{ form_errors(form.confirmationMessage) }}
            {{ form_widget(form.confirmationMessage) }}
            <p class="help-block" id="help-confirmation-message">Dieser Text wird in der Bestätgungs-E-Mail mit angezeigt. Der Text wird in der E-Mail als Absatz dargestellt, es kann demnach nur Fließtext ohne Formatierung verwendet werden.</p>
        </div>
    </div>
</div>
