{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
    <section id="dropzone"
             data-upload-target="{{ path('event_gallery_admin_upload', {'eid': event.eid}) }}"
             data-token="{{ csrf_token('gallery-upload-' ~ event.eid) }}">
        <article>
            {% embed 'common/header/base-page-header.html.twig' with {'title': 'Bildergallerie', 'subtitle': 'Veranstaltung'} %}
                {% block breadcrumb %}
                    <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                    <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                    <li class="active">Bildergallerie</li>
                {% endblock %}
            {% endembed %}
            <div class="container">
                <div class="row">
                    <div class="modal fade" id="galleryImageDetails" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Bilddetails bearbeiten</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label required" for="event_title">Titel</label>
                                                <input type="text" id="galleryImageTitle" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="embed-responsive embed-responsive-4by3" id="galleryImageImage">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-xs-4 text-left">
                                            <button type="button" class="btn btn-default" id="galleryImageDelete" data-iid="" data-token="{{ csrf_token('gallery-image-delete-' ~ event.eid) }}">{{ 'remove'|glyph }} Löschen</button>
                                        </div>
                                        <div class="col-xs-8">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                            <button type="button" class="btn btn-default" id="galleryImageSave" data-token="{{ csrf_token('gallery-image-save-' ~ event.eid) }}">Speichern</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-toolbar" role="toolbar" aria-label="Bildergallerie bearbeiten">
                            <div class="row">
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-default" data-element="activebutton"
                                            data-entity="Event"
                                            data-property="isGalleryLinkSharing" data-entity-id="{{ event.eid }}"
                                            data-token="{{ csrf_token('Event' ~ 'isGalleryLinkSharing' ~ event.eid ) }}"
                                            data-button-enable-label="Teilen via Link aktivieren"
                                            data-button-enable-glyph="link"
                                            data-button-disable-label="Teilen via Link deaktivieren"
                                            data-button-disable-glyph="unchecked">{{ 'option-horizontal'|glyph }}</button>
                                </div>
                                <div class="col-xs-1" id="galleryUploadSpeed">
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control"
                                           value="{{ url('event_gallery', {'eid': event.eid, 'hash': galleryHash}) }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" id="upload-progress">
                        <div class="row">
                        </div>
                    </div>
                <div class="row">
                    <div class="media-gallery">
                        <div class="row gallery" id="dropzone-gallery">
                            {% for image in images %}
                                <div class="image col-xs-6 col-sm-4 col-md-3 col-lg-2" id="galleryImage-{{ image.iid }}">
                                    <div class="gallery-image-wrap">
                                        <a href="{{ path('gallery_image_original', {'eid': event.eid, 'iid': image.iid, 'hash': galleryHash}) }}"
                                           data-eid="{{ event.eid }}" data-iid="{{ image.iid }}" data-title="{{ image.title|e('html_attr') }}">
                                            <img src="{{ path('gallery_image_thumbnail', {'eid': event.eid, 'iid': image.iid, 'hash': galleryHash}) }}"
                                                 class="img-responsive">
                                            <span>{{ image.title|e }}</span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </section>
{% endblock %}
