{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
<section>
    <article>
        {% embed 'common/header/base-page-header.html.twig' with {'title': 'Bildergallerie', 'subtitle': 'Veranstaltung'} %}
            {% block breadcrumb %}
                <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                <li class="active">Bildergallerie</li>
            {% endblock %}
        {% endembed %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="dropzone" data-upload-target="{{ path('event_gallery_admin_upload', {'eid': event.eid}) }}" data-token="{{ csrf_token('gallery-upload-' ~ event.eid) }}">DROP</div>
                </div>
            </div>
        </div>
    </article>
</section>
{% endblock %}
