{% extends 'base.html.twig' %}

{% block title %}Veranstaltungen verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li class="active">Veranstaltungen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline">
                    <div class="form-group">
                        <a class="btn btn-primary" href="{{ path('event_new') }}">{{ 'plus'|glyph }} Neu</a>
                    </div>
                    <div class="btn-group" role="group">
                        <div class="btn-group dropup" role="group" data-property="is_active" data-default="2">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterActive"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'filter'|glyph }}<span class="description"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterActive">
                                <li><a href="#" data-filter="1">nur aktive</a></li>
                                <li><a href="#" data-filter="0">nur inaktive</a></li>
                                <li><a href="#" data-filter="[1, 0]">aktive und inaktive</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup" role="group" data-property="is_visible" data-default="2">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterVisible"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterVisible">
                                <li><a href="#" data-filter="1">nur sichtbare</a></li>
                                <li><a href="#" data-filter="0">nur versteckte</a></li>
                                <li><a href="#" data-filter="[1, 0]">sichtbare und versteckte</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup" role="group" data-property="eid" data-default="0">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterTime"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterTime">
                                <li><a href="#" data-filter="[{{ eventListFuture|join(', ') }}]">nur zukünftige</a></li>
                                <li><a href="#" data-filter="[{{ eventListPast|join(', ') }}]">nur vergangene</a></li>
                                <li><a href="#" data-filter="[{{ eventList|join(', ') }}]">zuküntige und vergangene</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <table id="eventListTable" class="table table-striped table-remote-content"
                       data-id-field="eid" data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true" data-url="{{ path('event_list_data') }}">
                    <thead>
                    <tr>
                        <th data-field="eid" data-sortable="true" data-visible="false">#</th>
                        <th data-field="title" data-sortable="true" data-order="asc">Titel</th>
                        <th data-field="description" data-sortable="true">Beschreibung</th>
                        <th data-field="start_date" data-sortable="true">Beginn</th>
                        <th data-field="end_date" data-sortable="true">Ende</th>
                        <th data-field="status" data-sortable="false" data-width="50">Status</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}