{% extends 'base.html.twig' %}

{% block title %}Variable verwalten ({{ variable.formulaVariable }}){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Variable ' ~ variable.formulaVariable, 'subtitle': 'Detailansicht'} %}
    {% block breadcrumb %}
      <li><a href="{{ path('admin_variable_list') }}">Variablen</a></li>
      <li class="active">{{ variable.formulaVariable }}</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
         aria-labelledby="dialogModalLabel">
      <div class="modal-dialog" role="document">
        {{ form_start(form) }}
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Abbrechen"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="dialogModalLabel"></h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            <input type="submit" class="btn btn-primary" value="Bestätigen"/>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('admin_variable_edit', {'vid': variable.id }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span
                  class="hidden-xs">Bearbeiten</span></a>
            <a href="{{ path('admin_variable_configure', {'vid': variable.id }) }}"
               class="btn btn-default">{{ 'equalizer'|glyph }} <span
                  class="hidden-xs">Werte verwalten</span></a>
          </div>
          {% if variable.isDeleted -%}
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#dialogModal" data-action="restore" title="aus dem Papierkorb zurückholen">
              {{ 'repeat'|glyph }}<span class="hidden-xs"> Wiederherstellen…</span>
            </button>
          {% else %}
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#dialogModal" data-action="delete" title="in den Papierkorb verschieben">
              {{ 'trash'|glyph }}<span class="hidden-xs"> Papierkorb…</span>
            </button>
          {%- endif -%}
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <h3>Beschreibung</h3>
        <p>{{ variable.description }}</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3>Standard-Wert</h3>
        <p>
          {% if variable.hasDefaultValue() %}
            <code>{{ variable.defaultValue }}</code>
          {% else %}
            <i>(keiner)</i>
          {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>Verwendung</h3>
        <p>Diese Variable wird in folgenden <a href="{{ path('acquisition_list') }}">Feldern</a> verwendet:</p>

      </div>
      <div class="col-xs-12 col-md-6">
        <h3>Werte</h3>
        <p>Für die <a href="{{ path('event_list') }}">Veranstaltungen</a> werden die folgenden Werte verwendet:</p>
        <table class="table table-striped table-condensed table-form">
          <thead>
          <tr>
            <td>Veranstaltung</td>
            <td>Preis</td>
            <td>Wert</td>
          </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>
                {{ event.title }}
                <a class="btn btn-default btn-xs btn-round" href="{{ path('event', {'eid': event.eid}) }}"
                   target="_blank">
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
              </td>
              <td>
                {% if event.price %}
                  {{ event.price(true)|number_format(2, ',', "") }}&nbsp;€
                {% else %}
                  <i>(keiner)</i>
                {% endif %}
              </td>
              <td>
                {% if values[event.eid] is defined %}
                  <code>{{ values[event.eid] }}</code>
                {% else %}
                  <i>(keiner)</i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
{% block javascriptCustom %}
  {% cspscript %}
    <script>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                    action = button.data('action'),
                    modal = $(this),
                    title,
                    question;

                switch (action) {
                    case 'delete':
                        title = 'Variable in Papierkorb verschieben';
                        question = 'Soll diese Variable wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Variable aus Papierkorb nehmen';
                        question = 'Soll diese Variable wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
        });
    </script>
  {% endcspscript %}
{% endblock %}
