{% extends 'base.html.twig' %}

{% block title %}Variablen verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Variablen', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li class="active">Variablen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline bootstrap-table-toolbar">
                    <div class="form-group">
                        <a class="btn btn-primary" href="{{ path('admin_variable_new') }}">{{ 'plus'|glyph }} Neu {{ caretRightDouble() }}</a>
                    </div>
                    <div class="btn-group" role="group">
                        {{ 'is_deleted'|tableFilterButtonTri(1, 'nur gelöschte', 'ohne gelöschte', 'mit und ohne gelöschte') }}
                    </div>
                </div>
                <table id="variableListTable" class="table table-striped table-remote-content" data-id-field="id"
                       data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true"
                       data-url="{{ path('admin_variable_list_data') }}">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-visible="false">#</th>
                        <th data-field="variable" data-sortable="true" data-order="asc">Variable</th>
                        <th data-field="description" data-sortable="true">Beschreibung</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
