{% extends 'base.html.twig' %}
{% import _self as m %}

{% block title %}Teilnahme erfassen ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anmeldung', 'subtitle': 'Teilnahme erfassen'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
            <li class="active">Teilnahme erfassen</li>
        {% endblock %}
    {% endembed %}
    <div class="container"
         {% if is_granted('participants_read', event) %}data-provide-proposals="{{ event.eid }}"{% endif %}>
        {% if is_granted('ROLE_ADMIN_EVENT_GLOBAL') %}
            <div class="modal fade" tabindex="-1" role="dialog" id="modalPrefillAdmin"
                 data-token="{{ csrf_token('prefill-' ~ event.eid) }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Daten früherer Anmeldung verwenden (<span class="step">1</span>/2)
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div id="prefillFindParticipant">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>Um Daten aus einer früheren Anmeldung zum hinzufügen einer neuen Anmeldung
                                            für diese Veranstaltung herauszusuchen, müssen zunächst im Eingabefeld Teile
                                            des
                                            Namens des gewünschten Teilnehmers/der gewünschten Teilnehmerin eingegeben
                                            werden.
                                        </p>
                                        <div class="form-group">
                                            <label for="prefillInputTerm">Teil des Namens</label>
                                            <input type="text" class="form-control" id="prefillInputTerm">
                                        </div>
                                        <button class="btn btn-primary">Suchen</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="margin-top: 10px;">
                                        <p>Im Anschluss an die Suche auf einen der gefundenen Datensätze klicken um
                                            fortzufahren.</p>
                                        <div class="list-group"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="prefillFindParticipation" style="display: none;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>Jetzt muss die Anmeldung herausgesucht werden, die zum Vorausfüllen des
                                            Formulars verwendet werden soll:</p>
                                        <div class="list-group"></div>
                                        <hr />
                                        <button class="btn btn-default">Neue Suche beginnen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalPrefillAdmin">
                    {{ 'search'|glyph }} Daten früherer Anmeldung verwenden…
                </button>
            </div>
        {% endif %}
        {{ form_start(form) }}
        {% include '/event/participation/form-participation.html.twig' with {'form': form, 'acquisitionFields': acquisitionFieldsParticipation} %}
        {% embed 'event/admin/employee/embed-form-phone-numbers.html.twig' with {'formPhoneNumbers': form.phoneNumbers, 'labelAddNumber': 'Telefonnummer hinzufügen'} %}{% endembed %}
        <div class="row">
            <div class="col-xs-12">
                <h3>Teilnehmer</h3>
            </div>
        </div>
        {% macro prototypeParticipant(formElement, acquisitionFieldsParticipant) %}
            <div class="panel panel-default prototype-element">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10 col-sm-8">
                            <h3 class="panel-title">
                                <!--<a role="button" data-toggle="collapse">-->
                                Teilnehmer
                                <!--</a>-->
                            </h3>
                        </div>
                        <div class="col-xs-2 col-sm-4 text-right">
                            <a href="#" class="btn btn-danger btn-xs prototype-remove"
                               title="Teilnehmer entfernen">{{ 'remove-sign'|glyph }}
                                <span class="hidden-xs">Teilnehmer entfernen</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-collapse collapse in">
                    {% include '/event/participation/form-participant.html.twig' with {'form': formElement, 'acquisitionFields': acquisitionFieldsParticipant} %}
                </div>
            </div>
        {% endmacro %}

        <div class="row">
            <div class="col-xs-12 participants-list prototype-container"
                 data-prototype="{{ m.prototypeParticipant(form.participants.vars.prototype, acquisitionFieldsParticipant)|e('html_attr') }}">
                <div class="prototype-elements">
                    <div class="form-group">
                        {{ form_errors(form.participants) }}
                        {% for participant in form.participants %}
                            {{ m.prototypeParticipant(participant, acquisitionFieldsParticipant) }}
                        {% endfor %}
                        {% if form.participants|length == 0 %}
                            {{ form_row(form.participants) }}
                        {% endif %}
                        <div class="prototype-missing-message"{% if form.participants|length > 0 %} style="display:none"{% endif %}>
                            <div class="alert alert-danger">
                                <ul class="list-unstyled">
                                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> Bei einer
                                        Anmeldung muss mindestens ein Teilnehmer angegeben werden. Bitte fügen
                                        Sie noch mindestens einen Teilnehmer hinzu.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success prototype-add">{{ 'plus-sign'|glyph }} Weiteren Teilnehmer
                    hinzufügen
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary navbar-btn" value="Teilnahme erfassen"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
