{% extends 'base.html.twig' %}

{% block title %}Anmeldung ({{ event.title }}){% endblock %}

{% block body %}
    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
    <div class="modal fade" id="dialogModalComment" tabindex="-1" role="dialog" aria-labelledby="dialogModalCommentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalCommentLabel">Anmerkungen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="modalCommentToken" value="{{ csrf_token('Comment') }}" />
                        <textarea class="form-control" id="modalCommentContent"></textarea>
                    </div>
                    <p class="meta"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" id="dialogModalCommentButton">Bestätigen</button>
                </div>
            </div>
        </div>
    </div>
    {% endif -%}
    {% if is_granted('participants_edit', event) -%}
    <div class="modal fade" id="dialogModalRelateParticipant" tabindex="-1" role="dialog" aria-labelledby="dialogModalRelateParticipantLabel" data-token="{{ csrf_token('Participation' ~ 'related' ) }}">
        <div class="modal-dialog" role="document">
            {{ form_start(formRelated) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalRelateParticipantLabel"><span></span> vernküpfen</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="description"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label">Vorname</label>
                            <pre class="first-name"></pre>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label">Nachname</label>
                            <pre class="last-name"></pre>
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(formRelated.related) }}
                            {{ form_widget(formRelated.related) }}
                            {{ form_errors(formRelated.related) }}
                        </div>
                        <div class="col-xs-12 related-participants-proposal-list">
                            <label class="control-label">Vorschläge</label>
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <td>Vorname</td>
                                    <td>Nachname</td>
                                    <td>Alter</td>
                                    <td>Status</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" class="text-center">(Wird geladen)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary" value="Verknüpfen"/>
                </div>
            </div>
            {{ form_end(formRelated) }}
        </div>
    </div>
    <div class="modal fade" id="dialogPriceConfiguration" tabindex="-1" role="dialog" aria-labelledby="dialogPriceConfigurationLabel" data-token="{{ csrf_token('Participation' ~ 'price' ) }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogPriceConfigurationLabel">Zahlungsverwaltung für <span></span></h4>
                </div>
                <div class="modal-body">
                    <div>
                      <ul class="nav nav-tabs" role="tablist" id="paymentManagementTabs">
                          <li role="presentation" class="active"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Zahlung erfassen</a></li>
                          <li role="presentation"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Preis</a></li>
                          <li role="presentation"><a href="#priceHistory" id="priceHistoryLink" aria-controls="priceHistory" role="tab" data-toggle="tab">Zahlungshistorie</a></li>
                          <li role="presentation"><a href="#invoiceList" id="invoiceListLink" aria-controls="invoiceList" role="tab" data-toggle="tab">Rechnungen</a></li>
                      </ul>
                        <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="payment">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="Zahlungsvorschläge">
                                        {% set paymentParticipation = paymentManager.toPayValueForParticipation(participation, true) %}
                                            <span class="btn btn-default btn-predefined btn-payment-full" data-value="{{ paymentParticipation|number_format(2) }}" role="button" data-description="Komplett"><b>{{ paymentParticipation|number_format(2) }} €</b> Komplett</span>
                                        {% for suggestion in paymentSuggestions %}
                                            {% if loop.length > 2 and loop.index == 2 %}
                                              <div class="btn-group" role="group">
                                                <span class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                  Mehr <span class="caret"></span>
                                                </span>
                                                <ul class="dropdown-menu">
                                            {% endif %}
                                            {% if loop.length > 2 and loop.index >= 2 %}
                                                <li>
                                            {% endif %}
                                            <a href="#" class="{% if loop.length <= 2 or loop.index < 2 %}btn btn-default{% endif %} btn-predefined" role="button"
                                                  data-value="{{ suggestion.value(true)|number_format(2) }}"
                                                  data-description="{{ suggestion.description }}">
                                                    <b>{{ suggestion.value(true)|number_format(2) }} €</b> <small>{{ suggestion.description }}</small>
                                            </a>
                                           {% if loop.length > 2 and loop.index >= 2 %}
                                                </li>
                                            {% endif %}
                                            {% if loop.length > 2 and loop.last %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="newPrice">Betrag</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">€</div>
                                            <input type="text" class="form-control" id="paymentValue" placeholder="Betrag">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10">
                                            <div class="form-group">
                                                <label for="newPriceDescription">Anmerkung</label>
                                                <input type="text" class="form-control" id="paymentDescription" placeholder="Barzahlung, Überweisung oder Zuschuss">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <button class="btn btn-primary btn-inline-save" title="Zahlungsvorgang buchen"
                                                    data-action="{{ constant('AppBundle\\Controller\\Event\\Participation\\AdminPaymentController::ACTION_PAYMENT_RECEIVED') }}">{{ 'floppy-disk'|glyph }}
                                                <span class="visible-xs-inline">Zahlungsvorgang buchen</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td class="value">Betrag</td>
                                            <td>Teilnehmer</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="help-block">Bei Zahlungen für mehrere Teilnehmer: Deckt die Zahlung den gesamten offenen Betrag, wird die Zahlung entsprechend auf die Teilnehmer aufgeteilt. Bei Überdeckung wird der Überschuss auf dem ersten Teilnehmer verbucht. Deckt die Zahlung den offenen Betrag nicht und ist der offene Betrag aller Teilnehmer gleich, wird die Zahlung gleichmäßig aufgeteilt. Ist der offene Betrag für alle Teilnehmer unterschiedlich, wird die Zahlung beginnend beim ersten Teilnehmer aufgeteilt, bis die Zahlung aufgebraucht ist.</p>
                                    <p class="help-block">Für Korrekturbuchungen ein negatives Vorzeichen <code>-</code> voranstellen. Sollen beispielsweise <samp> 20 €</samp> die überzahlt wurden korrigiert werden, <code>-20</code> buchen.</p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="price">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="Preisvorschläge">
                                        {% for suggestion in priceSuggestions %}
                                            {% if loop.length > 3 and loop.index == 3 %}
                                              <div class="btn-group" role="group">
                                                <span class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                  Mehr <span class="caret"></span>
                                                </span>
                                                <ul class="dropdown-menu">
                                            {% endif %}
                                            {% if loop.length > 3 and loop.index >= 3 %}
                                                <li>
                                            {% endif %}
                                                <a href="#" role="button" class="{% if loop.length <= 3 or loop.index < 3 %}btn btn-default{% endif %} btn-predefined"
                                                        data-value="{{ suggestion.value(true)|number_format(2) }}"
                                                        data-description="{{ suggestion.description }}">
                                                    <b>{{ suggestion.value(true)|number_format(2) }} €</b> <small>{{ suggestion.description }}</small>
                                                </a>
                                           {% if loop.length > 3 and loop.index >= 3 %}
                                                </li>
                                            {% endif %}
                                            {% if loop.length > 3 and loop.last %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="newPrice">Grundpreis je <abbr title="Teilnehmer">TN</abbr></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">€</div>
                                            <input type="text" class="form-control" id="newPriceValue" placeholder="Grundpreis">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10">
                                            <div class="form-group">
                                                <label for="newPriceDescription">Anmerkung</label>
                                                <input type="text" class="form-control" id="newPriceDescription" placeholder="Grund dieser Festlegung oder Art des Grundpreises">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <button class="btn btn-primary btn-inline-save" title="Grundpreis festlegen"
                                                    data-action="{{ constant('AppBundle\\Controller\\Event\\Participation\\AdminPaymentController::ACTION_PRICE_SET') }}">{{ 'floppy-disk'|glyph }}
                                                <span class="visible-xs-inline">Geänderten Grundpreis speichern</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td></td>
                                            <td>Teilnehmer</td>
                                            <td class="value">Betrag</td>
                                            <td colspan="2">Art</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="priceHistory">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td></td>
                                            <td>Teilnehmer</td>
                                            <td class="value">Betrag</td>
                                            <td>Beschreibung</td>
                                            <td>Erfassung</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="invoiceList">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group" role="group">
                                        <span class="btn btn-default"
                                              data-token="{{ csrf_token('Participation' ~ 'createInvoice' ~ participation.pid ) }}"
                                              data-pid="{{ participation.pid }}" role="button" id="createInvoiceBtn">Neue Rechnung erstellen</span>
                                        <a href="{{ path('admin_invoice_template_download', {eid: event.eid}) }}" class="btn btn-default btn-download">Vorlage herunterladen</a>
                                    </div>
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td></td>
                                            <td class="value">Betrag</td>
                                            <td>Nummer</td>
                                            <td>Erstellung</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                      </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogPayment" tabindex="-1" role="dialog" aria-labelledby="dialogPaymentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogPaymentLabel">Bezahlung abwickeln</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(formAction) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAction) }}
        </div>
    </div>
    <div class="modal fade" id="dialogModalAssignUser" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabelAssignUser">
        <div class="modal-dialog" role="document">
            {{ form_start(formAssignUser) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabelAssignUser">Benutzerkonto verknüpfen</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(formAssignUser.assignedUser) }}
                            {{ form_errors(formAssignUser.assignedUser) }}
                            <p class="help-block">Hier kann die Anmeldung mit einem Benutzerkonto verknüpft werden, mit
                                dem diese Anmeldung abgegeben wurde. Sie erscheint dann in der Liste der Anmeldungen
                                dieses Benutzers.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAssignUser) }}
        </div>
    </div>
    <div class="modal fade" id="dialogModalMoveParticipation" tabindex="-1" role="dialog" aria-labelledby="dialogModalMoveParticipationLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(formMoveParticipation) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalMoveParticipationLabel">Anmeldung verschieben</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                Falls die Anmeldung aus Versehen für die falsche Veranstaltung abgegeben wurde, kann sie verschoben werden.
                                Dabei wird sie in die Ziel-Veranstaltung kopiert und , mit einem Kommentar versehen. Die Anmeldung hier
                                wird mit einem Kommentar versehen und als zurückgezogen markiert. Der Text der Kommentare kann unten angepasst werden.
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(formMoveParticipation.targetEvent) }}
                                {{ form_widget(formMoveParticipation.targetEvent) }}
                                {{ form_errors(formMoveParticipation.targetEvent) }}
                                <p class="help-block">Zur Auswahl stehen nur im Moment aktive Veranstaltungen.</p>
                            </div>
                            <div class="form-group">
                                {{ form_label(formMoveParticipation.commentOldParticipation) }}
                                {{ form_widget(formMoveParticipation.commentOldParticipation) }}
                                {{ form_errors(formMoveParticipation.commentOldParticipation) }}
                                <p class="help-block">Der Platzhalter <code>{EVENT_NEW}</code> wird durch den Namen der oben gewählten Veranstaltung ersetzt. <code>{PID_NEW}</code> wird durch die neue Anmeldungsnummer ersetzt.</p>
                            </div>
                            <div class="form-group">
                                {{ form_label(formMoveParticipation.commentNewParticipation) }}
                                {{ form_widget(formMoveParticipation.commentNewParticipation) }}
                                {{ form_errors(formMoveParticipation.commentNewParticipation) }}
                                <p class="help-block">Der Platzhalter <code>{EVENT_OLD}</code> wird durch <i>{{ event.title }}</i> ersetzt. <code>{PID_OLD}</code> wird durch die alte Anmeldungsnummer <i>{{ participation.pid }}</i> ersetzt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary" value="Anmeldung verschieben"/>
                </div>
            </div>
            {{ form_end(formMoveParticipation) }}
        </div>
    </div>
    {% endif -%}
    <div class="container participation-panels collapse-breadcrumb-header">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                    <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                    <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                    <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
                    <li class="active">{{ participation|participantsgrouped() }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Anmeldung <small>{{ participation|participantsgrouped }}</small></h1>
                </div>
            </div>
            <div class="col-xs-12 hidden-print">
                {% if is_granted('participants_edit', event) -%}
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        {% if is_granted('participants_edit', event) -%}
                            <a class="btn btn-default" href="{{ path('admin_participation_navigate', {'eid': event.eid, 'pid': participation.pid, 'direction': 'previous' }) }}" title="Zur vorigen (nicht gelöschten, nicht zurückgezogenen/abgelehnten) Anmeldung springen">{{ 'chevron-left'|glyph }}</a>
                            <a class="btn btn-default" href="{{ path('admin_participation_create', {'eid': event.eid }) }}" title="Neue Anmeldung für diese Veranstaltung erfassen">{{ 'plus'|glyph }}</a>
                            <a class="btn btn-default" href="{{ path('admin_participation_navigate', {'eid': event.eid, 'pid': participation.pid, 'direction': 'next' }) }}" title="Zur nächsten (nicht gelöschten, nicht zurückgezogenen/abgelehnten) Anmeldung springen">{{ 'chevron-right'|glyph }}</a>
                        {% endif %}
                    </div>
                    <div class="btn-group" role="group">
                        {% if participation.rejected %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="rereject">
                                {{ 'thumbs-up'|glyph }} wiederaufnehmen…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="reject">
                                {{ 'thumbs-down'|glyph }} ablehnen…
                            </button>
                        {% endif %}
                        {% if participation.withdrawn %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="reactivate">
                                {{ 'retweet'|glyph }} reaktivieren…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="withdraw">
                                {{ 'share-alt'|glyph }} zurückziehen…
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-element="activebutton"
                                data-entity="Participation"
                                data-property="isConfirmed" data-entity-id="{{ participation.pid }}"
                                data-token="{{ csrf_token('Participation' ~ 'isConfirmed' ~ participation.pid ) }}"
                                data-button-enable-label="Bestätigen & benachrichtigen" data-button-enable-glyph="ok"
                                data-button-disable-label="Bestätigung zurücknehmen"
                                data-button-disable-glyph="remove">{{ 'option-horizontal'|glyph }}</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dialogPriceConfiguration" data-aids="{{ participation.participantsIdList|join(';') }}" data-title="{{ participation|participantsgrouped(true) }}">
                            {{ 'credit-card'|glyph }}<span class="hidden-xs"> Zahlungsverwaltung</span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        {% if participation.deletedAt %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="restore">
                                {{ 'repeat'|glyph }} wiederherstellen…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="delete">
                                {{ 'trash'|glyph }} in Papierkorb…
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dialogModalMoveParticipation">
                            {{ 'arrow-right'|glyph }} Anmeldung verschieben…
                        </button>
                    </div>
                </div>
                {% endif -%}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include 'common/header/page-global-messages.html.twig' %}
            </div>
        </div>
        <div class="row print-col-sm-6 participation">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <h3 class="panel-title">{{ 'file'|glyph }} Anmeldung</h3>
                            </div>
                            <div class="col-xs-5 text-right hidden-print">
                                {% if is_granted('participants_edit', event) -%}
                                <a href="{{ path('admin_edit_phonenumbers', {'eid': event.eid, 'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Telefonnummern bearbeiten"
                                   data-toggle="tooltip">{{ 'phone-alt'|glyph }}</a>
                                <a href="{{ path('admin_edit_participation', {'eid': event.eid, 'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Anmeldungsdaten bearbeiten"
                                   data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                {% endif -%}
                                {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                                <button title="Anmerkungen anzeigen und hinzufügen" class="btn btn-default btn-xs"
                                        type="button" data-toggle="collapse"
                                        data-target="#comment-footer-pid-{{ participation.pid }}" aria-expanded="false"
                                        aria-controls="comment-footer-pid-{{ participation.pid }}">
                                    <span class="comment-count"
                                          data-comment-class="AppBundle\Entity\ParticipationComment"
                                          data-related-id="{{ participation.pid }}">{{ commentManager.countForParticipation(participation) }}
                                    </span> {{ 'comment'|glyph }}
                                </button>
                                {% endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Anrede</dt>
                            <dd>{{ participation.salutation }}</dd>
                            <dt>Vorname</dt>
                            <dd>{{ participation.nameFirst }}</dd>
                            <dt>Nachname</dt>
                            <dd>{{ participation.nameLast }}</dd>
                            <dt>Telefon</dt>
                            <dd class="phone-container">
                            {% for phoneNumber in participation.phoneNumbers %}
                                <div>
                                    <a href="tel:{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}">{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}</a>
                                    {% if phoneNumber.description %}
                                    <br>
                                    <i>{{ phoneNumber.description }}</i>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            </dd>
                            <dt>Anschrift</dt>
                            <dd class="address-container">
                                <address>
                                    <strong>{{ participation.getName() }}</strong><br>
                                    {{ participation.addressStreet }}<br>
                                    {{ participation.addressZip }} {{ participation.addressCity }}{% if participation.addressCountry != constant('AppBundle\\Entity\\Event::DEFAULT_COUNTRY') %}<br>
                                    {{ participation.addressCountry }}{% endif %}
                                </address>
                            </dd>
                            <dt>E-Mail Adresse</dt>
                            <dd class="address-container">
                                <address>
                                    {{ participation.email }}
                                </address>
                            </dd>
                            {% for fillout in participation.acquisitionAttributeFillouts %}
                                <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                    data-placement="right">
                                    {%- if not fillout.attribute.isPublic -%}
                                        {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                                    {% endif %}
                                    {{ fillout.attribute.formTitle }}
                                </dt>
                                <dd>{% include '/acquisition/embed-fillout-management.html.twig' with {'fillout': fillout, 'event': event} %}</dd>
                            {% endfor %}
                            <dt title="Eingang der Anmeldung" data-toggle="tooltip" data-placement="right">Eingang</dt>
                            <dd>{{ participation.createdAt|date("d.m.Y H:i") }}</dd>
                            <dt title="Ist die Anmeldung mit einem Benutzerkonto verknüpft, ist dieses hier angegeben"
                                data-toggle="tooltip" data-placement="right">
                                Benutzerkonto
                            </dt>
                            <dd>
                                {% if participation.assignedUser %}<a href="{{ path('user_detail', {'uid': participation.assignedUser.uid}) }}">
                                    {{ participation.assignedUser|fullname }}</a>
                                {% else %}
                                    <i>(keines)</i>
                                {% endif %}
                                {% if is_granted('participants_edit', event) -%}
                                <button data-toggle="modal" data-target="#dialogModalAssignUser"
                                        class="btn btn-default btn-xs"
                                        title="Benutzerkonto verknüpfen">{{ 'pencil'|glyph }}</button>
                                {% endif -%}
                            </dd>

                        </dl>
                    </div>
                    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                    <div class="panel-footer panel-comments collapse{% if commentManager.countForParticipation(participation) %} in{% endif %}" id="comment-footer-pid-{{ participation.pid }}">
                        {% if is_granted('comment_add', event) -%}
                            <div class="comment-add">
                                <button title="Neue Anmerkung hinzufügen" class="btn btn-xs btn-default btn-add-comment"
                                        data-toggle="modal" data-target="#dialogModalComment"
                                        data-comment-class="AppBundle\Entity\ParticipationComment"
                                        data-related-id="{{ participation.pid }}">{{ 'plus'|glyph }}</button>
                            </div>
                        {% endif -%}
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipationComment"
                                 data-related-id="{{ participation.pid }}">
                            {% if is_granted('comment_read', event) -%}
                                {% if not commentManager.countForParticipation(participation) %}
                                    <p class="empty">Keine Anmerkungen gespeichert.</p>
                                {% endif %}
                                {% for comment in commentManager.forParticipation(participation) %}
                                    {{ include('common/comment-content.html.twig', {comment: comment}) }}
                                {% endfor %}
                            {% else %}
                                <p>&nbsp;</p>
                            {% endif -%}
                        </div>
                    </div>
                    {% endif -%}
                </div>
            </div>
        {% if participation.participants.count > 1 %}
        </div>
        <div class="row print-col-sm-6">
        {% endif %}
            {% for participant in participation.participants %}
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="panel-title">{{ 'user'|glyph }} <span class="hidden-xs"> Teilnehmer </span>{{ participant.nameFirst }}</h3>
                                </div>
                                <div class="col-xs-6 text-right hidden-print">
                                    {% if is_granted('participants_edit', event) -%}
                                    <a href="{{ path('admin_add_participant', {'eid': event.eid, 'pid': participation.pid}) }}"
                                       class="btn btn-default btn-xs" title="Neuen Teilnehmer hinzufügen"
                                       data-toggle="tooltip">{{ 'plus'|glyph }}</a>
                                    <button type="button" class="btn btn-default btn-xs" data-element="activebutton"
                                            data-entity="Participant"
                                            data-property="isWithdrawn" data-entity-id="{{ participant.aid }}"
                                            data-token="{{ csrf_token('Participant' ~ 'isWithdrawn' ~ participant.aid ) }}"
                                            data-button-enable-label="Anmeldung von {{ participant.nameFirst }} zurückziehen" data-button-enable-glyph="share-alt"
                                            data-button-disable-label="Anmeldung von {{ participant.nameFirst }} reaktivieren"
                                            data-button-disable-glyph="retweet">{{ 'option-horizontal'|glyph }}</button>
                                    <a href="{{ path('admin_edit_participant', {'eid': event.eid, 'pid': participation.pid, 'aid': participant.aid}) }}"
                                       class="btn btn-default btn-xs" title="Teilnehmer {{ participant.nameFirst }} bearbeiten" data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                    {% endif -%}
                                    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse"
                                            data-target="#comment-footer-aid-{{ participant.aid }}" aria-expanded="false"
                                            aria-controls="comment-footer-aid-{{ participant.aid }}">
                                        <span class="comment-count"
                                          data-comment-class="AppBundle\Entity\ParticipantComment"
                                          data-related-id="{{ participant.aid }}">{{ commentManager.countForParticipant(participant) }}
                                    </span> {{ 'comment'|glyph }}</button>
                                    {% endif -%}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" id="participant-{{ loop.index }}">
                                <div class="col-xs-12">
                                    <dl class="dl-horizontal">
                                        <dt>Vorname</dt>
                                        <dd>{{ participant.nameFirst }}</dd>
                                        <dt>Nachname</dt>
                                        <dd>{{ participant.nameLast }}</dd>
                                        <dt>Geschlecht</dt>
                                        <dd>{{ participant.getGender(true) }}</dd>
                                        <dt>Geburtsdatum</dt>
                                        <dd>
                                            {{ participant.getBirthday|date("d.m.Y") }}
                                            {% if (participant.hasBirthdayAtEvent) %}
                                                {{ 'gift'|glyph(participant.nameFirst ~ ' hat während der Veranstaltung Geburtstag') }}
                                            {% endif %}
                                        </dd>
                                        <dt>Alter</dt>
                                        <dd><span data-toggle="tooltip" title="{{ participant.nameFirst }} hat zu Beginn der Veranstaltung das {{ participant.yearsOfLifeAtEvent }}.&nbsp;Lebensjahr erreicht">{{ participant.yearsOfLifeAtEvent }} Jahre</span> (rund {{ participant.getAgeAtEvent|number_format(1) }} Jahre)
                                        </dd>
                                        <dt>Ernährung</dt>
                                        <dd>
                                            {% set participantFood = participant.getFood(true) %}
                                            {% if participantFood.getValue() %}
                                                {{ ' '|bitmask(participantFood) }}
                                            {% else %}
                                                <i class="empty no-special"><span></span></i>
                                            {% endif %}
                                        </dd>
                                        <dt>Medizinische Hinweise</dt>
                                        <dd>
                                            {% if participant.infoMedical %}
                                                {{ participant.infoMedical }}
                                            {% else %}
                                                <i class="empty no-special"><span></span></i>
                                            {% endif %}
                                        </dd>
                                        <dt>Allgemeine Hinweise</dt>
                                        <dd>
                                            {% if participant.infoGeneral %}
                                                {{ participant.infoGeneral }}
                                            {% else %}
                                                <i class="empty no-special"><span></span></i>
                                            {% endif %}
                                        </dd>
                                        {% for fillout in participant.acquisitionAttributeFillouts %}
                                            <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                                data-placement="right">
                                                {%- if not fillout.attribute.isPublic -%}
                                                    {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                                                {% endif %}
                                                {{ fillout.attribute.formTitle }}
                                            </dt>
                                            <dd>{% include '/acquisition/embed-fillout-management.html.twig' with {'fillout': fillout, 'event': event} %}</dd>
                                        {% endfor %}
                                        {% if event.price %}
                                            <dt>Preis</dt>
                                            <dd>
                                                <span id="participant-price-{{ participant.aid }}">
                                                    {{ paymentManager.getParticipantPaymentStatus(participant)|paymentInfo }}
                                                    </span>
                                                {% if is_granted('participants_edit', event) -%}
                                                    <button data-toggle="modal"
                                                            data-target="#dialogPriceConfiguration"
                                                            data-aids="{{ participant.aid }}"
                                                            data-title="{{ participant|fullname }}"
                                                            class="btn btn-default btn-xs"
                                                            title="Grundpreis festlegen/Zahlung erfassen">{{ 'credit-card'|glyph }}</button>
                                                {% endif -%}
                                            </dd>
                                        {% endif -%}
                                        <dt>Weitere Teilnahmen</dt>
                                        <dd>
                                            {% if similarParticipants[participant.aid]|length == 0 %}
                                                <i>(keine Teilnahmen bei anderen Veranstaltungen)</i>
                                            {% endif %}
                                            {% for relatedParticipant in similarParticipants[participant.aid] %}
                                                <a data-toggle="tooltip"
                                                   title="Veranstaltung: {{ relatedParticipant.participation.event.startDate|date("d.m.Y") }}, Angemeldet: {{ relatedParticipant.participation.createdAt|date("d.m.Y h:i") }}"
                                                   href="{{ path('event_participation_detail', {eid: relatedParticipant.participation.event.eid, pid: relatedParticipant.participation.pid}) }}">{{ relatedParticipant.participation.event.title }}</a>{% if not loop.last and loop.length > 1 %}, {% endif %}
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-xs-12 status-label-list">
                                {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
                                {{ paymentManager.getParticipantPaymentStatus(participant)|paymentLabel }}
                            </div>
                        </div>
                        {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                        <div class="panel-footer panel-comments collapse{% if commentManager.countForParticipant(participant) %} in{% endif %}"
                             id="comment-footer-aid-{{ participant.aid }}">
                            {% if is_granted('comment_add', event) -%}
                            <div class="comment-add">
                                <button title="Neue Anmerkung hinzufügen" class="btn btn-xs btn-default btn-add-comment"
                                        data-toggle="modal" data-target="#dialogModalComment"
                                        data-comment-class="AppBundle\Entity\ParticipantComment"
                                        data-related-id="{{ participant.aid }}">{{ 'plus'|glyph }}</button>
                            </div>
                            {% endif -%}
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipantComment"
                                 data-related-id="{{ participant.aid }}">
                                {% if is_granted('comment_read', event) -%}
                                    {% if not commentManager.countForParticipant(participant) %}
                                        <p class="empty">Keine Anmerkungen gespeichert.</p>
                                    {% endif %}
                                    {% for comment in commentManager.forParticipant(participant) %}
                                        {{ include('common/comment-content.html.twig', {comment: comment}) }}
                                    {% endfor %}
                                {% else %}
                                    <p>&nbsp;</p>
                                {% endif -%}
                            </div>
                        </div>
                        {% endif -%}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascriptCustom %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Anmeldung in Papierkorb verschieben';
                        question = 'Soll diese Anmeldung wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Anmeldung aus Papierkorb nehmen';
                        question = 'Soll diese Anmeldung wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                    case 'withdraw':
                        title = 'Anmeldung zurückziehen';
                        question = 'Soll diese Anmeldung wirklich zurückgezogen werden?';
                        break;
                    case 'reactivate':
                        title = 'Anmeldung reaktivieren';
                        question = 'Soll diese zurückgezogene Anmeldung wirklich wieder aktiviert werden werden?';
                        break;
                    case 'reject':
                        title = 'Anmeldung ablehnen';
                        question = 'Soll diese Anmeldung wirklich abgelehnt werden? Bei einer Ablehung sollten die Eltern informiert werden.';
                        break;
                    case 'rereject':
                        title = 'Ablehnung zurückziehen';
                        question = 'Soll der "abgelehnt" Status wirklich zurückgenommen werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
            $('[data-property="isConfirmed"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    $('.status-label-list .option-{{ constant('AppBundle\\BitMask\\ParticipantStatus::TYPE_STATUS_CONFIRMED') }}').each(function (i, el) {
                        el = $(el);
                        if (response.value) {
                            el.text('bestätigt');
                            el.addClass('label-primary');
                            el.removeClass('label-default');
                        } else {
                            el.text('unbestätigt');
                            el.addClass('label-default');
                            el.removeClass('label-primary');
                        }
                    });
                    if (response.value) {
                        $(button).html('{{ 'ok'|glyph }} Bestätigung <i>(E-Mail wird versandt...)</i>');
                        $(button).addClass('disabled');
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('event_participation_confirm_mail') }}',
                            data: {
                                _token: '{{ csrf_token(participation.pid) }}',
                                pid: '{{ participation.pid }}'
                            },
                            datatype: 'json',
                            success: function (response) {
                                $(document).trigger('add-alerts', {
                                    message: 'Die Eltern wurden per E-Mail über die Bestätigung benachrichtigt.',
                                    priority: 'success'
                                });
                            },
                            error: function (response) {
                                $(document).trigger('add-alerts', {
                                    message: 'Beim Versenden der E-Mail Benachrichtigung ist ein Fehler aufgetreten!',
                                    priority: 'error'
                                });
                            },
                            complete: function (response) {
                                $(button).html('{{ 'remove'|glyph }} Bestätigung zurücknehmen');
                                $(button).removeClass('disabled');
                            }
                        });
                    }
                }
            });
        });
    </script>
    {% endcspscript %}
{% endblock %}
