<!DOCTYPE html>
<html lang="de">
<head>
    <title>Teilnehmer ({{ event.title }}) - Juvem</title>
    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('css/all.css', 'css') }}">
        <script src="//localhost:35729/livereload.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/all.min.css', 'css') }}">
    {% endif %}
    <style>
        body, html {
            background: white;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ themeColor }}">
    <meta name="theme-color" content="{{ themeColor }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="print-page">
{% for participant in participants %}
    <div class="container">
        <div class="row participant-title">
            <div class="col-xs-12">
                <div class="horizontal">
                    <h3>
                        {{ participant.nameLast }}<br> {{ participant.nameFirst }}
                    </h3>
                    <h4>
                        {{ event.title }} {{ event.startDate.format('Y') }}
                    </h4>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="vertical">
                    <div class="vertical-rotated">
                        <h3>
                            {{ participant.nameLast }}<br> {{ participant.nameFirst }}
                        </h3>
                        <h4>
                            {{ event.title }} {{ event.startDate.format('Y') }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>Juvem</li>
                    <li>{{ event.title }} {{ event.startDate.format('Y') }}</li>
                    <li class="active">{{ participant.nameLast }}, {{ participant.nameFirst }}</li>
                </ol>
            </div>
        </div>
        <div class="row participant">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{% if participant.gender == constant('AppBundle\\Entity\\Participant::TYPE_GENDER_FEMALE') %}Teilnehmerin{% else %}Teilnehmer{% endif %}</h3>
                    </div>
                    <div class="col-xs-6">
                        <dl>
                            <dt>Vorname</dt>
                            <dd>{{ participant.nameFirst }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl>
                            <dt>Nachname</dt>
                            <dd>{{ participant.nameLast }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl>
                            <dt>Geschlecht</dt>
                            <dd>{{ participant.getGender(true) }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl>
                            <dt>Geburtsdatum</dt>
                            <dd>
                                {{ participant.getBirthday|date("d.m.Y") }}{% if (participant.hasBirthdayAtEvent) %}{{ 'gift'|glyph }}{% endif %}
                                &bull;
                                {{ participant.getAgeAtEvent|number_format(1) }} Jahre
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <dl>
                            <dt>Ernährung</dt>
                            <dd>
                                {% set participantFood = participant.getFood(true) %}
                                {% if participantFood.getValue() %}
                                    {{ ' '|bitmask(participantFood) }}
                                {% else %}
                                    <i>(keine Besonderheiten)</i>
                                {% endif %}
                            </dd>
                            <dt>Medizinische Hinweise</dt>
                            <dd>
                                {% if participant.infoMedical %}
                                    {{ participant.infoMedical }}
                                {% else %}
                                    <i>(keine Besonderheiten)</i>
                                {% endif %}
                            </dd>
                            <dt>Allgemeine Hinweise</dt>
                            <dd>
                                {% if participant.infoGeneral %}
                                    {{ participant.infoGeneral }}
                                {% else %}
                                    <i>(keine Besonderheiten)</i>
                                {% endif %}
                            </dd>
                            {% for fillout in participant.acquisitionAttributeFillouts %}
                                <dt>
                                <div class="title">{{ fillout.attribute.formTitle }}</div>
                                <div class="description">{{ fillout.attribute.managementDescription }}</div>
                                </dt>
                                <dd>{{ fillout }}</dd>
                            {% endfor %}
                            <dt>Status</dt>
                            <dd>
                                <div class="status-label-list">
                                    {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12">
                        <h3>
                            Anmerkungen {% if participant.gender == constant('AppBundle\\Entity\\Participant::TYPE_GENDER_FEMALE') %}zur Teilnehmerin{% else %}zum Teilnehmer{% endif %}</h3>
                        <div class="{% if commentManager.countForParticipant(participant) %} in{% endif %}"
                             id="comment-footer-aid-{{ participant.aid }}">
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipantComment"
                                 data-related-id="{{ participant.aid }}">
                                {% if not commentManager.countForParticipant(participant) %}
                                    <p class="empty">Keine
                                        Anmerkungen {% if participant.gender == constant('AppBundle\\Entity\\Participant::TYPE_GENDER_FEMALE') %}zur Teilnehmerin{% else %}zum Teilnehmer{% endif %}
                                        gespeichert.</p>
                                {% endif %}
                                {% for comment in commentManager.countForParticipant(participant) %}
                                    <div class="content">
                                        {{ comment.content|markdown }}
                                    </div>
                                    <p class="meta">
                                        <i>{{ app.user.fullname(comment.createdBy.nameLast, comment.createdBy.nameFirst) }}</i>
                                        <span>{{ comment.createdAt|date("d.m.Y h:i") }}</span>{% if comment.modifiedAt %},
                                        geändert von
                                        <i>{{ app.user.fullname(comment.modifiedBy.nameLast, comment.modifiedBy.nameFirst) }}</i>
                                        <span>{{ comment.modifiedAt|date("d.m.Y h:i") }}</span>{% endif %}{% if comment.deletedAt %},
                                            gelöscht <span>{{ comment.deletedAt|date("d.m.Y h:i") }}</span>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Anmeldung</h3>
                    </div>
                    <div class="col-xs-12">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>Anrede</dt>
                                <dd>{{ participant.participation.salution }}</dd>
                                <dt>Vorname</dt>
                                <dd>{{ participant.participation.nameFirst }}</dd>
                                <dt>Nachname</dt>
                                <dd>{{ participant.participation.nameLast }}</dd>
                                <dt>Telefon</dt>
                                <dd class="phone-container">
                                    {% for phoneNumber in participant.participation.phoneNumbers %}
                                        <div>
                                            {{ phone_number_format(phoneNumber.number, 'INTERNATIONAL') }}
                                            {% if phoneNumber.description %}
                                                <br>
                                                <i>{{ phoneNumber.description }}</i>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                </dd>
                                <dt>Anschrift</dt>
                                <dd class="address-container">
                                    <address>
                                        <strong>{{ participant.participation.getName() }}</strong><br>
                                        {{ participant.participation.addressStreet }}<br>
                                        {{ participant.participation.addressZip }} {{ participant.participation.addressCity }}
                                    </address>
                                </dd>
                                <dt>E-Mail Adresse</dt>
                                <dd class="address-container">
                                    <address>
                                        {{ participant.participation.email }}
                                    </address>
                                </dd>
                                <dt>Eingang</dt>
                                <dd>{{ participant.participation.createdAt|date("d.m.Y H:i") }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <dl>
                            {% for fillout in participant.participation.acquisitionAttributeFillouts %}
                                <dt>
                                <div class="title">{{ fillout.attribute.formTitle }}</div>
                                <div class="description">{{ fillout.attribute.managementDescription }}</div>
                                </dt>
                                <dd>{{ fillout }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                    <div class="col-xs-12">
                        <h3>Anmerkungen zur Anmeldung</h3>
                        <div class="{% if commentManager.countForParticipation(participant.participation) %} in{% endif %}"
                             id="comment-footer-pid-{{ participant.participation.pid }}">
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipationComment"
                                 data-related-id="{{ participant.participation.pid }}">
                                {% if not commentManager.countForParticipation(participant.participation) %}
                                    <p class="empty">Keine Anmerkungen zur Anmeldung gespeichert.</p>
                                {% endif %}
                                {% for comment in commentManager.forParticipation(participant.participation) %}
                                    <div class="content">
                                        {{ comment.content|markdown }}
                                    </div>
                                    <p class="meta">
                                        <i>{{ app.user.fullname(comment.createdBy.nameLast, comment.createdBy.nameFirst) }}</i>
                                        <span>{{ comment.createdAt|date("d.m.Y h:i") }}</span>{% if comment.modifiedAt %},
                                        geändert von
                                        <i>{{ app.user.fullname(comment.modifiedBy.nameLast, comment.modifiedBy.nameFirst) }}</i>
                                        <span>{{ comment.modifiedAt|date("d.m.Y h:i") }}</span>{% endif %}{% if comment.deletedAt %},
                                            gelöscht <span>{{ comment.deletedAt|date("d.m.Y h:i") }}</span>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="participant-end">
        </div>
    </div>
{% endfor %}

{% block javascriptMain %}
    {% if app.environment == 'dev' %}
        <script src="{{ asset('js/all.js', 'js') }}"></script>
    {% else %}
        <script src="{{ asset('js/all.min.js', 'js') }}" integrity="sha256-{{ assetJsIntegrity }}"></script>
    {% endif %}
{% endblock %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            window.print();
        });
    </script>
    {% endcspscript %}
</body>
</html>
