{% extends 'base.html.twig' %}

{% block title %}Teilnehmer verwalten ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Teilnehmer', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li class="active">Teilnehmer</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline">
                    <div class="btn-group" role="group">
                        <div class="btn-group dropup" data-property="is_confirmed">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterConfirmed"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description">mit und ohne bestätigte</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterConfirmed">
                                <li><a href="#" data-filter="1">nur bestätigte</a></li>
                                <li><a href="#" data-filter="0">ohne bestätigte</a></li>
                                <li><a href="#" data-filter="[1, 0]">mit und ohne bestätigte</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup" data-property="is_withdrawn" data-filter="0">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterWithdrawn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description">ohne zurückgezogene</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterWithdrawn">
                                <li><a href="#" data-filter="1">nur zurückgezogene</a></li>
                                <li><a href="#" data-filter="0">ohne zurückgezogene</a></li>
                                <li><a href="#" data-filter="[1, 0]">inkl. zurückgezogen</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup" data-property="is_paid">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterPaid"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description">bereits bezahlt oder nicht</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterPaid">
                                <li><a href="#" data-filter="1">nur bezahlt</a></li>
                                <li><a href="#" data-filter="0">ohne bezahlte</a></li>
                                <li><a href="#" data-filter="[1, 0]">bezahlt und nicht bezahlt</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup" data-property="is_deleted" data-filter="0">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="filterDeleted"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="description">ohne gelöschte</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filterDeleted">
                                <li><a href="#" data-filter="1">nur gelöschte</a></li>
                                <li><a href="#" data-filter="0">ohne gelöschte</a></li>
                                <li><a href="#" data-filter="[1, 0]">mit und ohne gelöschte</a></li>
                            </ul>
                        </div>
                        <a href="{{ path('event_participants_export', {eid: event.eid}) }}"
                           class="btn btn-default btn-xs btn-download">
                            {{ 'export'|glyph }}
                        </a>
                    </div>
                </div>
                <table id="participantsListTable" class="table table-striped table-remote-content"
                       data-id-field="did" data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true"
                       data-url="{{ path('event_participants_list_data', {eid: event.eid}) }}">
                    <thead>
                    <tr>
                        <th data-field="aid" data-sortable="true" data-visible="false">#</th>
                        <th data-field="pid" data-sortable="true" data-visible="false">Teilnahmenummer</th>
                        <th data-field="nameFirst" data-sortable="true">Vorname</th>
                        <th data-field="nameLast" data-sortable="true" data-order="asc">Nachname</th>
                        <th data-field="age" data-sortable="true"><abbr
                                    title="Alter der Teilnehmer bei der Veranstaltung">Alter</abbr></th>
                        <th data-field="phone" data-sortable="false">Telefonnummern</th>
                        <th data-field="status" data-sortable="false">Status</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
