{% extends 'base.html.twig' %}

{% block title %}Jugendwerk-Veranstaltungen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'Evangelisches Jugendwerk Stuttgart Vaihingen'} %}
        {% block breadcrumbfull %}
            <ol class="breadcrumb">
                <li class="active"><a href="{{ path('homepage') }}">Juvem</a></li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            {% if events|length == 0 %}
                <div class="col-xs-12">
                    <div class="alert alert-info" role="alert">
                        Im Moment scheint leider keine Veranstaltung zur Teilnahme freigegeben zu sein.
                    </div>
                </div>
            {% endif %}
            {% for event in events %}
                <div class="col-sm-6 {{ loop.length == 1 ? 'col-sm-offset-3 ' : '' }} col-md-{{ events|length > 2 ? 4 : 6 }}">
                    <div class="thumbnail">
                        {% if event.imageFilename %}
                            <img src="{{ path('event_image',  {'eid': event.eid, 'width': 545, 'height': 545 }) }}"
                                 alt="Poster-Abbildung wurde nicht geladen" title="Poster">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ event.title }}</h3>

                            <p>
                                {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                                {% if event.hasStartTime %}
                                    {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                                {% endif %}
                                {% if event.hasEndDate or event.hasEndTime %}
                                    -
                                    {% if event.hasEndDate %}
                                        {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                                    {% endif %}
                                    {% if event.hasEndTime %}
                                        {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                                    {% endif %}
                                {% endif %}
                            </p>

                            <p>{{ event.description|length > 100 ? event.description|slice(0, 200) ~ '...' : event.description }}</p>

                            <p>
                                {% if event.isActive %}
                                {% if app.user is null %}
                                {% include 'event/participation/public/embed-prefill-modal.html.twig' with {'event': event, 'participations': participations} %}

                            <div class="btn-group">
                                <a role="button" href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                                   class="btn btn-primary">Teilnehmen</a>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Men端 erweitern</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('event_public_participate', {'eid': event.eid }) }}">Leere
                                            Anmeldung ausf端llen</a></li>
                                    <li{% if not participations|length %} class="disabled"{% endif %}><a href="#"
                                                                                                         role="button" {% if participations|length %} data-toggle="modal" data-target="#modalPrefillParticipation{{ event.eid }}"{% endif %}
                                                >Anmeldung mit fr端heren Daten vorausf端llen
                                        </a></li>
                                </ul>
                            </div>
                            {% else %}
                                <a role="button" href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                                   class="btn btn-primary">Teilnehmen</a>
                            {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN_EVENT') %}
                                <a role="button" href="{{ path('event', {'eid': event.eid }) }}"
                                   class="btn btn-default">Verwalten</a>
                            {% endif %}
                            <a role="button" href="{{ path('event_public_detail', {'eid': event.eid }) }}"
                               class="btn btn-{% if event.isActive %}default{% else %}primary{% endif %}">Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
