{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
<section>
<article>
    {% embed 'common/header/base-page-header.html.twig' with {'title': event.title, 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li class="active">{{ event.title }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {{ ''|emailListingModal }}
        <div class="modal fade" id="modalHistory" tabindex="-1" role="dialog" aria-labelledby="modalHistoryLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalHistoryLabel">Anmeldungsverlauf</h4>
                    </div>
                    <div class="modal-body">
                        <table></table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Veranstaltung bearbeiten">
                    {%- if is_granted('participants_read', event) %}
                        <div class="btn-group" role="group">
                            <a href="{{ path('event_participants_list', {'eid': event.eid }) }}"
                               class="btn btn-default">{{ 'list'|glyph }} <span class="hidden-xs">{{ participantsCount }} Teilnehmer:innen
                                    {% if event.participantsUnconfirmedCount -%}
                                        <span class="badge">{{- event.participantsUnconfirmedCount }}</span>{%- endif -%}</span>
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Menü erweitern</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">{{ 'list'|glyph }} Teilnehmer:innen verwalten</a></li>
                                <li><a href="{{ path('event_admin_groups', {'eid': event.eid }) }}">{{ 'transfer'|glyph }} {{ groupCount }} Einteilungsfeld{% if groupCount != 1 %}er{% endif %} verwalten</a></li>
                                {% if numberFieldCount > 0 %}
                                    <li><a href="{{ path('event_admin_order', {'eid': event.eid }) }}">{{ 'sort-by-order'|glyph }}
                                            Reihenfolge festlegen</a></li>
                                {% endif %}
                                <li><a href="{{ path('event_admin_dependencies_overview', {'eid': event.eid }) }}">{{ 'random'|glyph }} Beziehungsübersicht</a></li>
                                <li><a href="{{ path('event_participants_list_specific_age', {'eid': event.eid }) }}">{{ 'calendar'|glyph }} Stichtagsliste erstellen</a></li>
                                <li><a href="{{ path('event_attendance_lists', {'eid': event.eid }) }}">{{ 'check'|glyph }} Anwesenheitslisten</a></li>
                                {%- if is_granted('participants_edit', event) -%}
                                <li><a href="{{ path('event_mail', {'eid': event.eid }) }}">{{ 'send'|glyph }} E-Mail versenden…</a></li>
                                {%- endif %}
                                <li><a href="{{ path('event_invoices_list', {'eid': event.eid }) }}">{{ 'credit-card'|glyph }} Rechnungen verwalten</a></li>
                                <li><a href="{{ path('event_participants_location', {'eid': event.eid }) }}">{{ 'map-marker'|glyph }} Teilnehmer:innen-Herkunft untersuchen</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('event_profiles_generator', {'eid': event.eid}) }}">{{ 'book'|glyph }} Steckbriefe exportieren…</a></li>
                                <li><a href="{{ path('event_export_generator', {'eid': event.eid }) }}">{{ 'export'|glyph }} Excel-Export erstellen…</a></li>
                                <li><a href="{{ path('event_export_generator', {'eid': event.eid }) }}#participants">{{ 'user'|glyph }} Teilnehmer:innen exportieren…</a></li>
                                <li><a href="{{ path('event_export_generator', {'eid': event.eid }) }}#phone_list">{{ 'phone-alt'|glyph }} Telefonliste exportieren…</a></li>
                                <li><a href="{{ path('event_export_generator', {'eid': event.eid }) }}#letter">{{ 'envelope'|glyph }} Für Serienbrief exportieren…</a></li>
                                <li><a href="{{ path('event_participants_birthday_address_export', {'eid': event.eid }) }}">Für Zuschussantrag exportieren (alt) {{ 'new-window'|glyph }}</a></li>
                                <li><a href="{{ path('event_participations_export', {'eid': event.eid }) }}">Anmeldungen exportieren {{ 'new-window'|glyph }}</a></li>
                            </ul>
                        </div>
                    {%- endif %}
                    {%- if is_granted('edit', event) -%}
                        <div class="btn-group" role="group">
                            <a href="{{ path('admin_event_employee_list', {'eid': event.eid }) }}"
                                class="btn btn-default" title="Mitarbeiter:innen verwalten">{{ 'heart'|glyph }} <span class="hidden-xs">{{ employeeCount }} Mitarbeiter:innen</span></a>
                            <a href="{{ path('event_user_admin', {'eid': event.eid }) }}"
                               class="btn btn-default" title="Benutzerzuweisung bearbeiten">{{ 'user'|glyph }} <span class="hidden-xs">{{ event.userAssignments|length }} Benutzer</span></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="{{ path('event_edit', {'eid': event.eid }) }}"
                               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
                            <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                    data-property="isVisible" data-entity-id="{{ event.eid }}"
                                    data-token="{{ csrf_token('Event' ~ 'isVisible' ~ event.eid ) }}"
                                    data-button-enable-label="Sichtbar schalten" data-button-enable-glyph="eye-open"
                                    data-button-disable-label="Verstecken"
                                    data-button-disable-glyph="eye-close">{{ 'option-horizontal'|glyph }}</button>
                            <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                    data-property="isActive" data-entity-id="{{ event.eid }}"
                                    data-token="{{ csrf_token('Event' ~ 'isActive' ~ event.eid ) }}"
                                    data-button-enable-label="Aktivieren" data-button-enable-glyph="folder-open"
                                    data-button-disable-label="Deaktivieren"
                                    data-button-disable-glyph="folder-close">{{ 'option-horizontal'|glyph }}</button>
                        </div>
                    {% endif -%}
                    <div class="btn-group" role="group">
                        <a href="{{ path('event_gallery_admin', {'eid': event.eid }) }}"
                           class="btn btn-default" title="Bildergalerie verwalten">{{ 'picture'|glyph }} <span class="hidden-xs">Bildergalerie</span></a>
                        {%- if is_granted('edit', event) and featureCloud %}
                        <a href="{{ path('admin_event_cloud', {'eid': event.eid }) }}"
                           class="btn btn-default feature-cloud" title="Dateifreigaben verwalten">{{ 'cloud'|glyph }} <span class="hidden-xs">Cloud</span></a>
                        {% endif %}
                        {% if event.feedbackQuestionnaireEnabled %}
                            <a href="{{ path('admin_feedback_event', {'eid': event.eid }) }}"
                               class="btn btn-default feature-feedback" title="Feedback verwalten">{{ 'stats'|glyph }} <span class="hidden-xs">Feedback</span></a>
                        {% endif %}
                    </div>

                    <a href="{{ path('admin_event_variable', {'eid': event.eid }) }}"
                       class="btn btn-default" title="Veranstaltungsspezifische Variablen verwalten">{{ 'equalizer'|glyph }} <span class="hidden-xs">Variablen</span></a>
                    {{ event|changeTrackingButton }}
                    {%- if is_granted('edit', event) -%}
                        {% if event.isDeleted -%}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="restore" title="aus dem Papierkorb zurückholen">
                                {{ 'repeat'|glyph }}<span class="hidden-xs"> Wiederherstellen…</span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="delete" title="in den Papierkorb verschieben">
                                {{ 'trash'|glyph }}<span class="hidden-xs"> Papierkorb…</span>
                            </button>
                        {%- endif -%}
                    {%- endif -%}

                    {% if app.user is not null %}
                        <label id="event-subscription-button" class="btn btn-default {% if event.subscribedBy(app.user) %}active{% endif %}">{{ 'bell'|glyph }} <span class="hidden-xs">Abonnieren</span></label>
                    {% endif %}
                    {{ event|emailListingButton(false) }}

                    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
                         aria-labelledby="dialogModalLabel">
                        <div class="modal-dialog" role="document">
                            {{ form_start(form) }}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Abbrechen"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <p></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>{{ event.getTitle }}</h2>
                <p>
                    {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                    {% if event.hasStartTime %}
                        {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                    {% endif %}
                    {% if event.hasEndDate or event.hasEndTime %}
                        -
                        {% if event.hasEndDate %}
                            {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                        {% endif %}
                        {% if event.hasEndTime %}
                            {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                        {% endif %}
                    {% endif %}

                    <span class="status-label-list">
                    {% if event.isVisible() %}
                        <span class="label label-primary option-isVisible">Sichtbar</span>
                    {% else %}
                        <span class="label label-default option-isVisible">Versteckt</span>
                    {% endif %}
                    {% if event.isActive() %}
                        <span class="label label-primary option-isActive">Aktiv</span>
                    {% else %}
                        <span class="label label-default option-isActive">Inaktiv</span>
                    {% endif %}
                    </span>
                    {% if event.isAutoConfirm() %}
                        <span class="label label-primary">Automatische Bestätigungen</span>
                    {% endif %}
                    {% if event.hasWaitingListThreshold() %}
                        <span class="label label-primary">Warteliste ab {{ event.waitingListThreshold }} <abbr title="Teilnehmer:innen">TN</abbr></span>
                    {% endif %}
                    {% if event.invoiceTemplateFile %}
                        <span class="label label-primary" title="Eine eigene Rechnungsvorlage ist konfiguriert">Rechnungsvorlage</span>
                    {% endif %}
                </p>
                {{ event.getDescription|markdown_shifted }}
                <hr />
                <p>
                    {% if event.hasLink() %}
                        Link: <a href="{{ event.linkUrl }}" target="_blank" rel="noopener">{{ event.linkTitle }}</a>
                    {% else %}
                        <i>(Kein Link)</i>
                    {% endif %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Poster</h4>
                        {% if event.imageFilename %}
                            <a href="{{ path('event_image_original', {'eid': event.eid}) }}" class="thumbnail">
                                <div class="lazy-load-image"
                                      data-alt="Poster-Abbildung wurde nicht geladen" data-title="Poster"
                                      data-src="{{ path('event_image',  {'eid': event.eid, 'width': 360, 'height': 500 }) }}">
                                </div>
                            </a>
                        {% else %}
                            <div class="thumbnail">
                                <div class="alert alert-info" role="alert">
                                    <p>Es ist keine Bild-Datei als Poster zu dieser Veranstaltung gespeichert.</p>

                                    <p> Beim <a href="{{ path('event_edit', {'eid': event.eid }) }}" class="alert-link">Bearbeiten</a>
                                        dieser Veranstaltung kann ein entsprechendes Bild hochgeladen werden.</p>

                                    <p>Dadurch wird die Veranstaltung besser präsentiert.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 flat-progress-bar">
                        <div style="clear:both;">
                            <div style="float:left;"><h4>Verteilung</h4></div>
                            <div style="float:right;">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                        data-target="#modalHistory">
                                    {{ 'signal'|glyph }}<span class="hidden-xs"> Verlauf</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row event-participant-distribution loading" data-eid="{{ event.eid }}">

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h4>Benutzer</h4>
                        {% if event.userAssignments|length %}
                        <ul>
                            {% for assignment in event.userAssignments %}
                                <li><a href="{{ path('user_detail', {uid: assignment.user.uid}) }}">{{ assignment.user|fullname }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                <p>Der Veranstaltung sind noch keine Benutzer zugewiesen.</p>
                            </div>

                        {% endif %}
                    </div>
                    <div class="col-xs-12 event-meta">
                    {% embed 'event/public/embed-event-meta.html.twig' with {'event': event} %}{% endembed %}
                    </div>
                    {% if event.price %}
                    <div class="col-xs-12">
                        <div id="infoEventPaymentSummary" data-eid="{{ event.eid }}">
                            <h4>Zahlungen
                                <button class="btn btn-default btn-xs">{{ 'refresh'|glyph }}</button>
                            </h4>
                            <div></div>
                        </div>
                    </div>
                    {% endif %}
                    {%- if featureCloud and (is_granted('cloud_access_team', event) or is_granted('cloud_access_management', event)) %}
                        <div class="col-xs-12">
                            <div id="cloudFileListing" data-eid="{{ event.eid }}">
                                <h4>Cloud
                                    <button class="btn btn-default btn-xs">{{ 'refresh'|glyph }}</button>
                                </h4>
                                <div></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>
</section>
{% endblock %}
{% block javascriptCustom %}
    {% cspscript %}
    <script>
        jQuery(document).ready(function () {
            jQuery('#modalHistory').on('show.bs.modal', function (event) {
                var tableEl = jQuery('#modalHistory table');
                tableEl.toggleClass('loading', true);

                jQuery.ajax({
                    type: 'GET',
                    url: '{{ path('event_participate_timeline', {eid: event.eid}) }}',
                    datatype: 'json',
                    success: function (response) {
                        var rowHtml,
                            tableBodyEl,
                            timeline = response.history,
                            totalCount = response.participantsTotal;

                        tableEl.html('<tbody></tbody><tfoot></tfoot>');
                        tableBodyEl = tableEl.find('tbody');
                        tableFootEl = tableEl.find('tfoot');

                        if (totalCount < 24) {
                            yAxisSteps = 1;
                        } else if (totalCount < 101) {
                            yAxisSteps = 10;
                        } else if (totalCount < 201) {
                            yAxisSteps = 25;
                        } else {
                            yAxisSteps = 50;
                        }

                        for (var row = totalCount; row > 0; --row) {
                            rowHtml = '';

                            rowHtml += '<tr data-index="'+row+'"';
                            if (row % yAxisSteps === 0) {
                                rowHtml += ' class="h"';
                            }
                            rowHtml += '>';
                            rowHtml += '<td class="y">';
                            if (row % yAxisSteps === 0) {
                                rowHtml += '<span style="position: fixed;">'+row+'</span>';
                            }
                            rowHtml += '</td>'; //y-axis

                            jQuery.each(timeline, function (year, months) {
                                jQuery.each(months, function (month, days) {
                                    jQuery.each(days, function (index, dayData) {
                                        var day = dayData.day;
                                        if (row <= dayData.count) {
                                            rowHtml += '<td class="f" title="' + day + '. ' + month + ' ' + year + ': ' + dayData.count + ' Teilnehmer:innen (' + dayData.days + ' Tage bis zur Veranstaltung)"></td>';
                                        } else {
                                            rowHtml += '<td></td>';
                                        }
                                    });
                                });
                            });

                            rowHtml += '</tr>';
                            tableBodyEl.append(rowHtml);
                        }

                        //x-axis days
                        if (response.daysTotal < 60) {
                            rowHtml = '<tr class="x day"><td></td>';
                            jQuery.each(timeline, function (year, months) {
                                jQuery.each(months, function (month, days) {
                                    jQuery.each(days, function (index, dayData) {
                                        rowHtml += '<td title="' + dayData.day + '">' + ((dayData.day % 5 === 0) ? dayData.day : '') + '</td>';
                                    });
                                });
                            });
                            rowHtml += '</tr>';
                            tableFootEl.append(rowHtml);
                        }

                        //x-axis months
                        rowHtml = '<tr class="x month"><td></td>';
                        jQuery.each(timeline, function (year, months) {
                            jQuery.each(months, function (month, days) {
                                rowHtml += '<td colspan="' + days.length + '" title="' + month + '">' + month + '</td>';
                            });
                        });
                        rowHtml += '</tr>';
                        tableFootEl.append(rowHtml);

                        //x-axis years
                        rowHtml = '<tr class="x year"><td></td>';
                        jQuery.each(timeline, function (year, months) {
                            var yearDays = 0;
                            jQuery.each(months, function (month, days) {
                                yearDays += days.length
                            });

                            rowHtml += '<td colspan="' + yearDays + '" title="' + year + '">' + year + '</td>';
                        });
                        rowHtml += '</tr>';
                        tableFootEl.append(rowHtml);
                        tableEl.toggleClass('loading', false);
                    },
                    error: function (response) {
                        $(document).trigger('add-alerts', {
                            message: 'Der Anmeldungsverlauf konnte nicht geladen werden',
                            priority: 'error'
                        });
                    }
                });
            });

            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Veranstaltung in Papierkorb verschieben';
                        question = 'Soll diese Veranstaltung wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Veranstaltung aus Papierkorb nehmen';
                        question = 'Soll diese Veranstaltung wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
            $('[data-entity="Event"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    var option = button.data('property');

                    $('.status-label-list .option-' + option).each(function (i, el) {
                        el = $(el);

                        var textEnabled,
                                textDisabled;

                        switch (option) {
                            case 'isActive':
                                textEnabled = 'Aktiv';
                                textDisabled = 'Inaktiv';
                                break;
                            case 'isVisible':
                                textEnabled = 'Sichtbar';
                                textDisabled = 'Versteckt';
                                break;
                        }

                        if (response.value) {
                            el.text(textEnabled);
                            el.addClass('label-primary');
                            el.removeClass('label-default');
                        } else {
                            el.text(textDisabled);
                            el.addClass('label-default');
                            el.removeClass('label-primary');
                        }
                    });
                }
            });
            $('#event-subscription-button').click(function() {
                var btn = $(this),
                    valueNew = !btn.hasClass('active');
                btn.addClass('disabled');

                $.ajax({
                    type: 'POST',
                    url: '{{ path('event_admin_subscription') }}',
                    data: {
                        _token: '{{ csrf_token('Event' ~ 'subscribe' ~ event.eid ) }}',
                        eid: {{event.eid}},
                        valueNew: valueNew ? 1 : 0
                    },
                    datatype: 'json',
                    success: function () {
                        btn.toggleClass('active', valueNew);
                    },
                    error: function (response) {
                        $(document).trigger('add-alerts', {
                            message: 'Die Änderung des Abonnements der Veranstaltung konnten nicht gespeichert werden. Möglicherweise ist die Internetverbindung unterbrochen worden.',
                            priority: 'error'
                        });
                    },
                    complete: function (response) {
                        btn.removeClass('disabled');
                    }
                });
            });


        });
    </script>
    {% endcspscript %}
{% endblock %}
