<div class="row">
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-xs-12">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <p class="help-block" id="help-description">Dieser Text wird in der detaillierten Ansicht angezeigt. Es können Formatierungsanweisungen von <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> verwendet werden. Wenn keine <a href="#form-element-description-meta">Kurzbeschreibung</a> angegeben ist, wird der Text-Ausschnitt in der Veranstaltungs-Übersicht wird im Klartext dargestellt.</p>
            </div>
            <div class="col-xs-12" id="form-element-description-meta">
                {{ form_label(form.descriptionMeta) }}
                {{ form_widget(form.descriptionMeta) }}
                {{ form_errors(form.descriptionMeta) }}
                <p class="help-block" id="help-description-meta">Wenn definiert, wird dieser Text in der Veranstaltungs-Übersicht verwendet. Dieser Text wird auch als Auszug für Suchmaschienen verwendet. Es ist nur reiner Text erlaubt.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                {{ form_row(form.startDate) }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="form-group">
                    {{ form_widget(form.hasStartTime) }}
                    {{ form_errors(form.startTime) }}
                    {{ form_widget(form.startTime) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                <div class="form-group">
                    {{ form_widget(form.hasEndDate) }}
                    {{ form_errors(form.endDate) }}
                    {{ form_widget(form.endDate) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="form-group">
                    {{ form_widget(form.hasEndTime) }}
                    {{ form_errors(form.endTime) }}
                    {{ form_widget(form.endTime) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.isVisible) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.isActive) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.isAutoConfirm) }}
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
                <p class="help-block" id="help-price">Leer lassen, wenn kein Preis angegeben werden soll. Wird vor allem
                    für Hervorhebung in Suchergebnissen verwendet.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_label(form.ageRange) }}
                {{ form_widget(form.ageRange) }}
                {{ form_errors(form.ageRange) }}
                <p class="help-block" id="help-age-range">Kann leer gelassen werden. Sollte die Altersspanne der
                    Zielgruppe in Jahren angeben, bspw. <code>7-13</code>. Wird vor allem für Hervorhebung in
                    Suchergebnissen verwendet.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    {{ form_widget(form.hasWaitingListThreshold) }}
                    {{ form_errors(form.waitingListThreshold) }}
                    {{ form_widget(form.waitingListThreshold) }}
                    <p class="help-block" id="help-waiting-list">Wird die hier festgelegte Zahl Anmeldungen (Teilnehmer)
                        erreicht, erfolgen eingehende Anmeldungen auf Warteliste. Die Veranstaltungsseite und
                        Eingangs-E-Mails erhalten diesen hinweis. Ist die Differenz zwischen Schwelle und Teilnehmern
                        &le; 3, wird die Info "wenig Plätze frei" angezeigt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_widget(form.hasConfirmationMessage) }}
                    {{ form_errors(form.confirmationMessage) }}
                    {{ form_widget(form.confirmationMessage) }}
                    <p class="help-block" id="help-confirmation-message">Dieser Text wird in der Bestätgungs-E-Mail mit
                        angezeigt. Der Text wird in der E-Mail als Absatz dargestellt, es kann demnach nur Fließtext
                        ohne Formatierung verwendet werden.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                    {{ form_label(form.linkTitle) }}
                    {{ form_widget(form.linkTitle) }}
                    {{ form_errors(form.linkTitle) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                    {{ form_label(form.linkUrl) }}
                    {{ form_widget(form.linkUrl) }}
                    {{ form_errors(form.linkUrl) }}
            </div>
            <div class="col-xs-12">
                <p class="help-block" id="help-special-link">Vor allem wenn die Anmeldung auf einem externen Portal und nicht in dieser Juvem-Installation durchgeführt wird, kann hier ein spezieller Link zu einer Fremden Website konfigurtiert werden.
                Nur wenn ein (kurzer) Titel für den Link und die URL (mit Protokoll) konfiguriert ist, wird ein entsprechender Knopf angezeigt.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.imageFile) }}
            </div>
            <div class="col-xs-12">
                <div class="modal fade" id="modalInvoiceTemplateHint" tabindex="-1" role="dialog" aria-labelledby="modalInvoiceTemplateHintLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalInvoiceTemplateHintLabel">Platzhalter bei Rechnungsvorlagen</h4>
                            </div>
                            <div class="modal-body">
                                <p>Word-Dateien für Rechnungsvorlagen müssen mit Platzhaltern versehen sein. Die
                                    folgenden Plathalter können verwendet werden:</p>
                                <h5>Plathalter je Rechnung</h5>
                                <p>Diese Platzhalter gelten für die ganze Rechnung</p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Platzhalter</td>
                                        <td>Erklärung</td>
                                        <td>Beispiele</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_PID') -}}
                                                }</code></td>
                                        <td>Eindeutige Nummer der Anmeldung</td>
                                        <td>
                                            <span class="label label-default">310</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_GREETING_NAME') -}}
                                                }</code></td>
                                        <td>Höfliche Grußformel und Name des Elternteils</td>
                                        <td>
                                            <span class="label label-default">Sehr geehrte Frau Maier</span>
                                            <span class="label label-default">Sehr geehrter Herr Müller</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_SALUTATION') -}}
                                                }</code></td>
                                        <td>Anrede der Eltern</td>
                                        <td>
                                            <span class="label label-default">Frau</span>
                                            <span class="label label-default">Herr</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_NAME_FIRST') -}}
                                                }</code></td>
                                        <td>Vorname der Eltern</td>
                                        <td>
                                            <span class="label label-default">Maria</span>
                                            <span class="label label-default">Max</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_NAME_LAST') -}}
                                                }</code></td>
                                        <td>Nachname der Eltern</td>
                                        <td>
                                            <span class="label label-default">Muster</span>
                                            <span class="label label-default">Maier</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_ADDRESS_STREET') -}}
                                                }</code></td>
                                        <td>Straße & Hausnummer der Eltern</td>
                                        <td>
                                            <span class="label label-default">{{ customization.organizationAddressStreet }}</span>
                                            <span class="label label-default">Musterstr. 10</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_ADDRESS_ZIP') -}}
                                                }</code></td>
                                        <td>PLZ der Eltern</td>
                                        <td>
                                            <span class="label label-default">{{ customization.organizationAddressPostalCode }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_ADDRESS_CITY') -}}
                                                }</code></td>
                                        <td>Straße der Eltern</td>
                                        <td>
                                            <span class="label label-default">{{ customization.organizationAddressLocality }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_NUMBER') -}}
                                                }</code></td>
                                        <td>Rechnungs-Nummer der vorliegenden Rechnung</td>
                                        <td>
                                            <span class="label label-default">R-10012</span>
                                            <span
                                                class="label label-default">R-{{ "now"|date("y") }}0{{ random(10, 99) }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_SUM') -}}
                                                }</code></td>
                                        <td>Summe der Rechnung</td>
                                        <td>
                                            <span class="label label-default">95,00 €</span>
                                            {% if event is defined and event.price %}<span class="label label-default">{{ event.price(true)|number_format(2) }} €</span>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_EVENT_TITLE') -}}
                                                }</code></td>
                                        <td>Name der Veranstaltung, zu der die Rechnung gehört</td>
                                        <td>
                                            <span class="label label-default">Abschnitt 2</span>
                                            <span class="label label-default">Burgfreizeit</span>
                                            {% if event is defined %}<span class="label label-default">{{ event.title }}</span>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_EVENT_START') -}}
                                                }</code></td>
                                        <td>Beginn der Veranstaltung, zu der die Rechnung gehört</td>
                                        <td>
                                            <span class="label label-default">02.10.{{ "now"|date("y") }}</span>
                                            <span class="label label-default">02.10.{{ "now"|date("y") }} 10:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_EVENT_END') -}}
                                                }</code></td>
                                        <td>Ende der Veranstaltung, zu der die Rechnung gehört</td>
                                        <td>
                                            <span class="label label-default">10.10.{{ "now"|date("y") }}</span>
                                            <span class="label label-default">10.10.{{ "now"|date("y") }} 18:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_PARTICIPANT_NAMES_COMBINED') -}}
                                                }</code></td>
                                        <td>Auflistung der Namen aller Teilnehmer für die diese Rechnung gilt
                                        <td>
                                            <span class="label label-default">Max, Moritz Muster</span>
                                            <span class="label label-default">Anna Mayer, Hans Maier, Jens Meyer</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_SUM_EURO_CENTS_RAW') -}}
                                                }</code></td>
                                        <td>Summe der Rechnung in Euro-Cent (bspw. zur Benutzung in Formeln)</td>
                                        <td>
                                            <span class="label label-default">9500</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h5>Plathalter je Positions-Zeile der Rechnung</h5>
                                <p>Diese Platzhalter gelten für jede Position auf der Rechnung. Sie müssen in einer Tabelle in einer Zeile verwendet werden.</p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Platzhalter</td>
                                        <td>Erklärung</td>
                                        <td>Beispiele</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_PARTICIPANT_NAME') -}}
                                                }</code></td>
                                        <td>Name der Teilnehmerin/des Teilnehmers</td>
                                        <td>
                                            <span class="label label-default">Anna Muster</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_DESCRIPTION') -}}
                                                }</code></td>
                                        <td>Name des Formularfeldes, welches zu diesem Rabatt/Auschlag geführt hat</td>
                                        <td>
                                            <span class="label label-default">Familiencard</span>
                                            <span class="label label-default">benötigt Fahrkarte</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_TYPE') -}}
                                                }</code></td>
                                        <td>Art dieser Position</td>
                                        <td>
                                            <span class="label label-default">Grundpreis</span>
                                            <span class="label label-default">Aufschlag</span>
                                            <span class="label label-default">Rabatt</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_TYPE_AND_DESCRIPTION') -}}
                                                }</code></td>
                                        <td>Art und Name dieser Position, durch Komma getrennt (Bspw. der Grundpreis kennt nur einen Wert)</td>
                                        <td>
                                            <span class="label label-default">Grundpreis</span>
                                            <span class="label label-default">Aufschlag, benötigt Fahrkarte</span>
                                            <span class="label label-default">Rabatt, Familiencard</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>${ {{- constant('AppBundle\\Manager\\Invoice\\InvoiceManager::PLACEHOLDER_INVOICE_ROW_VALUE') -}}
                                                }</code></td>
                                        <td>Wert dieser Position</td>
                                        <td>
                                            <span class="label label-default">10,50 €</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.invoiceTemplateFile) }}
                    <button type="button" class="btn btn-default btn-xs btn-round" data-toggle="modal" data-target="#modalInvoiceTemplateHint"{{ tab.skip|raw }}>
                        {{ 'question-sign'|glyph }}
                    </button>
                    {{ form_widget(form.invoiceTemplateFile) }}
                    {{ form_errors(form.invoiceTemplateFile) }}
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="control-label">Veranstaltungsort</h4>
                <p class="help-block">Kann ein Feld nicht korrekt befüllt werden, leer lassen. Wird vor allem für Hervorhebung in Suchergebnissen oder für Wetterdaten verwendet.</p>
            </div>
            <div class="col-xs-12">
                {{ form_label(form.addressTitle) }}
                {{ form_widget(form.addressTitle) }}
                {{ form_errors(form.addressTitle) }}
                <p class="help-block small" id="help-address-title">Titel des Veranstaltungsortes, bswp. <samp>Waldheim</samp>.</p>
            </div>
            <div class="col-xs-12">
                {{ form_row(form.addressStreet) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                {{ form_row(form.addressZip) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                {{ form_row(form.addressCity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.addressCountry) }}
            </div>
            <div class="col-xs-12 compact-form-group">
                {{ form_row(form.isShowAddress) }}
                {{ form_row(form.isShowMap) }}
                {{ form_row(form.isShowWeather) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin-top: 10px;">
                {{ form_label(form.acquisitionAttributes) }}
                {{ form_widget(form.acquisitionAttributes) }}
                {{ form_errors(form.acquisitionAttributes) }}
                <p class="help-block">Die aktivierten Felder werden bei jeder Anmeldung eines Teilnehmers erfasst. Werden zuvor verwendete Felder deaktiviert, bleiben bereits erfasste Daten erhalten. Die Eigenschaften der verfügbaren Felder werden im <a target="_blank" href="{{ path('acquisition_list') }}">Felder</a>-Bereich verwaltet.</p>
            </div>
        </div>
    </div>
    {#<div class="col-xs-12">{{ form_rest(form) }}</div>#}
</div>
