{% extends 'base.html.twig' %}

{% block title %}Veranstaltungen verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li class="active">Veranstaltungen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
      {% if featureCalendar %}
        <div class="modal fade" id="modalCalendarSync" tabindex="-1" role="dialog"
             aria-labelledby="modalCalendarSyncLabel">
          <div class="modal-dialog modal-sm" role="document">
            {{ form_start(form) }}
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                      aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCalendarSyncLabel">Kalender Synchronisieren</h4>
              </div>
              <div class="modal-body">
                <p>Sollen die Kalendereinträge für alle Veranstaltungen aktualisiert werden? Dies kann einige Minuten
                  dauern.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <input type="submit" class="btn btn-primary" value="Synchronisieren"/>
              </div>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      {% endif %}
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-primary" href="{{ path('event_new') }}">{{ 'plus'|glyph }} <span
                  class="hidden-xs">Neu</span> {{ caretRightDouble() }}</a>
            {% if featureCalendar %}
              <div class="btn btn-default" data-toggle="modal" data-target="#modalCalendarSync">{{ 'calendar'|glyph }}
                <span class="hidden-xs">Kalender… </span>{{ caretRight() }}</div>
            {% endif %}
            <a href="{{ path('admin_participant_search') }}" class="btn btn-default">{{ 'search'|glyph }}
              Teilnehmer:innen suchen… </span> {{ caretRightDouble() }}</a>
          </div>
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline bootstrap-table-toolbar">
                    <div class="btn-group" role="group">
                        {{ 'is_active'|tableFilterButtonTri(2, 'nur aktive', 'nur inaktive', 'aktive und inaktive', true) }}
                        {{ 'is_visible'|tableFilterButtonTri(2, 'nur sichtbare', 'nur versteckte', 'sichtbare und versteckte') }}
                        {{ 'eid'|tableFilterButton(0, [{'title': 'nur zukünftige', 'value': eventListFuture}, {'title': 'nur vergangene', 'value': eventListPast}, {'title': 'zuküntige und vergangene', 'value': eventList}]) }}
                        {{ 'is_deleted'|tableFilterButtonTri(1, 'nur gelöschte', 'ohne gelöschte', 'mit und ohne gelöschte') }}
                    </div>
                </div>
                <table id="eventListTable" class="table table-striped table-remote-content" data-id-field="eid"
                       data-toggle="table" data-cache="false" data-pagination="true" data-side-pagination="client"
                       data-show-refresh="true" data-show-columns="true" data-search-align="right"
                       data-toolbar="#bootstrap-table-toolbar" data-striped="true" data-show-filter="true"
                       data-search="true" data-sort-name="start_date" data-sort-order="desc"
                       data-fetch-url="{{ path('event_list_data') }}" data-use-head="true">
                    <thead>
                    <tr>
                        <th data-field="eid" data-sortable="true" data-visible="false">#</th>
                        <th data-field="title" data-sortable="true" data-order="asc">Titel</th>
                        <th data-field="description" data-sortable="true">Beschreibung</th>
                        <th data-field="start_date" data-sortable="true" data-sorter="germanDateTimeSorter">Beginn</th>
                        <th data-field="end_date" data-sortable="true" data-sorter="germanDateTimeSorter">Ende</th>
                        <th data-field="participants_confirmed" data-sortable="true" data-width="50" data-align="right"><abbr title="Anzahl Teilnehmer:innen (bestätigt)">TNB</abbr></th>
                        <th data-field="participants" data-sortable="true" data-width="50" data-align="right" data-visible="false"><abbr title="Anzahl Teilnehmer:innen (gesamt)">TNG</abbr></th>
                        <th data-field="status" data-sortable="false" data-width="50">Status</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
