{% extends 'base.html.twig' %}

{% block title -%}
    {%- if employee.salutation == 'Herr' -%}
        Mitarbeiter
    {%- elseif employee.salutation == 'Frau' -%}
        Mitarbeiterin
    {%- else -%}
        Mitarbeiter/In
    {%- endif %} ({{ event.title }})
{% endblock %}
{% block body %}
    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
    <div class="modal fade" id="dialogModalMoveEmployee" tabindex="-1" role="dialog" aria-labelledby="dialogModalMoveEmployeeLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(formMoveEmployee) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalMoveEmployeeLabel">Mitarbeiter verschieben</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                Der Mitarbeiter kann verschoben werden. Dabei werden die Daten in die Ziel-Veranstaltung kopiert und mit einem Kommentar versehen. Der Mitarbeiter wird hier mit einem Kommentar in den Papierkorb gelegt. Der Text der Kommentare kann unten angepasst werden.
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(formMoveEmployee.targetEvent) }}
                                {{ form_widget(formMoveEmployee.targetEvent) }}
                                {{ form_errors(formMoveEmployee.targetEvent) }}
                                <p class="help-block">Zur Auswahl stehen nur im Moment aktive Veranstaltungen.</p>
                            </div>
                            <div class="form-group">
                                {{ form_label(formMoveEmployee.commentOldEmployee) }}
                                {{ form_widget(formMoveEmployee.commentOldEmployee) }}
                                {{ form_errors(formMoveEmployee.commentOldEmployee) }}
                                <p class="help-block">Der Platzhalter <code>{EVENT_NEW}</code> wird durch den Namen der oben gewählten Veranstaltung ersetzt. <code>{GID_NEW}</code> wird durch die neue Anmeldungsnummer ersetzt.</p>
                            </div>
                            <div class="form-group">
                                {{ form_label(formMoveEmployee.commentNewEmployee) }}
                                {{ form_widget(formMoveEmployee.commentNewEmployee) }}
                                {{ form_errors(formMoveEmployee.commentNewEmployee) }}
                                <p class="help-block">Der Platzhalter <code>{EVENT_OLD}</code> wird durch <i>{{ event.title }}</i> ersetzt. <code>{GID_OLD}</code> wird durch die alte Anmeldungsnummer <i>{{ employee.id }}</i> ersetzt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary" value="Mitarbeiter verschieben"/>
                </div>
            </div>
            {{ form_end(formMoveEmployee) }}
        </div>
    </div>
    <div class="modal fade" id="dialogModalComment" tabindex="-1" role="dialog" aria-labelledby="dialogModalCommentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalCommentLabel">Anmerkungen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="modalCommentToken" value="{{ csrf_token('Comment') }}" />
                        <textarea class="form-control" id="modalCommentContent"></textarea>
                    </div>
                    <p class="meta"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" id="dialogModalCommentButton">Bestätigen</button>
                </div>
            </div>
        </div>
    </div>
    {% endif -%}
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(formAction) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAction) }}
        </div>
    </div>
    <div class="modal fade" id="dialogModalAssignUser" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabelAssignUser">
        <div class="modal-dialog" role="document">
            {{ form_start(formAssignUser) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabelAssignUser">Benutzerkonto verknüpfen</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(formAssignUser.assignedUser) }}
                            {{ form_errors(formAssignUser.assignedUser) }}
                            <p class="help-block">Wenn der Mitarbeiter über ein Benutzerkonto verfügt, kann es hier
                                verknüpft verden. Es können nur Benutzer verknüpft werden, die die Rolle
                                <i>{{ constant('AppBundle\\Entity\\User::ROLE_EMPLOYEE_LABEL') }}</i> zugewiesen haben.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAssignUser) }}
        </div>
    </div>
    <div class="container participation-panels collapse-breadcrumb-header">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                    <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                    <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                    <li><a href="{{ path('admin_event_employee_list', {'eid': event.eid }) }}">Mitarbeiter</a></li>
                    <li class="active">{{ employee.fullname }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Mitarbeiter <small>{{ employee.fullname }}</small></h1>
                </div>
            </div>
            <div class="col-xs-12 hidden-print">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" role="button" data-toggle="collapse" href="#payment" aria-expanded="false" aria-controls="collapseExample">{{ 'credit-card'|glyph }}<span class="hidden-xs"> Aufwandsentschädigung</span></a>
                    </div>
                    {% if is_granted('employees_edit', event) -%}
                        <div class="btn-group" role="group" aria-label="Daten bearbeiten">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModalMoveEmployee">
                                {{ 'arrow-right'|glyph }} Mitarbeiter verschieben…
                            </button>
                            {% if employee.deletedAt %}
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#dialogModal" data-action="restore">
                                    {{ 'repeat'|glyph }} wiederherstellen…
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#dialogModal" data-action="delete">
                                    {{ 'trash'|glyph }} in Papierkorb…
                                </button>
                            {% endif %}
                        </div>
                    {% endif -%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include 'common/header/page-global-messages.html.twig' %}
            </div>
        </div>
        <div class="row print-col-sm-6">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <h3 class="panel-title">Daten</h3>
                            </div>
                            <div class="col-xs-5 text-right hidden-print">
                                {% if is_granted('employees_edit', event) -%}
                                <a href="{{ path('admin_employee_edit', {'eid': event.eid, 'gid': employee.gid}) }}"
                                   class="btn btn-default btn-xs" title="Daten bearbeiten"
                                   data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                {% endif -%}
                                {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                                <button title="Anmerkungen anzeigen und hinzufügen" class="btn btn-default btn-xs"
                                        type="button" data-toggle="collapse"
                                        data-target="#comment-footer-gid-{{ employee.gid }}" aria-expanded="false"
                                        aria-controls="comment-footer-gid-{{ employee.gid }}">
                                    <span class="comment-count"
                                          data-comment-class="AppBundle\Entity\EmployeeComment"
                                          data-related-id="{{ employee.gid }}">{{ commentManager.countForEmployee(employee) }}
                                    </span> {{ 'comment'|glyph }}
                                </button>
                                {% endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Anrede</dt>
                            <dd>{{ employee.salutation }}</dd>
                            <dt>Vorname</dt>
                            <dd>{{ employee.nameFirst }}</dd>
                            <dt>Nachname</dt>
                            <dd>{{ employee.nameLast }}</dd>
                            <dt>Telefon</dt>
                            <dd class="phone-container">
                            {% for phoneNumber in employee.phoneNumbers %}
                                <div>
                                    <a href="tel:{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}">{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}</a>
                                    {% if phoneNumber.description %}
                                    <br>
                                    <i>{{ phoneNumber.description }}</i>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            </dd>
                            <dt>Anschrift</dt>
                            <dd class="address-container">
                                <address>
                                    <strong>{{ employee.fullname() }}</strong><br>
                                    {{ employee.addressStreet }}<br>
                                    {{ employee.addressZip }} {{ employee.addressCity }}{% if employee.addressCountry != constant('AppBundle\\Entity\\Event::DEFAULT_COUNTRY') %}<br>
                                    {{ employee.addressCountry }}{% endif %}
                                </address>
                            </dd>
                            <dt>E-Mail Adresse</dt>
                            <dd class="address-container">
                                <address>
                                    {{ employee.email }}
                                </address>
                            </dd>
                            {% for fillout in employee.acquisitionAttributeFillouts %}
                                <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                    data-placement="right">
                                    {%- if not fillout.attribute.isPublic -%}
                                        {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Datenerfassung angezeigt') }}
                                    {% endif %}
                                    {{ fillout.attribute.formTitle }}
                                </dt>
                                <dd>{% include '/acquisition/embed-fillout-management.html.twig' with {'fillout': fillout, 'event': event} %}</dd>
                            {% endfor %}
                            <dt title="Ist der Mitarbeiter mit einem Benutzerkonto verknüpft, ist dieses hier angegeben"
                                data-toggle="tooltip" data-placement="right">
                                Benutzerkonto
                            </dt>
                            <dd>
                                {% if employee.assignedUser %}<a href="{{ path('user_detail', {'uid': employee.assignedUser.uid}) }}">
                                    {{ employee.assignedUser|fullname }}</a>
                                {% else %}
                                    <i>(keines)</i>
                                {% endif %}
                                {% if is_granted('employees_edit', event) -%}
                                <button data-toggle="modal" data-target="#dialogModalAssignUser"
                                        class="btn btn-default btn-xs"
                                        title="Benutzerkonto verknüpfen">{{ 'pencil'|glyph }}</button>
                                {% endif -%}
                            </dd>
                            <dt title="Mitarbeit bei anderen Veranstaltungen" data-toggle="tooltip"
                                data-placement="right">Andere Veranstaltungen
                            </dt>
                            <dd>
                                {% if similarEmployees|length == 0 %}
                                    <i>(keine Mitarbeit bei anderen Veranstaltungen)</i>
                                {% endif %}
                                {% for similarEmployee in similarEmployees %}
                                    <a data-toggle="tooltip"
                                       title="Veranstaltung: {{ similarEmployee.event.startDate|date("d.m.Y") }}"
                                       href="{{ path('admin_employee_detail', {eid: similarEmployee.event.eid, gid: similarEmployee.gid}) }}">{{ similarEmployee.event.title }} ({{ similarEmployee.event.startDate|date("Y") }})</a>{% if not loop.last and loop.length > 1 %}, {% endif %}
                                {% endfor %}
                            </dd>
                        </dl>
                    </div>
                    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                    <div class="panel-footer panel-comments collapse{% if commentManager.countForEmployee(employee) %} in{% endif %}" id="comment-footer-gid-{{ employee.gid }}">
                        {% if is_granted('comment_add', event) -%}
                            <div class="comment-add">
                                <button title="Neue Anmerkung hinzufügen" class="btn btn-xs btn-default btn-add-comment"
                                        data-toggle="modal" data-target="#dialogModalComment"
                                        data-comment-class="AppBundle\Entity\EmployeeComment"
                                        data-related-id="{{ employee.gid }}">{{ 'plus'|glyph }}</button>
                            </div>
                        {% endif -%}
                            <div class="comments" data-comment-class="AppBundle\Entity\EmployeeComment"
                                 data-related-id="{{ employee.gid }}">
                            {% if is_granted('comment_read', event) -%}
                                {% if not commentManager.countForEmployee(employee) %}
                                    <p class="empty">Keine Anmerkungen gespeichert.</p>
                                {% endif %}
                                {% for comment in commentManager.forEmployee(employee) %}
                                    {{ include('common/comment-content.html.twig', {comment: comment}) }}
                                {% endfor %}
                            {% else %}
                                <p>&nbsp;</p>
                            {% endif -%}
                        </div>
                    </div>
                    {% endif -%}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel-group accordion" id="accordionEmployeeDetail" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordionPaymentHeader">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#accordionPayment" aria-expanded="false" aria-controls="accordionPayment">
                                    Aufwandsentschädigung
                                </a>
                            </h3>
                        </div>
                        <div id="accordionPayment" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordionPaymentHeader">
                            <div class="panel-body">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <td class=" text-right">Betrag</td>
                                        <td>Feld</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for summand in summands %}
                                        <tr>
                                            <td class="value text-right">
                                                {{ summand.getValue(true)|number_format(2, ',', ".") }}&nbsp;€
                                            </td>
                                            {% if summand is instanceof('AppBundle\\Manager\\Payment\\PriceSummand\\FilloutSummand') %}
                                                <td>{{ summand.attribute.managementTitle }}</td>
                                            {% else %}
                                                <td><code>{{ summand.type }}</code></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="total">
                                        <td class="value text-right">
                                            {{ summandsTotal|number_format(2, ',', ".") }}&nbsp;€
                                        </td>
                                        <td colspan="2"><b>Summe</b></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascriptCustom %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Anmeldung in Papierkorb verschieben';
                        question = 'Soll diese Anmeldung wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Anmeldung aus Papierkorb nehmen';
                        question = 'Soll diese Anmeldung wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
        });
    </script>
    {% endcspscript %}
{% endblock %}
