{% extends 'base.html.twig' %}

{% block title %}Mitarbeiter verwalten ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Mitarbeiter', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li class="active">Mitarbeiter</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="bootstrap-table-toolbar" class="form-inline">
                    <div class="form-group">
                        <a class="btn btn-primary" href="{{ path('admin_employee_create', {'eid': event.eid }) }}">{{ 'plus'|glyph }} Neu</a>
                        <a class="btn btn-default" href="{{ path('admin_employee_import', {'eid': event.eid }) }}">{{ 'paste'|glyph }} Importieren</a>
                        <a class="btn btn-default" href="{{ path('admin_employee_export', {'eid': event.eid }) }}" target="_blank">{{ 'export'|glyph }} Exportieren {{ 'new-window'|glyph }}</a>
                    </div>
                </div>
                <table id="employeeListTable" class="table table-striped table-remote-content"
                       data-id-field="gid" data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true" data-page-size="25" data-sub-id="e{{ event.eid }}"
                       data-url="{{ path('admin_event_employee_list_data', {eid: event.eid}) }}"
                       data-sort-name="nameLast" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="gid" data-sortable="true" data-visible="false">#</th>
                        <th data-field="nameLast" data-sortable="true">Nachname</th>
                        <th data-field="nameFirst" data-sortable="true">Vorname</th>
                        <th data-field="email" data-sortable="false">E-Mail</th>
                        <th data-field="phone" data-sortable="false">Telefon<wbr>nummern</th>
                        <th data-field="status" data-sortable="false">Status</th>
                        {% for attribute in event.getAcquisitionAttributes(false, false, true, true, true) %}
                            <th data-field="participation_acq_field_{{ attribute.getBid }}" data-sortable="true" data-visible="false">
                                <abbr title="{{ attribute.managementDescription }}">{{ attribute.managementTitle }}</abbr>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
