{% set buttonId = random() %}
<button type="button" class="btn btn-default" id="{{ buttonId }}">
    {% include 'common/active-button-content.html.twig' with {buttonIsEnabled: button.isEnabled, buttons: button.buttons} %}
    <script type='text/javascript'>
        $(function () {
            $('#{{ buttonId }}').click(function () {
                var button = $('#{{ buttonId }}');

                $(button).prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '/active/button',
                    data: {
                        _token: '{{ csrf_token(button.entityName ~ button.propertyName ) }}',
                        entityName: '{{ button.entityName }}',
                        entityId: '{{ button.entityId }}',
                        propertyName: '{{ button.propertyName }}',
                        toggle: 1,
                        buttons: {
                            buttonEnable: {
                                label: '{{ button.buttons.buttonEnable.label }}',
                                glyph: '{{ button.buttons.buttonEnable.glyph }}'
                            },
                            buttonDisable: {
                                label: '{{ button.buttons.buttonDisable.label }}',
                                glyph: '{{ button.buttons.buttonDisable .glyph }}'
                            }

                        }
                    },
                    datatype:'json',
                    success: function (response) {
                        button.empty();
                        button.html(response);
                    },
                    error: function(response) {
                        $(document).trigger('add-alerts', {
                            message: 'Die gewünschte Aktion wurde nicht korrekt ausgeführt',
                            priority: 'error'
                        });
                    },
                    complete: function() {
                        button.prop('disabled', false);
                    }
                });
            });
        });
    </script>
</button>
