{% extends 'base.html.twig' %}

{% block title %}{{ unit.name }} (Einheit){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': unit.name, 'subtitle': 'Einheit'} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('meals_units_list') }}">Einheiten</a></li>
      <li class="active">{{ unit.name }} (Einheit)</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('meals_units_edit', {'id': unit.id }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ unit.name }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Abkürzung</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ unit.short }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
