{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Veranstaltungen registrieren{% endblock %}

{% block body %}
    {% include 'base-page-header.html.twig' with {'title': 'Juvem', 'subtitle': 'Registrierung'} %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="row">
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                {{ form_row(form.nameFirst) }}
                {{ form_row(form.nameLast) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}