{% extends 'base.html.twig' %}

{% block title %}Newsletter Übersicht{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Newsletter', 'subtitle': 'Übersicht'} %}
        {% block breadcrumb %}
            <li class="active">Newsletter</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-toolbar" role="toolbar">
                    <a href="{{ path('newsletter_subscription') }}" class="btn btn-default">{{ 'check'|glyph }} Abonnement<span class="hidden-xs"> verwalten</span></a>
                    <a href="{{ path('newsletter_admin_subscription_list') }}" class="btn btn-default">{{ 'list'|glyph }} Abonnements<span class="hidden-xs"> verwalten</span></a>
                    <a href="{{ path('newsletter_admin_newsletter_list') }}" class="btn btn-default">{{ 'inbox'|glyph }}<span class="hidden-xs"> Nachrichten</span> verwalten</a>
                    <a href="{{ path('newsletter_admin_create') }}" class="btn btn-default">{{ 'send'|glyph }}<span class="hidden-xs"> Newsletter</span> erstellen</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}