{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
<section>
    <article itemscope itemtype="https://schema.org/Event">
    {% embed 'common/header/base-page-header.html.twig' with {'title': event.title, 'subtitle': 'Veranstaltung'} %}
        {% block breadcrumb %}
            <li class="active">{{ event.title }}</li>
        {% endblock %}
        {% block pageheader %}
            <header class="page-header">
                <h1><span itemprop="name">{{ event.title }}</span>
                    <small>Veranstaltung</small>
                    {% if event.isActive %}
                        <a href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                           style="float: right;" class="btn btn-{% if is_granted('ROLE_ADMIN_EVENT') %}default{% else %}primary{% endif %} hidden-xs" role="button">Teilnehmen
                                {% if event.hasWaitingListThreshold() -%}
                                    {%- if event.participantsCount >= event.waitingListThreshold -%}
                                        (Warteliste)
                                    {%- elseif (event.participantsCount+3) >= event.waitingListThreshold -%}
                                        (wenig Plätze frei)
                                    {%- endif -%}
                                {%- endif -%}</a>
                    {% endif %}
                </h1>
            </header>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div itemprop="description">{{ event.getDescription|markdown_shifted }}</div>
                <hr>
                <p>
                    {% if is_granted('ROLE_ADMIN_EVENT') %}
                        {% if event.isActive %}
                            <a href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                               class="btn btn-default" role="button">Teilnehmen</a>
                        {% endif %}
                        <a href="{{ path('event', {eid: event.eid}) }}" class="btn btn-primary">Verwalten</a>
                    {% else %}
                        {% if event.isActive %}
                            <a role="button" href="{{ path('event_public_participate', {'eid': event.eid }) }}" class="btn btn-primary">Teilnehmen
                                {% if event.hasWaitingListThreshold() -%}
                                    {%- if event.participantsCount >= event.waitingListThreshold -%}
                                        (Warteliste)
                                    {%- elseif (event.participantsCount+3) >= event.waitingListThreshold -%}
                                        (wenig Plätze frei)
                                    {%- endif -%}
                                {%- endif -%}
                            </a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 event-meta">
                <p>
                    {{ 'calendar'|glyph }} {{ event|eventStartDate }}
                    {% if event.hasEndDate or event.hasEndTime %}
                        - {{ event|eventEndDate }}
                    {% endif %}
                  {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                      {% if event.isActive() %}
                          <span class="label label-primary">Aktiv</span>
                      {% else %}
                          <span class="label label-default">Inaktiv</span>
                      {% endif %}
                      {% if event.isVisible() %}
                          <span class="label label-primary">Sichtbar</span>
                      {% else %}
                          <span class="label label-default">Versteckt</span>
                      {% endif %}
                  {% endif %}
                </p>
                {% if event.ageRange %}
                    <p itemprop="typicalAgeRange">{{ event.ageRange }} Jahre</p>
                {% endif %}
                <div>
                    {% if event.imageFilename %}
                        <a href="{{ path('event_image_original', {'eid': event.eid}) }}" class="thumbnail">
                            <div class="lazy-load-image" itemprop="image"
                                  data-alt="Poster-Abbildung wurde nicht geladen" data-title="Poster"
                                  data-src="{{ path('event_image',  {'eid': event.eid, 'width': 555, 'height': 555 }) }}">
                            </div>
                        </a>
                    {% elseif is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                        <div class="thumbnail">
                            <div class="alert alert-info" role="alert">
                                <p>Es ist keine Bild-Datei als Poster zu dieser Veranstaltung gespeichert.</p>

                                <p> Beim <a href="{{ path('event_edit', {'eid': event.eid }) }}" class="alert-link">Bearbeiten</a>
                                    dieser Veranstaltung kann ein entsprechendes Bild hochgeladen werden.</p>

                                <p>Dadurch wird die Veranstaltung besser präsentiert.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if event.price %}
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="event-price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <label class="control-label" for="event-price-{{ event.eid }}">Preis:</label>
                        <span itemprop="price" content="{{ event.price(true)|number_format(2, '.', "") }}"
                              id="event-price-{{ event.eid }}">{{ event.price(true)|number_format(2, ',', "") }}</span>&nbsp;<span
                            itemprop="priceCurrency" content="EUR">€</span>
                        <a style="display: none;" itemprop="url"
                           href="{{ path('event_public_participate', {'eid': event.eid }) }}">Teilnehmen
                          ({{ event.title }})</a>
                        {% if event.isActive %}
                          <span itemprop="availability" href="https://schema.org/InStock"></span>
                        {% elseif (not event.hasEndDate() and date(event.startDate) < date()) or date(event.endDate) < date() %}
                          <span itemprop="availability" href="https://schema.org/Discontinued"></span>
                        {% endif %}
                      </p>
                    </div>
                  </div>
                  {% if event.showAddress and (event.addressTitle or event.addressStreet or event.addressCity) %}
                    <div class="row">
                      <div class="col-xs-12">
                        <label class="control-label" style="margin-bottom: 2px;">Veranstaltungsort</label>
                        <div class="location" itemprop="location" itemscope itemtype="https://schema.org/Place">
                          <address>
                            {% if event.addressTitle %}<strong itemprop="name">{{ event.addressTitle }}</strong>
                              <br>{% endif %}
                            <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                              {% if event.addressStreet %}{% if not event.addressTitle %}<strong>{% endif %}<span
                                    itemprop="streetAddress">{{ event.addressStreet }}</span>{% if not event.addressTitle %}</strong>{% endif %}
                                <br>{% endif %}
                              <span itemprop="postalCode">{{ event.addressZip }}</span> <span
                                  itemprop="addressLocality">{{ event.addressCity }}</span>
                              <br><span itemprop="addressCountry"
                                        {% if event.addressCountry == constant('AppBundle\\Entity\\Event::DEFAULT_COUNTRY') %}style="display: none;"{% endif %}>{{ event.addressCountry }}</span>
                          </span>
                          </address>
                        </div>
                      </div>
                      {% if event.showWeather %}
                        <div class="col-xs-12">
                          <div id="weather-current"
                               data-source="{{ path('event_weather_current', {'eid': event.eid}) }}"></div>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
                <div style="display: none;">
                    <a itemprop="url" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ event.title }}</a>
                    {% if event.imageFilename %}<div itemprop="image">{{ url('event_image',  {'eid': event.eid, 'width': 600, 'height': 600 }) }}</div>{% endif %}
                    <div itemprop="eventStatus">EventScheduled</div>
                    <div itemprop="organizer">{{ customization.organizationCardInline|raw }}</div>
                </div>

            </div>
        </div>
    </div>
    </article>
</section>
{% endblock %}
