{% extends 'base.html.twig' %}

{% block title %}Anmelden bei {{ event.title }}{% endblock %}

{% block body %}
    {% include 'base-page-header.html.twig' with {'title': event.title, 'subtitle': 'anmelden'} %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p>
                    {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                    {% if event.hasStartTime %}
                        {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                    {% endif %}
                    {% if event.hasEndDate or event.hasEndTime %}
                        -
                        {% if event.hasEndDate %}
                            {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                        {% endif %}
                        {% if event.hasEndTime %}
                            {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                {{ event.getDescription|e }}
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Daten der Eltern</h3>
                <p>Bitte geben Sie hier ihre grundlegenden Kontakdaten an.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentSalution) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentNameFirst) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentNameLast) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentAdressStreet) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentAdressZip) }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_row(form.parentAdressCity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 phone-numbers" data-prototype="
        <div class='col-xs-12 col-sm-4'>
            <div class='form-group'>
            {{ form_label(form.parentPhoneNumber.vars.prototype.number)|e }}
              <div class='input-group'>
                <div class='input-group-addon'><span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span></div>
                    {{ form_widget(form.parentPhoneNumber.vars.prototype.number)|e }}
                </div>
            </div>
        </div>
        <div class='col-xs-12 col-sm-8'>{{ form_row(form.parentPhoneNumber.vars.prototype.description)|e }}</div>
        ">

                <div class="form-group">
                    {{ form_label(form.parentPhoneNumber) }}
                    {{ form_errors(form.parentPhoneNumber) }}
                    {{ form_widget(form.parentPhoneNumber) }}
                </div>
            </div>
        </div>
        <script>
            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagLink = $('<a href="#" class="btn btn-default">Telefonnummer hinzufügen</a>');
            var $newLinkLi = $('<div></div>').append($addTagLink);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('div.phone-numbers');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addTagLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolder.data('prototype');

                    // get the new index
                    var index = $collectionHolder.data('index');

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, index);

                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi = $('<div class="row"></div>').append(newForm);
                    $newLinkLi.before($newFormLi);
                });
            });

        </script>

        <div class="row">
            <div class="col-xs-12">
                <h3>Daten der Teilnehmer</h3>
                <p>Bitte geben Sie hier ihre die Daten für einen oder mehrere Teilnehmern an.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 participant-list" data-prototype="
        <div class='col-xs-12 col-sm-4'>
            <div class='form-group'>
            {{ form_label(form.participant.vars.prototype.nameFirst)|e }}
              <div class='input-group'>
                <div class='input-group-addon'><span class='glyphicon ' aria-hidden='true'></span></div>
                    {{ form_widget(form.participant.vars.prototype.nameFirst)|e }}
                </div>
            </div>
        </div>
        <div class='col-xs-12 col-sm-8'>{{ form_row(form.participant.vars.prototype.nameLast)|e }}</div>
        ">

                <div class="form-group">
                    {{ form_label(form.participant) }}
                    {{ form_errors(form.participant) }}
                    {{ form_widget(form.participant) }}
                </div>
            </div>
        </div>
        <script>
            var $collectionHolder2;

            // setup an "add a tag" link
            var $addTagLink2 = $('<a href="#" class="btn btn-default">Teilnehmer hinzufügen</a>');
            var $newLinkLi2 = $('<div></div>').append($addTagLink2);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder2 = $('div.participant-list');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder2.append($newLinkLi2);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

                $addTagLink2.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolder2.data('prototype');

                    // get the new index
                    var index = $collectionHolder2.data('index');

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm2 = prototype.replace(/__name__/g, index);

                    // increase the index with one for the next item
                    $collectionHolder2.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi2 = $('<div class="row"></div>').append(newForm2);
                    $newLinkLi2.before($newFormLi2);
                });
            });

        </script>


        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.save, { 'attr': {'class': 'btn-primary'}, 'label' : 'Anmeldung abgeben' }) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}