{% extends 'base.html.twig' %}
{% import _self as m %}

{% block title %}Anmelden bei {{ event.title }}{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
            <div class="row">
                <div class="col-xs-12">
                    {% include 'common/header/inner-page-header.html.twig' with {'title': 'Anmeldung', 'subtitle': event.title} %}
                </div>
            </div>
            {% include 'event/public/participate-event-template.html.twig' with {'event': event} %}
            <div class="row" data-spy="scroll">
                <div class="col-xs-12 col-sm-8">
                    <h3 id="data-participation">Daten der Eltern</h3>
                    <dl class="dl-horizontal">
                        <dt>Anrede</dt>
                        <dd>{{ participation.salution }}</dd>
                        <dt>Vorname</dt>
                        <dd>{{ participation.nameFirst }}</dd>
                        <dt>Nachname</dt>
                        <dd>{{ participation.nameLast }}</dd>
                        <dt>Telefonnummern</dt>
                        <dd>
                            {% for phoneNumber in participation.phoneNumbers %}
                                <address>
                                    <strong>{{ phone_number_format(phoneNumber.number, 'INTERNATIONAL') }}</strong>
                                    {% if phoneNumber.description %}
                                        <br>{{ phoneNumber.description }}
                                    {% endif %}
                                </address>
                            {% endfor %}
                        </dd>
                        <dt>Anschrift</dt>
                        <dd>
                            <address>
                                <strong>{{ participation.getName() }}</strong><br>
                                {{ participation.addressStreet }}<br>
                                {{ participation.addressZip }} {{ participation.addressCity }}
                            </address>
                        </dd>
                        <dt>E-Mail Adresse</dt>
                        <dd>
                            <address>
                                {{ participation.email }}
                            </address>
                        </dd>
                    </dl>
                    <h3 id="data-participants">Daten der Teilnehmer</h3>
                    {% for participant in participation.participants %}
                        <div class="row" id="participant-{{ loop.index }}">
                            <div class="col-xs-12 col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Vorname</dt>
                                    <dd>{{ participant.nameFirst }}</dd>
                                    <dt>Nachname</dt>
                                    <dd>{{ participant.nameLast }}</dd>
                                    <dt>Geschlecht</dt>
                                    <dd>{{ participant.gender }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="hidden-xs col-sm-4 scrollspy">
                    <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
                        <li>
                            <a href="#data-participation">Daten der Eltern</a>
                        </li>
                        <li>
                            <a href="#data-participants">Daten der Teilnehmer</a>
                            <ul class="nav">
                                {% for participant in participation.participants %}
                                    <li>
                                        <a href="#participant-{{ loop.index }}">
                                            {{ participant.nameFirst }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!--end of sub navigation-->
                        </li>

                    </ul>
                    <!-- end of main navigation -->
                    </d
                </div>
            </div>
        </div>
    </div>


{% endblock %}