{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Passwort ändern{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Passwort ändern', 'subtitle': 'Benutzerprofil'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('fos_user_profile_show') }}">Benutzerprofil</a></li>
            <li class="active">Passwort ändern</li>
        {% endblock %}
    {% endembed %}
    {% form_theme form 'form/bootstrap_3_horizontal_4-8_layout.html.twig' %}
    <div class="container">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                    <div class="btn-group" role="group">
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                {{ form_row(form.current_password) }}
                {{ form_row(form.plainPassword) }}
                <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}