{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
<section>
    <article itemscope itemtype="https://schema.org/Event">
    {% embed 'common/header/base-page-header.html.twig' with {'title': event.title, 'subtitle': 'Veranstaltung'} %}
        {% block breadcrumb %}
            <li class="active">{{ event.title }}</li>
        {% endblock %}
        {% block pageheader %}
            <header class="page-header">
                <h1><span itemprop="name">{{ event.title }}</span>
                    <small>Veranstaltung</small>
                    {% if event.isActive %}
                        <a href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                           style="float: right;" class="btn btn-{% if is_granted('ROLE_ADMIN_EVENT') %}default{% else %}primary{% endif %} hidden-xs" role="button">Teilnehmen
                                {% if event.hasWaitingListThreshold() -%}
                                    {%- if event.participantsCount >= event.waitingListThreshold -%}
                                        (Warteliste)
                                    {%- elseif (event.participantsCount+3) >= event.waitingListThreshold -%}
                                        (wenig Plätze frei)
                                    {%- endif %}
                                {%- endif %} {{ caretRightDouble() }}
                        </a>
                    {% elseif event.hasLink() %}
                      <a href="{{ event.linkUrl }}" rel="noopener" target="_blank" style="float: right;"
                         class="btn btn-default glyphicon-size-75">{{ event.linkTitle }} {{ 'new-window'|glyph }}</a>
                    {% endif %}
                </h1>
            </header>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div itemprop="description">{{ event.getDescription|markdown_shifted }}</div>
                <hr>
                <p>
                    {% if is_granted('ROLE_ADMIN_EVENT') %}
                        {% if event.isActive %}
                            <a href="{{ path('event_public_participate', {'eid': event.eid }) }}"
                               class="btn btn-default" role="button">
                                Teilnehmen {{ caretRightDouble() }}
                            </a>
                        {% endif %}
                        {% if event.isActiveRegistrationEmployee %}
                            <a role="button"
                               href="{{ path('event_public_employee_register', {'eid': event.eid }) }}"
                               class="btn btn-default">Mitarbeiten {{ caretRightDouble() }}
                            </a>
                        {% endif %}
                        <a href="{{ path('event', {eid: event.eid}) }}" class="btn btn-primary">Verwalten</a>
                    {% else %}
                        {% if event.isActive %}
                            <a role="button" href="{{ path('event_public_participate', {'eid': event.eid }) }}" class="btn btn-primary">Teilnehmen
                                {% if event.hasWaitingListThreshold() -%}
                                    {%- if event.participantsCount >= event.waitingListThreshold -%}
                                        (Warteliste)
                                    {%- elseif (event.participantsCount+3) >= event.waitingListThreshold -%}
                                        (wenig Plätze frei)
                                    {%- endif %}
                                {%- endif %} {{ caretRightDouble() }}
                            </a>
                        {% endif %}
                        {% if event.isActiveRegistrationEmployee %}
                            <a role="button"
                               href="{{ path('event_public_employee_register', {'eid': event.eid }) }}"
                               class="btn btn-default">Mitarbeiten {{ caretRightDouble() }}
                            </a>
                        {% endif %}
                    {% endif %}
                  {% if event.hasLink() %}
                    <a href="{{ event.linkUrl }}" rel="noopener" target="_blank"
                       class="btn btn-default glyphicon-size-75">{{ event.linkTitle }} {{ 'new-window'|glyph }}</a>
                  {% endif %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 event-meta">
              <div class="row">
                <div class="col-xs-12">
                <div class="p">
                    {{ 'calendar'|glyph }} {{ event|eventStartDate }}
                    {% if event.hasEndDate or event.hasEndTime %}
                        - {{ event|eventEndDate }}
                    {% endif %}
                    {% if publicCalendarUri %}
                      <div class="btn-group">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          {{ 'download'|glyph }} Kalendareintrag {{ caret() }}
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="{{ publicCalendarUri }}" target="_blank">{{ 'cloud-download'|glyph }} Öffentlichen
                              Kalender abonnieren {{ 'new-window'|glyph }}</a></li>
                          <li><a href="{{ path('event_public_calendar', {'eid': event.eid }) }}"
                                 target="_blank">{{ 'download'|glyph }} Kalendareintrag herunterladen</a></li>
                        </ul>
                      </div>
                    {% else %}
                      <a class="btn btn-xs btn-default" href="{{ path('event_public_calendar', {'eid': event.eid }) }}"
                         data-toggle="tooltip" data-placement="top" title="Kalendareintrag herunterladen" role="button">
                        {{ 'download'|glyph }} Kalendareintrag
                      </a>
                    {% endif %}
                  {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                      {% if event.isActive() %}
                          <span class="label label-primary">Aktiv</span>
                      {% else %}
                          <span class="label label-default">Inaktiv</span>
                      {% endif %}
                      {% if event.isVisible() %}
                          <span class="label label-primary">Sichtbar</span>
                      {% else %}
                          <span class="label label-default">Versteckt</span>
                      {% endif %}
                  {% endif %}
                </div>
                {% if event.ageRange %}
                    <p itemprop="typicalAgeRange">{{ event.ageRange }} Jahre</p>
                {% endif %}
                <div>
                    {% if event.imageFilename %}
                        <a href="{{ path('event_image_original', {'eid': event.eid}) }}" class="thumbnail">
                            <div class="lazy-load-image" itemprop="image"
                                  data-alt="Poster-Abbildung wurde nicht geladen" data-title="Poster"
                                  data-src="{{ path('event_image',  {'eid': event.eid, 'width': 555, 'height': 555 }) }}">
                            </div>
                        </a>
                    {% elseif is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                        <div class="thumbnail">
                            <div class="alert alert-info" role="alert">
                                <p>Es ist keine Bild-Datei als Poster zu dieser Veranstaltung gespeichert.</p>

                                <p> Beim <a href="{{ path('event_edit', {'eid': event.eid }) }}" class="alert-link">Bearbeiten</a>
                                    dieser Veranstaltung kann ein entsprechendes Bild hochgeladen werden.</p>

                                <p>Dadurch wird die Veranstaltung besser präsentiert.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                </div>
                </div>
                {% embed 'event/public/embed-event-meta.html.twig' with {'event': event} %}{% endembed %}
                <div style="display: none;">
                    <a itemprop="url" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ event.title }}</a>
                    {% if event.imageFilename %}<div itemprop="image">{{ url('event_image',  {'eid': event.eid, 'width': 600, 'height': 600 }) }}</div>{% endif %}
                    <div itemprop="eventStatus">EventScheduled</div>
                    <div itemprop="organizer">{{ customization.organizationCardInline|raw }}</div>
                </div>

            </div>
        </div>
    </div>
    </article>
</section>
{% endblock %}
