{% block event %}
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <p>
                {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                {% if event.hasStartTime %}
                    {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                {% endif %}
                {% if event.hasEndDate or event.hasEndTime %}
                    -
                    {% if event.hasEndDate %}
                        {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                    {% endif %}
                    {% if event.hasEndTime %}
                        {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <div class="col-xs-12 col-sm-8">
            {{ event.getDescription|e }}
        </div>
    </div>
{% endblock %}
