{% extends 'base-empty.html.twig' %}

{% block title %}Beziehungsübersicht ({{ event.title }}){% endblock %}

{% block page %}
  <div class="container-fluid" id="network-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group filters" data-toggle="buttons">
            <label class="btn btn-default active" title="Teilnehmerinnen anzeigen">
              <input type="checkbox" checked data-property="gender" data-value="2" data-nodes="participant"> Mädchen
            </label>
            <label class="btn btn-default active" title="Teilnehmer anzeigen">
              <input type="checkbox" checked data-property="gender" data-value="1" data-nodes="participant"> Jungen
            </label>
          </div>
          <div class="btn-group filters" data-toggle="buttons">
            {% for year in yearsOfLife %}
              <label class="btn btn-default active" title="Teilnehmer/Innen im Alter von {{ year }} Jahren anzeigen">
                <input type="checkbox" checked data-property="yearsOfLife" data-value="{{ year }}"
                       data-nodes="participant"> {{ year }}
              </label>
            {% endfor %}
          </div>
          <div class="btn-group filter-entities" data-toggle="buttons">
            <label class="btn btn-default active">
              <input type="checkbox" checked data-type="participant" title="Teilnehmer/Innen anzeigen"> Teilnehmer
            </label>
            {% for attribute in attributes %}
              {% if attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
                <label class="btn btn-default active" title="Optionen des Einteilungsfeldes '{{ attribute.getManagementTitle(true) }}' anzeigen">
                  <input type="checkbox" checked data-type="choice" data-bid="{{ attribute.bid }}">
                  {{ attribute.getManagementTitle(true) }}
                </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12">
          <div id="vis-network" style="width: 100%; border: 1px solid lightgrey;"  data-token="{{ csrf_token('detecting' ~ event.eid ) }}"
               data-eid="{{ event.eid }}" data-nodes="{{ nodes|json_encode() }}" data-edges="{{ edges|json_encode() }}"
          ></div>
        </div>
        <div class="col-xs-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group modes" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="mode" id="display" checked> Anzeigemodus
              </label>
              {% if is_granted('participants_edit', event) %}
                <label class="btn btn-default">
                  <input type="radio" name="mode" id="add-edge"> Verknüpfungsmodus
                </label>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
