{% extends 'base-empty.html.twig' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block title %}Beziehungsübersicht ({{ event.title }}){% endblock %}

{% block bodytag %}style="background:white !important; "{% endblock %}
{% block page %}
  <div class="container-fluid" id="network-container">
    <div class="row">
      <div class="col-xs-12">

        {% for participant in participants %}
          <div class="modal fade" id="modalParticipant{{ participant.aid }}" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                        aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ participant|fullname }}</h4>
                </div>
                <div class="modal-body">
                  <div class="container">
                  <div class="row">
                    {% include 'event/participation/admin/embed-detail-participant.html.twig' with {'participant': participant, 'event': event, 'paymentManager': null, 'similarParticipants': null} %}
                  </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-default" target="_blank"
                     href="{{ path('event_participation_detail', {eid: event.eid, pid: participant.participation.pid}) }}"> Anmeldungsdetails... {{ 'new-window'|glyph }}
                  </a>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group filters" data-toggle="buttons">
            <label class="btn btn-default active" title="Teilnehmerinnen anzeigen">
              <input type="checkbox" checked data-property="gender" data-value="2" data-nodes="participant"> Mädchen
            </label>
            <label class="btn btn-default active" title="Teilnehmer anzeigen">
              <input type="checkbox" checked data-property="gender" data-value="1" data-nodes="participant"> Jungen
            </label>
          </div>
          <div class="btn-group filters" data-toggle="buttons">
            <label class="btn btn-default active" title="Bestätigte Teilnehmer anzeigen">
              <input type="checkbox" checked data-property="confirmed" data-value="1" data-nodes="participant"> Bestätigt
            </label>
            <label class="btn btn-default active" title="Noch nicht bestätigte Teilnehmer anzeigen">
              <input type="checkbox" checked data-property="confirmed" data-value="0" data-nodes="participant"> Unbestätigt
            </label>
          </div>

          <div class="btn-group filters" data-toggle="buttons">
            {% for year in yearsOfLife %}
              <label class="btn btn-default active" title="Teilnehmer/Innen im Alter von {{ year }} Jahren anzeigen">
                <input type="checkbox" checked data-property="yearsOfLife" data-value="{{ year }}"
                       data-nodes="participant"> {{ year }}
              </label>
            {% endfor %}
          </div>
          <div class="btn-group filter-entities" data-toggle="buttons">
            <label class="btn btn-default active">
              <input class="f" type="checkbox" checked data-type="participant" title="Teilnehmer/Innen anzeigen"> Teilnehmer
            </label>
            <label class="btn btn-default active">
              <input type="checkbox" checked title="Zusammengehörigkeit von Teilnehmern durch Verbindung anzeigen" id="btnShowParticipationEdges"> Anmeldungsverbindung
            </label>
            {% for attribute in attributes %}
              {% if attribute.fieldType == 'AppBundle\\Form\\GroupType' %}
                <label class="btn btn-default active" title="Optionen des Einteilungsfeldes '{{ attribute.getManagementTitle(true) }}' anzeigen">
                  <input class="f" type="checkbox" checked data-type="choice" data-bid="{{ attribute.bid }}">
                  {{ attribute.getManagementTitle(true) }}
                </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12">
          <div id="vis-network" class="loading" data-token="{{ csrf_token('detecting' ~ event.eid ) }}" data-eid="{{ event.eid }}">
            <span class="loading-text">Beziehungen werden geladen...</span>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group modes" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="mode" id="display" checked> Anzeigemodus
              </label>
              {% if is_granted('participants_edit', event) %}
                <label class="btn btn-default">
                  <input type="radio" name="mode" id="add-edge"> Verknüpfungsmodus
                </label>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
