{% extends 'base.html.twig' %}

{% block title %}Daten von {{ employee.fullname }} bearbeiten ({{ event.title }})
{% endblock %}
{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Mitarbeiter', 'subtitle': 'bearbeiten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
            <li><a href="{{ path('admin_event_employee_list', {'eid': event.eid }) }}">Mitarbeiter</a></li>
            <li>
                <a href="{{ path('admin_employee_detail', {'eid': event.eid, 'gid': employee.gid }) }}">{{ employee.fullname }}</a>
            </li>
            <li class="active">Daten bearbeiten</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {% embed 'event/admin/employee/embed-form.html.twig' with {'form': form} %}
            {% block submit %}Änderungen speichern{% endblock %}
        {% endembed %}
    </div>

{% endblock %}
