<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ form_row(formEmployee.salutation) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(formEmployee.nameFirst) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(formEmployee.nameLast) }}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(formEmployee.addressStreet) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {{ form_row(formEmployee.addressZip) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_row(formEmployee.addressCity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(formEmployee.addressCountry) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(formEmployee.email) }}
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:15px;">
  {% if formEmployee.customFieldValues.children|length == 0 %}
    <div style="display: none">{{ form_row(formEmployee.customFieldValues) }}</div>
  {% endif %}
  {% for fieldName,formField in formEmployee.customFieldValues %}
    {% if fieldName starts with 'custom_field_' %}
      <div class="col-xs-12 col-sm-6">
        {% include 'event/participation/embed-form-custom-field.html.twig' with {'formField': formField, helpExpanded: false} %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% embed 'event/admin/employee/embed-form-phone-numbers.html.twig' with {'formPhoneNumbers': formEmployee.phoneNumbers, 'labelAddNumber': 'Telefonnummer hinzufügen'} %}{% endembed %}
