{% extends 'base.html.twig' %}

{% block title %}Benutzer verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Benutzer', 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('user_list') }}">Benutzer</a></li>
            <li class="active">{{ user.fullname(user.nameLast, user.nameFirst) }}</li>
        {% endblock %}
    {% endembed %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3>Daten</h3>
            <hr/>
            <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#roleAssignmentModal" data-action="restore">
                        {{ 'cd'|glyph }}<span class="hidden-xs"> Rollenzuweisung anpassen</span>
                    </button>
                    {% if not userIsSelf %}
                    <button type="button" class="btn btn-default" data-element="activebutton"
                            data-entity="User"
                            data-property="isEnabled" data-entity-id="{{ user.uid }}"
                            data-token="{{ csrf_token('User' ~ 'isEnabled' ~ user.uid ) }}"
                            data-button-enable-label="Aktivieren" data-button-enable-glyph="arrow-up"
                            data-button-disable-label="Deaktivieren"
                            data-button-disable-glyph="arrow-down">{{ 'option-horizontal'|glyph }}</button>
                    {% endif %}
                </div>
                <div class="modal fade" id="roleAssignmentModal" tabindex="-1" role="dialog"
                     aria-labelledby="dialogModalLabel">
                    <div class="modal-dialog" role="document">
                        {{ form_start(form) }}
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Abbrechen"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Rollenzuweisung anpassen</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_widget(form.uid) }}
                                {{ form_widget(form.role) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                </button>
                                <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Vorname</label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ user.nameFirst }}</p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nachname</label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ user.nameLast }}</p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">E-Mail-Adresse</label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ user.email }}</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 user-participations-list">
            <h3>Anmeldungen</h3>
            <hr/>
            <table id="userParticipantsListTable" class="table table-striped" data-id-field="pid"
                   data-toggle="table" data-cache="false" data-pagination="true"
                   data-side-pagination="client" data-toolbar="#user-list-toolbar" data-striped="true"
                   data-url="{{ path('admin_user_participations_list_data', {uid: user.uid}) }}">
                <thead>
                <tr>
                    <th data-field="eid" data-sortable="true" data-visible="false">#e</th>
                    <th data-field="pid" data-sortable="true" data-visible="false">#p</th>
                    <th data-field="eventTitle" data-sortable="true">Veranstaltung</th>
                    <th data-field="participants" data-sortable="false">Teilnehmer</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}