{% extends 'base.html.twig' %}

{% block title %}Feedback - {{ event.title }}{% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feedback', 'subtitle': event.title} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
      <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
      <li class="active">Feedback</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('admin_feedback_event_questionnaire', {'eid': event.eid }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Fragebogen konfigurieren</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {% if questionnaire.feedbackDaysAfterEvent == 0 %}
          <span class="label label-default">Keine automatische Benachrichtigung</span>
        {% else %}
          <span class="label label-primary">Automatische Benachrichtigung {{ questionnaire.feedbackDaysAfterEvent }} Tage nach der Veranstaltung</span>
        {% endif %}
        <span class="label label-primary">
          {{ questionnaire.questions|length }} Frage{% if questionnaire.questions|length != 1 %}n{% endif %}
        </span>

      </div>
    </div>
  </div>
{% endblock %}
