{% extends 'base.html.twig' %}

{% block title %}Feedback - {{ event.title }}{% endblock %}

{% block body %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modalFeedbackEmail">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Feedback per E-Mail anfragen</h4>
        </div>
        {{ form_start(formAction) }}
        <div class="modal-body">
          {{ form_errors(formAction) }}
          <p>Alle Eltern aller bestätigter (und nicht zurückgezogener/abgelehnter) Teilnehmer:innen erhalten eine
            E-Mail, in der sie um das Ausfüllen des Fragebogens gebeten werden.</p>
          <p>Soll eine solche E-Mail verschickt werden?</p>
          {{ form_rest(formAction) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
          <input type="submit" class="btn btn-primary" value="Feedback einholen"/>
        </div>
        {{ form_end(formAction) }}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feedback', 'subtitle': event.title} %}
    {% block breadcrumb %}
      <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
      <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
      <li class="active">Feedback</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('admin_feedback_event_questionnaire', {'eid': event.eid }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Fragebogen konfigurieren</span></a>
            <a href="{{ path('admin_feedback_event_import', {'eid': event.eid }) }}"
               title="Fragen von Fragebögen anderer Veranstaltungen importieren"
               class="btn btn-default">{{ 'import'|glyph }} <span class="hidden-xs">Fragen importieren</span></a>
          </div>
          <div class="btn-group" role="group">
            <a href="{{ path('admin_feedback_event_test', {'eid': event.eid }) }}" target="_blank"
               class="btn btn-default">{{ 'eye-open'|glyph }} <span class="hidden-xs">Fragebogen</span>
              ansehen {{ 'new-window'|glyph }}</a>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default {% if event.feedbackQuestionnaireSent %} disabled{% endif %}"
                    data-toggle="modal" data-target="#modalFeedbackEmail">
              Feedback einholen <span class="caret-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {% if questionnaire.feedbackDaysAfterEvent == 0 %}
          <span class="label label-default">Keine automatische Benachrichtigung</span>
        {% else %}
          <span class="label label-primary">Automatische Benachrichtigung {{ questionnaire.feedbackDaysAfterEvent }} Tage nach der Veranstaltung</span>
        {% endif %}

        &nbsp;
        {% if responseCount == 0 %}
          <span class="label label-default">Keine Rückmeldungen</span>
        {% else %}
          <span class="label label-primary">
          {{ responseCount }} Rückmeldung{% if responseCount > 1 %}en{% endif %}
          </span>
        {% endif %}

        &nbsp;
        <span class="label label-primary">
          {{ questionnaire.questions|length }} Frage{% if questionnaire.questions|length != 1 %}n{% endif %}, {{ questionnaire.getThesisCount() }} These{% if questionnaire.getThesisCount() != 1 %}n{% endif %}
        </span>
        &nbsp;
        {% if event.feedbackQuestionnaireSent %}
          <span class="label label-primary">Teilnehmende wurden benachrichtigt</span>
        {% else %}
          <span class="label label-default">Teilnehmende wurden noch nicht benachrichtigt</span>
        {% endif %}

        {% if answerDistribution|length %}
          {% for topic, distributionItems in answerDistribution %}
            <div class="row">
              <div class="col-xs-12 feedback-question">
                <div class="question-pre"></div>
                <div class="question">
                  <h3>
                    {% if topic %}
                      {{ topic }}
                    {% else %}
                      <i>Allgemein</i>
                    {% endif %}
                  </h3>
                </div>
                <div class="question-post"></div>
              </div>
            </div>
            {% for distributionItem in distributionItems %}
              <div class="question question-interpretation-{{ distributionItem.question.interpretation }}">
                <div class="row">
                  <div class="col-xs-12 feedback-question">
                    <div class="question-pre"></div>
                    <div class="question">
                      <h4>
                        {{ distributionItem.question.title }}
                        <small>
                          {% if distributionItem.question.interpretation == 1 %}
                            <span class="label label-danger"
                                  data-title="Zustimmung zu dieser Aussage wird negativ betrachtet"
                                  data-toggle="tooltip">Negativ</span>
                          {% elseif distributionItem.question.interpretation == 2 %}
                            <span class="label label-default" data-title="Diese Aussage ist weder negativ noch positiv"
                                  data-toggle="tooltip">Neutral</span>
                          {% elseif distributionItem.question.interpretation == 3 %}
                            <span class="label label-success"
                                  data-title="Zustimmung zu dieser Aussage wird positiv betrachtet"
                                  data-toggle="tooltip">Positiv</span>
                          {% endif %}
                          {% if distributionItem.distributionCombined.total == 0 %}
                            <span class="label label-warning"
                                  data-title="Es liegt keine Rückmeldung vor."
                                  data-toggle="tooltip">Keine Rückmeldung</span>
                          {% elseif distributionItem.distributionCombined.total <5 %}
                            <span class="label label-warning"
                                  data-title="Lediglich {{ distributionItem.distributionCombined.total }} Rückmeldungen liegen vor; Vorsicht bei der Deutung."
                                  data-toggle="tooltip">Wenig Rückmeldung</span>
                          {% else %}
                            <span class="label label-info"
                                  data-title="Es liegt {{ distributionItem.distributionCombined.total }} Rückmeldung vor."
                                  data-toggle="tooltip">{{ distributionItem.distributionCombined.total }} Rückmeldungen</span>
                          {% endif %}
                        </small>
                      </h4>
                      <p>{{ distributionItem.question.thesis }}</p>
                    </div>
                    <div class="question-post"></div>
                  </div>
                </div>
                {% embed 'feedback/embed-agreement-chart.html.twig' with {'distribution': distributionItem.distributionCombined} %}{% endembed %}
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
