{% extends 'base.html.twig' %}

{% block title %}Feedback - {{ event.title }}{% endblock %}

{% block body %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modalFeedbackEmail">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Feedback per E-Mail anfragen</h4>
        </div>
        {{ form_start(formAction) }}
        <div class="modal-body">
          {{ form_errors(formAction) }}
          <p>Alle Eltern aller bestätigter (und nicht zurückgezogener/abgelehnter) Teilnehmer:innen erhalten eine
            E-Mail, in der sie um das Ausfüllen des Fragebogens gebeten werden.</p>
          <p>Soll eine solche E-Mail verschickt werden?</p>
          {{ form_rest(formAction) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
          <input type="submit" class="btn btn-primary" value="Feedback einholen"/>
        </div>
        {{ form_end(formAction) }}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feedback', 'subtitle': event.title} %}
    {% block breadcrumb %}
      <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
      <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
      <li class="active">Feedback</li>
    {% endblock %}
  {% endembed %}
  <div class="container container-feedback">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('admin_feedback_event_questionnaire', {'eid': event.eid }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Fragebogen konfigurieren</span></a>
            <a href="{{ path('admin_feedback_event_import', {'eid': event.eid }) }}"
               title="Fragen von Fragebögen anderer Veranstaltungen importieren"
               class="btn btn-default">{{ 'import'|glyph }} <span class="hidden-xs">Fragen importieren</span></a>
          </div>
          <div class="btn-group" role="group">
            <a href="{{ path('admin_feedback_event_test', {'eid': event.eid }) }}" target="_blank"
               class="btn btn-default">{{ 'eye-open'|glyph }} <span class="hidden-xs">Fragebogen</span>
              ansehen {{ 'new-window'|glyph }}</a>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default {% if event.feedbackQuestionnaireSent %} disabled{% endif %}"
                    data-toggle="modal" data-target="#modalFeedbackEmail">
              Feedback einholen {{ caretRight() }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom:15px;">
      <div class="col-xs-12">
        {% if questionnaire.feedbackDaysAfterEvent == 0 %}
          <span class="label label-default">Keine automatische Benachrichtigung</span>
        {% else %}
          <span class="label label-primary">Automatische Benachrichtigung {{ questionnaire.feedbackDaysAfterEvent }} Tage nach der Veranstaltung</span>
        {% endif %}
        &nbsp;
        {% if responseCount == 0 or filloutsSubmittedCount == 0 %}
          <span class="label label-default">Keine Rückmeldungen</span>
        {% else %}
          <span class="label label-primary"
                data-title="{{ responseCount }} Rückmeldung{% if responseCount > 1 %}en{% endif %} (von {{ filloutsSubmittedCount }})"
                data-toggle="tooltip">
            Rücklaufquote {{ (responseCount/filloutsSubmittedCount*100) | round }}&hairsp;%
          </span>
        {% endif %}

        &nbsp;
        <span class="label label-primary">
          {{ questionnaire.questions|length }} Frage{% if questionnaire.questions|length != 1 %}n{% endif %}, {{ questionnaire.getThesisCount() }} These{% if questionnaire.getThesisCount() != 1 %}n{% endif %}
        </span>
        &nbsp;
        {% if event.feedbackQuestionnaireSent %}
          <span class="label label-primary">Teilnehmende wurden benachrichtigt</span>
        {% else %}
          <span class="label label-default">Teilnehmende wurden noch nicht benachrichtigt</span>
        {% endif %}

      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          {#
          <li role="presentation" class="active">
            <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Übersicht</a>
          </li>
          #}
          <li role="presentation">
            <a href="#answer-distribution" aria-controls="answer-distribution" role="tab"
               data-toggle="tab">Quantitativ</a>
          </li>
          <li role="presentation" class="{% if filloutComments|length == 0 %}disabled{% endif %}">
            <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Qualitativ</a>
          </li>
          <li role="presentation">
            <a href="#fillouts" aria-controls="fillouts" role="tab" data-toggle="tab">Einzelantworten</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane " id="overview">
        <div class="alert alert-info" role="alert">
          Übersicht noch nicht verfügbar.
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="answer-distribution">
        <div class="row">
          <div class="col-xs-12">
            {% include 'feedback/embed-answer-distribution.html.twig' %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="comments">
        <div class="row">
          <div class="col-xs-12">
            {% include 'feedback/embed-comments.html.twig' %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="fillouts">
        <div class="row">
          <div class="col-xs-12">
            {% include 'feedback/embed-fillouts.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
