{% block subject %}Anmeldung für "{{ event.title }}" bestätigt{% endblock %}

{% block body_text %}
{% autoescape false %}
{% if participation.salution == 'Herr' %}
Hallo Herr {{ participation.nameLast }}!
{% else %}
Hallo Frau  {{ participation.nameLast }}!
{% endif %}

Die Anmeldung von {{ participation|participantsgrouped(true) }} bei der Veranstaltung "{{ event.title }}" wurde soeben bestätigt. Wir freuen uns schon auf den {{ event.getStartDate()|date('d.m.Y') }}!
{% if event.hasConfirmationMessage %}

{{ event.confirmationMessage }}

{% endif %}
Mit besten Grüßen,
{{ customization.organizationName }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% embed 'mail/template.html.twig' %}
    {% block title %}{% if participation.salution == 'Herr' %}Hallo Herr{% else %}Hallo Frau{% endif %} {{ participation.nameLast }}!{% endblock %}
    {% block content %}<p>Die Anmeldung von {{ participation|participantsgrouped() }} bei der Veranstaltung <i>{{ event.title }}</i> wurde soeben bestätigt. Wir freuen uns schon auf den {{ event.getStartDate()|date('d.m.Y') }}!</p>{% if event.hasConfirmationMessage %}<p>{{ event.confirmationMessage }}</p>{% endif %}
{% endblock %}
{% endembed %}
{% endblock %}