{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} (Rezept){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': recipe.title, 'subtitle': 'Rückmeldung erfassen'} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('meals_recipes_list') }}">Rezepte</a></li>
      <li><a href="{{ path('meals_recipes_detail', {'id': recipe.id}) }}">{{ recipe.title }}</a></li>
      <li class="active">Rückmeldung erfassen</li>
    {% endblock %}
  {% endembed %}

  {% form_theme form 'form/button_choice_type_fields.html.twig' %}
  <div class="container meals-container">
    {{ form_start(form) }}
    {% embed 'meals/recipe/feedback/embed-form.html.twig' with {'form': form} %}
    {% endembed %}
    <div class="col-xs-12">
      <input type="submit" value="Rückmeldung erfassen" class="btn btn-primary navbar-btn"/>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
