{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Veranstaltung{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Juvem', 'subtitle': 'Anmeldung'} %}
        {% block breadcrumb %}
            <li class="active">Anmeldung</li>
        {% endblock %}
    {% endembed %}
    {% block fos_user_content %}
        <div class="container">
            {% if error %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <div class="form-group">
                            <label for="username">E-Mail</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required"
                                   class="form-control"/>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>

                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                               class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}

{% endblock body %}