{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} (Rezept){% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': recipe.title, 'subtitle': 'Rezept'} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('meals_recipes_list') }}">Rezepte</a></li>
      <li class="active">{{ recipe.title }} (Rezept)</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
          <div class="btn-group" role="group">
            <a href="{{ path('meals_recipes_edit', {'id': recipe.id }) }}"
               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% if recipe.cookingInstructions %}
        <div class="col-xs-12">
          <h2>Zubereitung</h2>
          {{ recipe.cookingInstructions|markdown }}
        </div>
      {% endif %}
      <div class="col-xs-12">
        <h2>Eigenschaften</h2>
        {% for property in recipe.properties %}
          <span class="label label-primary">{{ property.name }}</span>
        {% endfor %}
        {% for property in unassignedProperties %}
          <span class="label label-default" title="{{ property.exclusionTermDescription }}">{{ property.exclusionTerm }}</span>
        {% endfor %}
      </div>
      <div class="col-xs-12">
        <h2>Zutaten</h2>
        <table class="table table-striped">
          <thead style="font-weight: bold;">
          <tr>
            <td>Lebensmittel</td>
            <td class="text-right">Menge p<span class="hidden-sm">ro </span>P<span class="hidden-sm">erson</span></td>
            <td>Eigenschaften</td>
            <td>Hinweise</td>
          </tr>
          </thead>
          <tbody>
          {% for ingredient in recipe.ingredients %}
            <tr>
              <td>{{ ingredient.viand.name }}</td>
              <td class="text-right">
                {{ ingredient.amount|replace({'.': ",", "," : "'"}) }} <abbr
                    style="display: inline-block; min-width: 37px; text-align: left;"
                    title="{{ ingredient.unit.name }}">{{ ingredient.unit.short }}</abbr>
              </td>
              <td>
                {% for property in ingredient.viand.properties %}
                  <span class="label label-primary">{{ property.name }}</span>
                {% endfor %}
              </td>
              <td>{{ ingredient.description }}</td>
            </tr>
          {% endfor %}
          {% if recipe.ingredients|length == 0 %}
            <tr>
              <td colspan="4" class="text-center">(keine Zutaten eingetragen)</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>


    </div>
  </div>
{% endblock %}
