{% extends 'base.html.twig' %}

{% block title %}Rezept erstellen{% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Rezept', 'subtitle': 'erstellen'} %}
    {% block breadcrumb %}
      <li>Rezepte</li>
      <li><a href="{{ path('meals_recipes_list') }}">Rezepte</a></li>
      <li class="active">Rezept erstellen</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    {{ form_start(form) }}
    <div class="row ">
      <div class="col-xs-12">
        {{ form_errors(form) }}
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12">
        {{ form_row(form.title) }}
      </div>
      <div class="col-xs-12">
        {{ form_row(form.cookingInstructions) }}
      </div>

    </div>
    <div class="row ">
      <div class="col-xs-12">
        <input type="submit" value="Rezept erstellen" class="btn btn-primary navbar-btn"/>
      </div>
    </div>
    {{ form_end(form) }}

  </div>
{% endblock %}
