{% extends 'base.html.twig' %}

{% block title %}Juvem{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Juvem', 'subtitle': 'Benutzerprofil'} %}
        {% block breadcrumb %}
            <li class="active">Anmeldung</li>
        {% endblock %}
    {% endembed %}

    {% if app.request.hasPreviousSession %}
        <div class="col-sm-12">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
          <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a>
        {% else %}
          <a class="btn btn-primary"
             href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
    </div>

</div>
{% endblock body %}