<div class="page-header">
    <h1>{{ title }}
        {% if subtitle is defined %}
            <small>{{ subtitle }}</small>
        {% endif %}
    </h1>
</div>
<div id="page-global-messages">
    <div data-alerts="alerts">
        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg|raw }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('info') %}
            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-info">
                    {{ msg|raw }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('warning') %}
            {% for msg in app.session.flashBag.get('warning') %}
                <div class="alert alert-warning">
                    {{ msg|raw }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('danger') %}
            {% for msg in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger">
                    {{ msg|raw }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
