{% extends 'base.html.twig' %}

{% block title %}{{ acquisition.managementTitle }} - Feld (Details){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': acquisition.managementTitle, 'subtitle': 'Feld (Details)'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li class="active">{{ acquisition.managementTitle }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
            <div class="modal-dialog" role="document">
                {{ form_start(form) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="dialogModalLabel">
                            {% if acquisition.isDeleted %}
                                Feld aus Papierkorb nehmen
                            {% else %}
                                Feld in Papierkorb verschieben
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                      <p id="dialogModalQuestion"></p>
                      <p id="dialogModalExplanation"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Daten</h3>
                <hr/>
                <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                    {% if not acquisition.isDeleted %}
                        <div class="btn-group" role="group">
                            <a href="{{ path('acquisition_edit', {'bid': acquisition.bid }) }}"
                               class="btn btn-primary">{{ 'pencil'|glyph }} <span
                                    class="hidden-xs">Bearbeiten</span></a>
                        </div>
                        <a href="{{ path('acquisition_edit_formula', {bid: acquisition.bid}) }}"
                           class="btn btn-default {% if not acquisition.priceFormulaEnabled %}disabled{% endif %}">{{ 'equalizer'|glyph }} Formeleditor</a>
                    {% endif %}

                    {% if not acquisition.isSystem %}
                        <div class="btn-group">
                            {% if not acquisition.isArchived %}
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#dialogModal" data-action="archive">
                                    {{ 'folder-close'|glyph }}<span class="hidden-xs"> Archivieren</span> <span
                                        class="caret-right"></span>
                                </button>
                            {% elseif not acquisition.isDeleted %}
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#dialogModal" data-action="delete">
                                    {{ 'trash'|glyph }}<span class="hidden-xs"> Papierkorb</span> <span
                                        class="caret-right"></span>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#dialogModal" data-action="restore">
                                    {{ 'repeat'|glyph }}<span class="hidden-xs"> Wiederherstellen </span> <span
                                        class="caret-right"></span>
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Archivieren oder in Papierkorb verschieben…</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if acquisition.isDeleted %}
                                        <a href="#" data-toggle="modal" data-target="#dialogModal"
                                           data-action="restore">
                                            {{ 'repeat'|glyph }} aus Papierkorb zurückholen <span
                                                class="caret-right"></span>
                                        </a>
                                    {% else %}
                                        <a href="#" data-toggle="modal" data-target="#dialogModal" data-action="delete">
                                            {{ 'trash'|glyph }} in Papierkorb verschieben <span
                                                class="caret-right"></span>
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if acquisition.isArchived %}
                                        <a href="#" data-toggle="modal" data-target="#dialogModal"
                                           data-action="unarchive">
                                            {{ 'folder-open'|glyph }} aus dem Archiv zurückholen <span
                                                class="caret-right"></span>
                                        </a>
                                    {% else %}
                                        <a href="#" data-toggle="modal" data-target="#dialogModal"
                                           data-action="archive">
                                            {{ 'folder-close'|glyph }} archivieren <span class="caret-right"></span>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                  {{ acquisition|changeTrackingButton }}
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if not acquisition.isDeleted and not acquisition.isArchived %}
                                    <span class="label label-primary">aktiv</span>
                                {% endif %}
                                {% if acquisition.isDeleted %}
                                    <span class="label label-default">im Papierkorb</span>
                                {% endif %}

                                {% if acquisition.isArchived %}
                                    <span class="label label-info">archiviert</span>
                                {% endif %}

                                {% if acquisition.isSystem %}
                                    <span class="label label-info"
                                          data-title="Dieses Feld ist ein eingebautes Systemfeld. Manche Eigenschaften können nicht geändert werden."
                                          data-toggle="tooltip">Systemfeld</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label">
                        <span data-toggle="tooltip"
                              data-title="Position dieses Feldes in Bezug auf die Darstellungsreihenfolge der Felder im Formular">Position</span>
                      </label>

                      <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.sort }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Titel</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.managementTitle }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Beschreibung</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.managementDescription }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Titel (Formular)</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.formTitle }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Beschreibung (Formular)</label>

                        <div class="col-sm-8">
                            <p class="form-control-static"
                               style="white-space: pre-line;">{{ acquisition.formDescription }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Typ</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.getFieldType(true) }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Formel</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.priceFormulaEnabled %}
                                    aktiviert
                                {%- else -%}
                                    deaktiviert
                                {%- endif -%}
                                {% if acquisition.priceFormula  is not empty -%}
                                    , <code>{{ acquisition.priceFormula|e }}</code>
                                {%- else -%}
                                    , keine globale Formel konfiguriert
                                {% endif %}
                                <a href="{{ path('acquisition_edit_formula', {bid: acquisition.bid}) }}"
                                   class=" {% if not acquisition.priceFormulaEnabled %}disabled{% endif %}">(bearbeiten)</a>
                            </p>
                        </div>
                    </div>
                    {% if acquisition.isChoiceType %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Optionen</label>
                            <div class="col-sm-8">
                                <ul class="form-control-static">
                                    {% for choice in acquisition.choiceOptions %}
                                        <li>
                                            <b>Kürzel:</b>
                                            <span class="label label-primary">{{ choice.getShortTitle(true) }}</span>
                                            {% if choice.isDeleted %}
                                                {{ 'trash'|glyph('Diese Option wurde gelöscht und kann nicht mehr ausgewählt werden.') }}
                                            {% endif %}
                                            <br>
                                            <b>Interner Titel:</b>
                                            <span{% if choice.isDeleted %} class="deleted"{% endif %}>
                                                    {% if choice.managementTitle %}
                                                        {{ choice.managementTitle }}
                                                    {% else %}
                                                        <i class="empty value-null"><span></span></i>
                                                    {% endif %}
                                                </span>
                                            <br>
                                            <b>Titel im Formular:</b>
                                            <span{% if choice.isDeleted %} class="deleted"{% endif %}>
                                                    {% if choice.formTitle %}
                                                        {{ choice.formTitle }}
                                                    {% else %}
                                                        <i class="empty value-null"><span></span></i>
                                                    {% endif %}
                                                </span>
                                            {% if choice.hasFormDescription() %}
                                                <br>
                                                <b>Erläuternde Beschreibung im Formular:</b>
                                                {{ choice.formDescription }}
                                            {% endif %}
                                          {% if choice.isSystem %}
                                            <br>
                                            <span class="label label-info"
                                                  data-title="Dieses Option ist ein eingebautes Systemfeld. Manche Eigenschaften können nicht geändert werden."
                                                  data-toggle="tooltip">Systemfeld</span>
                                          {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Sichtbarkeit</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.isPublic %}
                                    Daten werden von Eltern eingegeben (Feld wird im Formular aufgeführt)
                                {% else %}
                                    Daten werden nur von Adminstratoren eingegeben
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Je Anmeldung erfassen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.useAtParticipation %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Je Teilnehmer:in erfassen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.useAtParticipant %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Je Mitarbeiter:in erfassen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.useAtEmployee %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Pflichtfeld</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.isRequired %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Ergänzungen ermöglichen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.isCommentEnabled %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Verwendung</h3>
                        <hr/>

                        <div class="list-group">
                            {% if events|length == 0 %}
                                <div class="list-group-item list-group-item-info">Im Moment wird dieses Feld bei keiner
                                    Veranstaltung verwendet.
                                </div>
                            {% endif %}
                            {% for event in events %}
                                <a href="{{ path('event_public_detail', {eid: event.eid}) }}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ event.title }}</h4>

                                    <p class="list-group-item-text">{{ event.descriptionMeta(true)|e }}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptCustom %}
    {% cspscript %}
        <script type='text/javascript'>
            jQuery(document).ready(function () {
                $('#dialogModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        modalTitle = '',
                        modalQuestion = '',
                        modalExplanation = '';

                    modal.find('input[name="form[action]"]').val(action);

                    switch(action) {
                        case 'delete':
                            modalTitle = 'Feld in Papierkorb verschieben';
                            modalQuestion = 'Soll dieses Feld wirklich in den Papierkorb verschoben werden?';
                            modalExplanation = 'Daten bei bereits erfassten Anmeldungen bleiben erhalten, werden aber nicht mehr angezeigt werden.  Das Feld erscheint auch nicht mehr im Anmeldeformular von Veranstaltungen, denen es bereits zugewiesen ist und kann auch keiner Veranstaltung mehr zugewiesen werden.';
                            break;
                        case 'restore':
                            modalTitle = 'Feld aus Papierkorb nehmen';
                            modalQuestion = 'Soll dieses Feld wirklich aus dem Papierkorb herausgeholt werden?';
                            break;
                        case 'archive':
                            modalTitle = 'Feld archivieren';
                            modalQuestion = 'Soll dieses Feld wirklich archiviert werden?';
                            modalExplanation = 'Daten bei bereits erfassten Anmeldungen bleiben erhalten, und werden weiterhin angezeigt werden. Das Feld erscheint weiterhin im Anmeldeformular von Veranstaltungen, denen es bereits zugewiesen ist. Es kann jedoch keiner Veranstaltung mehr zugewiesen werden. Besonders nützlich bei Feldern, die auf eine spezielle Vernastaltung zugeschnitten sind.';
                            break;
                        case 'unarchive':
                            modalTitle = 'Feld aus Archiv zurückholen';
                            modalQuestion = 'Soll dieses Feld wirklich aus dem Archiv herausgeholt werden?';
                            break;
                    }
                    modal.find('#dialogModalLabel').html(modalTitle);
                    modal.find('#dialogModalQuestion').html(modalQuestion);
                    modal.find('#dialogModalExplanation').html(modalExplanation);
                });
            });

        </script>
    {% endcspscript %}
{% endblock %}
