{% import _self as m %}
{{ form_start(form) }}
<div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
            <div class="btn-group" role="group">
                <input type="submit" value="{{ submitTitle }}" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xs-12 col-sm-4{% if not form.managementTitle.vars.valid %} has-error{% endif %}">
                {{ form_label(form.managementTitle) }}
                {{ form_widget(form.managementTitle) }}
                {{ form_errors(form.managementTitle) }}
                <p class="help-block" id="help-management-title">Wird für die Tabellenspalten in der Verwaltung
                    verwendet, sollte möglichst kurz sein</p>
            </div>
            <div class="col-xs-12 col-sm-8{% if not form.managementDescription.vars.valid %} has-error{% endif %}">
                {{ form_label(form.managementDescription) }}
                {{ form_widget(form.managementDescription) }}
                {{ form_errors(form.managementDescription) }}
                <p class="help-block" id="help-management-description">Wird in der Verwaltung in Tooltips zu den
                    Tabellenspalten angezeigt</p>
            </div>
        </div>
        {{ form_row(form.formTitle) }}
        {{ form_row(form.formDescription) }}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Erfassung</label>
                    <p class="help-block">Die Eingabe des Feldes kann gleichzeitig je Anmeldung und je Teilnehmer:in sowie bei den der Veranstaltung zugewiesenen Mitarbeiter:innen erfasst werden. </p>
                    {{ form_row(form.useAtParticipation) }}
                    {{ form_row(form.useAtParticipant) }}
                    {{ form_row(form.useAtEmployee) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Gewichtung</label>
                            {{ form_row(form.isRequired, {'label': 'Das Feld als Pflichtfeld behandeln, es muss etwas eingegeben/ausgewählt werden'}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Öffentlich</label>
                            {{ form_row(form.isPublic, {'label': 'Wenn das Feld öffentlich erfasst wird, wird es im Anmeldeformular aufgeführt. Wenn nicht, können die Werte für dieses Feld nur von Administratoren eingegeben/gesehen werden.'}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Ergänzungen</label>
                            {{ form_row(form.isCommentEnabled, {'label': 'Wenn bei dem Feld Ergänzungen ermöglicht werden, wird dem Feld im Formular bei der Erfassung ein weiteres Textfeld mit dem Hinweis "Ergänzungen" hinzugefügt. So kann die Auswahl bspw. begründet oder auf eine fehlende Auswahlmöglichkeit hingewiesen werden.'}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">Auswirkung auf Preis/Aufwandsentschädigung</label>
                    <p class="help-block" id="help-formula-enabled">Felder können einen Einfluss auf den Preis für die Teilnehmer:in bzw. auf die Aufwandsentschädigung für die Mitarbeiter:innen haben. Dazu kann hier eine Formel konfiguriert werden.</p>
                    {{ form_row(form.isPriceFormulaEnabled, {'label': 'Auswirkung auf Preis/Aufwandsentschädigung aktivieren, Formel konfigurieren'}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                {{ form_row(form.fieldType) }}
            </div>
        </div>
        <div class="form-group-choice" style="{% if not (showChoiceOptions) %}display:none;{% endif %}">
            <div class="row form-group-choice-multiple" style="{% if not (showChoiceMultipleOptions) %}display:none;{% endif %}">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    {{ form_row(form.isMultipleChoiceType) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label required control-label">Optionen der Auswahl</label>
                    <div class="choice-options prototype-container"
                         data-prototype="{{ m.prototypeChoice(form.choiceOptions.vars.prototype, false)|e('html_attr') }}">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id='help-choice-options' class='help-block'>
                                    <p>Hier werden die Optionen der Auswahl gepflegt.</p>
                                    <p id="help-choice-options-public-title">
                                        Im Auswahlfeld im öffentlichen Formular wird der Wert für <span>Titel im Formular</span>
                                        angzeigt. Er sollte möglichst aussagekräftig sein und die Option auch für
                                        aussenstehende verständlich machen. Er muss allgemein und neutral formuliert
                                        sein. Für eine Schwimmanfänger-Option könnte der Text bspw. „<i>Teilnehmer:in hat
                                            schwimmen gelernt, ist jedoch noch nicht sicher dabei und sollte keine
                                            längeren Strecken schwimmen müsssen</i>“ lauten.
                                    </p>
                                    <p id="help-choice-options-internal-title">
                                        Der <span>Interne Titel</span> darf kompakter und direkter beschreiben, was die
                                        Option intern bedeutet. Wird für dieses Feld nichts eingegeben, wird auch intern
                                        der Text von <i>Titel im Formular</i> verwendet. Für eine Schwimmanfänger-Option
                                        könnte der Wert bspw. „<i>Schwimmanfänger</i>“ lauten.</p>
                                    <p id="help-choice-options-internal-short">Für Excel-Exports oder andere Listen kann
                                        ein Code als <span>Internes Kürzel</span> angegebene werden. Im Normalfall
                                        besteht er nur aus Buchstaben. Für eine Schwimmanfänger-Option könnte der Wert
                                        bspw. „<i>SA</i>“ lauten.</p>
                                </div>
                            </div>
                        </div>
                        <div class="prototype-elements">
                            {{ form_errors(form.choiceOptions) }}
                            {% for choiceOption in form.choiceOptions %}
                                {{ m.prototypeChoice(choiceOption) }}
                            {% endfor %}
                            {% if form.choiceOptions|length == 0 %}
                                {{ form_row(form.choiceOptions) }}
                            {% endif %}
                            <div class="prototype-missing-message"{% if form.choiceOptions|length > 0 %} style="display: none;"{% endif %}>
                                <div class="alert alert-danger">
                                    <ul class="list-unstyled">
                                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> Ein Feld vom Typ „Auswahl“ benötigt mindestens eine Option.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-12">
                                <button class="btn btn-success prototype-add form-acquisition-option-add">{{ 'plus-sign'|glyph }}
                                    Weitere Option hinzufügen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <input type="submit" value="{{ submitTitle }}" class="btn btn-primary navbar-btn"/>
            </div>
        </nav>
    </div>
</div>
{% macro prototypeChoice(formElement) %}
    <div class="row" {% if formElement.vars.value and formElement.vars.value.isDeleted %}style="display:none;"{% endif %}>
        <div class="col-xs-12">
            <div class="panel panel-default prototype-element">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10 col-sm-8">
                            <h3 class="panel-title">Option</h3>
                        </div>
                        <div class="col-xs-2 col-sm-4 text-right">
                            <a href="#" class="btn btn-danger btn-xs prototype-remove"
                               title="Option entfernen">{{ 'remove-sign'|glyph }} <span class="hidden-xs">Option entfernen</span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_errors(formElement) }}
                            <div class="form-group {% if not formElement.formTitle.vars.valid %}has-error{% endif %}">
                                {{ form_label(formElement.formTitle) }}
                                <div class="input-group">
                                    {{ form_widget(formElement.formTitle) }}
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="#help-choice-options-public-title"{{ tab.skip|raw }}>
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </a>
                                    </span>
                                </div>
                                {{ form_errors(formElement.formTitle) }}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-9">
                            {{ form_label(formElement.managementTitle) }}
                            <div class="input-group {% if not formElement.managementTitle.vars.valid %}has-error{% endif %}">
                                {{ form_widget(formElement.managementTitle) }}
                                <span class="input-group-btn">
                                    <a class="btn btn-default" href="#help-choice-options-internal-title"{{ tab.skip|raw }}>
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </span>
                            </div>
                            {{ form_errors(formElement.managementTitle) }}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            {{ form_label(formElement.shortTitle) }}
                            <div class="input-group {% if not formElement.shortTitle.vars.valid %}has-error{% endif %}">
                                {{ form_widget(formElement.shortTitle) }}
                                <span class="input-group-btn">
                                    <a class="btn btn-default" href="#help-choice-options-internal-short"{{ tab.skip|raw }}>
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </span>
                            </div>
                            {{ form_errors(formElement.shortTitle) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{{ form_end(form) }}
