<div class="row">
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        {{ form_row(form.nameFirst) }}
    </div>
    <div class="col-xs-12 col-sm-6">
        {{ form_row(form.nameLast) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.gender) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.birthday) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            {{ form_label(form.infoMedical) }}
            <button type="button" class="btn btn-default btn-xs btn-round"{{ tab.skip|raw }}
                    data-toggle="popover"
                    data-content="Leidet ihr Kind an Allergien oder Krankheiten? Muss ihr Kind während der Veranstaltung Medikamente einnehmen? (Bitte beachten Sie dabei, dass wir ohne schriftliche Anweisungen Teilnehmer:innen keine Medikamente verabreichen dürfen.)">
                {{ 'question-sign'|glyph }}
            </button>
            {{ form_widget(form.infoMedical) }}
            {{ form_errors(form.infoMedical) }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            {{ form_label(form.infoGeneral) }}
            <button type="button" class="btn btn-default btn-xs btn-round"{{ tab.skip|raw }}
                    data-toggle="popover"
                    data-content="Hier können Sie weiter Dinge angeben, die durch die anderen Felder nicht abgedeckt werden und die wir über ihr Kind wissen sollten. ">
                {{ 'question-sign'|glyph }}
            </button>
            {{ form_widget(form.infoGeneral) }}
            {{ form_errors(form.infoGeneral) }}
        </div>
    </div>
</div>
<div class="row">
  {% if form.customFieldValues.children|length == 0 %}
    <div style="display: none">{{ form_row(form.customFieldValues) }}</div>
  {% endif %}
  {% for fieldName,formField in form.customFieldValues %}
    {% if fieldName starts with 'custom_field_' %}
      <div class="col-xs-12 col-sm-6">
        {% include 'event/participation/embed-form-custom-field.html.twig' with {'formField': formField, 'helpExpanded': false} %}
      </div>
    {% endif %}
  {% endfor %}
</div>
