{{ form_start(form) }}
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default btn-update-preview">Vorschau aktualisieren
        </button>
        <input type="submit" class="btn btn-primary" value="Speichern"/>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dialogSend">Abschicken</button>
        <div class="modal fade" id="dialogSend" tabindex="-1" role="dialog"
             aria-labelledby="dialogModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialogModalLabel">Newsletter versenden</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p>Der Newsletter wird an die folgenden Empf채nger verschickt:</p>
                                <ul>
                                    <li>xx</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p>Der Newsletter wurde bereits an die folgenden Empf채nger verschickt:</p>
                                {% if newsletter %}
                                    {% if newsletter.recipients|length %}
                                        <ul>
                                            {% for recipient in newsletter.recipients %}
                                                <li>
                                                    {% if recipient.assignedUser %}
                                                        <a href="{{ path('user_detail', {'uid': recipient.assignedUser.uid}) }}"
                                                           target="_blank">{{ recipient.nameLast }}</a>
                                                    {% else %}
                                                        {{ recipient.nameLast }}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div data-alerts="alerts">
                                            <div class="alert alert-info">
                                                Diese Nachricht wurde bisher an niemand verschickt.
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                        </button>
                        <input type="submit" class="btn btn-primary" value="Newsletter Abschicken"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-4">
        {{ form_row(form.subject) }}
        {{ form_row(form.title) }}
        {{ form_row(form.lead) }}
        {{ form_row(form.content) }}
        <label class="control-label">Altersspanne</label>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-2 col-xs-6">
                <label class="control-label">von</label>
                {{ form_widget(form.ageRangeBegin) }}
            </div>
            <div class="col-sm-8  col-xs-12 contains-slider">
                <input type="hidden" class="slider-input" id="newsletter_mail_ageRangeSlider"
                       value="{{ form.ageRangeBegin.vars.value }},{{ form.ageRangeEnd.vars.value }}"/>
            </div>
            <div class="col-sm-2 col-xs-6">
                <label class="control-label">bis</label>
                {{ form_widget(form.ageRangeEnd) }}
            </div>
        </div>
        {{ form_row(form.events) }}
        <p id="affectedSubscription"><i>(Anzahl potentieller Empf채nger)</i></p>

        <p>Dieser Newsletter wurde bereits an {{ newsletter.recipients.count }} Empf채nger versandt.</p>
        <button type="button" class="btn btn-default btn-update-preview">Vorschau aktualisieren
        </button>
        <input type="submit" class="btn btn-primary" value="Speichern"/>
    </div>
    <div class="col-sm-6 col-lg-8" id="mail-template">
        <label class="control-label required" for="mail-template-iframe-panel">Vorschau</label>

        <div class="panel panel-default" id="mail-template-iframe-panel">
            <div class="panel-heading">Betreff der E-Mail</div>
            <div class="panel-body">
                <iframe src="{{ path('mail_template') }}"></iframe>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}