{% block subject %}Passwort zurücksetzen{% endblock %}

{% block body_text %}
{% autoescape false %}
Guten Tag {{ user.nameFirst }} {{ user.nameLast }} !

Sie können Ihr Passwort zurücksetzen, indem Sie die folgende Adresse aufrufen:
{{ confirmationUrl }}

Mit besten Grüßen,
Jugendwerk Stuttgart Vaihingen
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% embed 'mail/template.html.twig' %}
    {% block title %}Guten Tag {{ user.nameFirst }} {{ user.nameLast }}!{% endblock %}
    {% block content %}<p>Sie haben scheinbar das Passwort zu ihrem Account unseres Veranstaltungsmanagers vergessen. Wenn dass der Fall ist, können Sie jetzt einfach ein neues vergeben. Falls Sie diesen Vorgang nicht ausgelöst haben können Sie diese E-Mail ignorieren.</p><p>Ihr Passwort wird verschlüsselt gespeichert. Wir werden Sie niemals auffordern, es uns zu übermitteln, ausser im Anmeldefenster auf unserer Website.</p>{% endblock %}
    {% block calltoactioncontent %}<p>Sie können ihr Passwort jetzt auf der folgenden Seite zurücksetzen lassen:</p>
<p><a href="{{ confirmationUrl }}">Passwort zurücksetzen »</a></p>
{% endblock %}
{% endembed %}
{% endblock %}