{% extends 'base.html.twig' %}

{% block title %}Rundbrief Abonnement{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Rundbrief', 'subtitle': 'Abonnement'} %}
        {% block breadcrumb %}
            <li class="active">Rundbrief Abonnement</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sx-12 checkbox-with-help-block">
                {% if app.user is null %}
                    <p>Wir informieren Sie gerne über bevorstehende Aktionen. Auf dieser Seite können Sie die Rundbriefe
                        (Newsletter) abonnieren und Ihren Wünschen entsprechend zuscheinden. Natürlich können Sie die
                        Rundbriefe jederzeit abbestellen.</p>
                    <p>Nutzen Sie dazu einfach den entsprechenden Link in einem unserer Rundbriefe die sie erhalten
                        haben, oder <a href="mailto:mail@jugendwerk-vaihingen.de">wenden Sie sich direkt an uns</a>.</p>
                {% else %}
                    <p>Auf dieser Seite können Sie konfigurieren, welche E-Mails Sie von uns erhalten möchten, um über
                        die bevorstehenden Aktionen informiert zu sein.</p>
                {% endif %}

                <label class="control-label" id="help-templates">Schnellwahl</label><br>
                <div class="btn-group" role="group" aria-label="help-templates" style="margin-bottom: 10px;">
                  <button type="button" class="btn btn-default btn-sm" id="preselectNone" >keine Newsletter erhalten</button>
                  <button type="button" class="btn btn-default btn-sm" id="preselectAll" >alle Newsletter abbonieren</button>
                </div>

                {{ form_start(form) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <p class="help-block" id="help-email">Die E-Mails des Newsletter werden an diese E-Mail Adresse
                    verschickt. Diese E-Mail Adresse kann von der im
                    {% if app.user is null %}
                        Benutzerprofil
                    {% else %}
                        <a href="{{ path('fos_user_profile_edit') }}">Benutzerprofil</a>
                    {% endif %}
                    konfigurierten Adresse abweichen.</p>

                {{ form_label(form.isEnabled) }}
                {{ form_widget(form.isEnabled) }}
                <p class="help-block" id="help-newsletter-enable">Diese Option muss aktiviert sein, wenn Sie Newsletter erhalten möchten. Wenn Sie diese Option deaktivieren, werden an die oben genannte E-Mail Adresse keine E-Mails versandt.</p>

                <label class="control-label">Altersspanne</label>
                <p class="help-block" id="help-topic-age-range">Mithilfe des folgenden Bedienelementes können Sie die
                    Altersspanne konfigurieren, die für Sie von Interesse ist. Wenn Sie hier den linken Regler
                    beispielsweise auf 6 und den rechten auf 16 stellen, erhalten sie alle E-Mails zu Veranstaltungen
                    die für Kinder im Alter von 6 bis 16 Jahren interessant sind.</p>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-2 col-xs-6">
                        <label class="control-label">von</label>
                        {{ form_widget(form.ageRangeBegin) }}
                    </div>
                    <div class="col-sm-8  col-xs-12 contains-slider">
                        <input type="hidden" class="slider-input"
                               value="{{ form.ageRangeBegin.vars.value }},{{ form.ageRangeEnd.vars.value }}"/>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <label class="control-label">bis</label>
                        {{ form_widget(form.ageRangeEnd) }}
                    </div>
                </div>
                {{ form_label(form.useAging) }}
                {{ form_widget(form.useAging) }}
                <p class="help-block" id="help-topic-ageeing">Wenn diese Option aktivert ist wächst die abbonierte Altersspanne automatisch mit. Wenn Sie beispielsweise jetzt <i>{{ form.ageRangeBegin.vars.value }} bis {{ form.ageRangeEnd.vars.value }}</i> ausgewählt haben, wird nächstes Jahr um diese Zeit <i>{{ form.ageRangeBegin.vars.value+1 }} bis {{ form.ageRangeEnd.vars.value+1 }}</i> ausgewählt sein. </p>

                {{ form_label(form.subscribedEvents) }}
                {{ form_widget(form.subscribedEvents) }}
                <p class="help-block" id="help-topic-subscribed"> Ist diese Option aktiviert, erhalten Sie E-Mails zu Veranstaltungen, die den oben ausgewählten Veranstaltungen ähnlich sind. Wird von uns ein neuer Newsletter versendet, wählen wir einige verangene Veranstaltungen aus, die zum Thema des Rundbriefs passen oder die eine Nachfolgeveranstaltung darstellen.</p>

                <input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
                {{ form_end(form) }}
            </div>
            <div class="col-sm-5 col-sx-12">
                <p>Es ist uns sehr wichtig, dass Sie die volle Kontrolle darüber haben, welche Nachrichten Sie von uns
                    erhalten. Deshalb können Sie hier unter einigen Optionen wählen, oder die Rundbriefe auch jederzeit
                    ganz abbestellen. Sie sollen keine E-Mails zu Veranstaltungen erhalten, die für Sie nicht von
                    Interesse sind.</p>

                <p>Selbstverständlich sind wir von unseren Veranstaltungen überzeugt, und halten Sie gerne auf dem
                    Laufenden - wenn Sie das möchten!</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptCustom %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            var updateRange,
                    elAgeRangeBegin = $('#newsletter_subscription_ageRangeBegin'),
                    elAgeRangeEnd = $('#newsletter_subscription_ageRangeEnd'),
                    slider = $('.slider-input');

            updateRange = function () {
                var min = parseInt(elAgeRangeBegin.val()),
                        max = parseInt(elAgeRangeEnd.val()),
                        switcher;
                if (min > max) {
                    switcher = min;
                    min = max;
                    max = switcher;
                }
                slider.jRange('setValue', min + ',' + max);
            };

            elAgeRangeBegin.on('change', updateRange);
            elAgeRangeEnd.on('change', updateRange);

            slider.jRange({
                from: {{ constant('AppBundle\\Entity\\NewsletterSubscription::AGE_RANGE_MIN') }},
                to: {{ constant('AppBundle\\Entity\\NewsletterSubscription::AGE_RANGE_MAX') }},
                step: 1,
                scale: [0, 6, 12, 18],
                width: 200,
                format: function (value) {
                    if (value == 1) {
                        return '1 Jahr';
                    } else {
                        return value + ' Jahre';
                    }
                },
                onstatechange: function (value) {
                    value = value.split(',');
                    elAgeRangeBegin.val(value[0]);
                    elAgeRangeEnd.val(value[1]);
                },
                snap: true,
                showLabels: true,
                showScale: true,
                isRange: true
            });

            $('#preselectNone').on('click', function () {
                $('#newsletter_subscription_isEnabled').prop( "checked", false );
                $("#newsletter_subscription_subscribedEvents option:selected").prop("selected", false);
            });
            $('#preselectAll').on('click', function () {
                elAgeRangeBegin.val( {{ constant('AppBundle\\Entity\\NewsletterSubscription::AGE_RANGE_MIN') }});
                elAgeRangeEnd.val( {{ constant('AppBundle\\Entity\\NewsletterSubscription::AGE_RANGE_MAX') }});
                slider.jRange('setValue', '0,18');


                $('#newsletter_subscription_isEnabled').prop( "checked", true);
                $('#newsletter_subscription_useAging').prop( "checked", false);

                $("#newsletter_subscription_subscribedEvents option:selected").prop("selected", false);
            });



        });
    </script>
{% endblock %}
