<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2>Sitemap</h2>

            <h3><a href="{{ path('impressum') }}">Impressum</a></h3>

            <div itemscope itemtype="http://schema.org/Organization">
                <address>
                    <strong itemprop="name">Evangelisches Jugendwerk Vaihingen</strong><br>

                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Ackermannstr. 39</span><br>
                        <span itemprop="postalCode">70563</span> <span itemprop="addressLocality">Stuttgart</span><br>

                    </div>
                    {{ 'phone-alt'|glyph }} <span itemprop="telephone">(0711) 735 13 94</span><br>
                    {{ 'print'|glyph }} <span itemprop="faxNumber">(0711) 133 57 16</span><br>
                    {{ 'envelope'|glyph }} <span itemprop="email">mail@jugendwerk-vaihingen.de</span>
                </address>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">⁄
            <h3><a href="{{ path('homepage') }}">Veranstaltungen</a></h3>
            <ul>
                {{ render(controller('AppBundle:Event/Public:listActiveEventLinks')) }}
                <li><a href="{{ path('event_list') }}">Veranstaltungen listen</a></li>
                <li><a href="{{ path('event_new') }}">Veranstaltung verwalten</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('user_list') }}">Benutzer</a></h3>
            <ul>
                <li><a href="{{ path('user_list') }}">Benutzerliste</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('fos_user_profile_show') }}">Profil</a></h3>
            <ul>
                <li><a href="{{ path('fos_user_profile_edit') }}">Profil bearbeiten</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
                <li><a href="{{ path('public_participations') }}">Teilnahmen verwalten</a></li>
            </ul>

        </div>
    </div>
</div>