<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2>Sitemap</h2>

            <h3><a href="{{ path('imprint') }}">Impressum</a></h3>

            {{ customization.organizationCard|raw }}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('homepage') }}">Veranstaltungen</a></h3>
                {{ render(controller('AppBundle:Event/Public:listActiveEventLinks')) }}
            <ul>
                {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN_EVENT')) %}
                    <li><a href="{{ path('event_list') }}">Veranstaltungen verwalten</a></li>
                    <li><a href="{{ path('event_new') }}">Veranstaltung erstellen</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN_EVENT')) %}
                <h3>Anpassungen</h3>
                <ul>
                    <li><a href="{{ path('acquisition_list') }}">Felder verwalten</a> <a href="{{ path('acquisition_new') }}">(erstellen)</a></li>
                    <li><a href="{{ path('admin_variable_list') }}">Variablen verwalten</a> <a href="{{ path('admin_variable_new') }}">(erstellen)</a></li>
                    <li><a href="{{ path('attendance_column_list') }}">Anwesenheitslisten Spalten verwalten</a></li>
                </ul>
            {% endif %}
            {% if featureNewsletter %}
            <h3>Newsletter</h3>
            <ul>
                {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN_NEWSLETTER')) %}
                    <li><a href="{{ path('newsletter_admin_subscription_list') }}">Abonnements verwalten</a></li>
                {% endif %}
                <li><a href="{{ path('newsletter_subscription') }}">Abonnement verwalten</a></li>
                {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN_NEWSLETTER')) %}
                    <li><a href="{{ path('newsletter_admin_newsletter_list') }}">Newsletter verwalten</a></li>
                    <li><a href="{{ path('newsletter_admin_create') }}">Newsletter erstellen</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('fos_user_profile_show') }}">Konto</a></h3>
            <ul>
                <li><a href="{{ path('fos_user_security_logout') }}">Abmelden</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Profil bearbeiten</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
                <li><a href="{{ path('public_participations') }}">Anmeldungen verwalten</a></li>
            </ul>

            <h3>System</h3>
            <ul>
                <li><a href="{{ path('flash_list') }}">Meldungen verwalten</a></li>
                {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN_USER')) %}
                    <li><a href="{{ path('user_list') }}">Benutzer verwalten</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
