<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2>Sitemap</h2>

            <h3><a href="{{ path('imprint') }}">Impressum</a></h3>

            {{ customization.organizationCard|raw }}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('homepage') }}">Veranstaltungen</a></h3>
            {{ render(controller('AppBundle:Event/Public:listActiveEventLinks')) }}
        </div>
        {% if featureNewsletter %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3>Newsletter</h3>
            <ul>
                <li><a href="{{ path('newsletter_subscription') }}" title="Newsletter abonnieren">Abonnieren</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3>Konto</h3>
            <ul>
                <li><a href="{{ path('fos_user_security_login') }}">Anmelden</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Registrieren</a></li>
                <li><a href="{{ path('fos_user_resetting_request') }}">Passwort zurücksetzen</a></li>
            </ul>

        </div>
    </div>
</div>