<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2>Sitemap</h2>

            <h3><a href="{{ path('imprint') }}">Impressum</a></h3>

            {{ customization.organizationCard|raw }}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('homepage') }}">Veranstaltungen</a></h3>
            {{ render(controller('AppBundle\\Controller\\Event\\PublicController::listActiveEventLinksAction')) }}
        </div>
        {% if featureNewsletter %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3>Newsletter</h3>
            <ul>
                <li><a href="{{ path('newsletter_subscription') }}">Abonnement verwalten</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3><a href="{{ path('fos_user_profile_show') }}">Konto</a></h3>
            <ul>
                <li><a href="{{ path('fos_user_security_logout') }}">Abmelden</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Profil bearbeiten</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
                <li><a href="{{ path('public_participations') }}">Anmeldungen verwalten</a></li>
            </ul>

        </div>
    </div>
</div>
